{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Account Inactive" %}{% endblock %}

{% block content %}
  <div class="l-container">
    <div class="row">
      <div class="col s12">
        <div class="title -inner">{% trans "Account Inactive" %}</div>
    </div>
    </div>
    </div>

<p>{% trans "This account is inactive." %}</p>
{% endblock %}
