{% extends "account/base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load account socialaccount %}

{% block title %}{% trans "Sign In" %}{% endblock %}

<!-- TODO -->
{% comment %}
{% block header %}
  <div class="l-container">
    <div class="row">
      <div class="col s4 header__logo-wrapper">
        <a href="{% url 'bcs_client:getMain' %}" class="header__logo h-center"><img src="{% static 'bcs_client/images/logo.png' %}"></a>
        <div class="header__logo-text h-bold">Скоро
          <br/>Открытие</div>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}
  <div class="l-container">
    <div style="margin-bottom: 0;" class="row">
      <div class="col s8 h-muted">© 2016 BCS Global Markets</div>
    </div>
  </div>
{% endblock %}
{% endcomment %}
<!-- TODO -->

{% block header_action %}
  <div class="col s8 h-text-right">
    <a href="{{ signup_url }}" class="c-btn -s">
      <span class="c-btn__text">Зарегистрироваться</span>
    </a>
  </div>
{% endblock %}

{% block content %}
  <div class="login h-center">
    <div class="login__content h-text-center">
      <div class="title">Вход</div>
      <p style="margin-top: 50px;">Если вы ещё не участвуете в соревновании, <b><a href="{{ signup_url }}">зарегистрируйтесь</a></b></p>
      <form id="form_login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}

        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}

        <input type='hidden' name='form-name' value='form 1' />
        <div class="login__fields">
          <div class="input-field col s12">
            <input type="text" id="email" name="login" value="{{ form.login.value|default_if_none:'' }}">
            <label for="email" class="active">Email</label>
            {{ form.login.errors }}
          </div>
          <div class="input-field col s12">
            <input type="password" id="password" name="password" value="{{ form.password.value|default_if_none:'' }}">
            <label for="password" class="active">Пароль</label>
            {{ form.password.errors }}
            {{ form.non_field_errors }}
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <!-- <a href="/accounts/facebook/login/?process=login" class="social-icon">
              <svg viewBox="0 0 25 25" height="25px">
                <use xlink:href="#fb"></use>
              </svg>
            </a>

            <a href="#" class="social-icon">
              <svg viewBox="0 0 25 25" height="25px">
                <use xlink:href="#vk"></use>
              </svg>
            </a>
            <a href="#" class="social-icon">
              <svg viewBox="0 0 25 25" height="25px">
                <use xlink:href="#tw"></use>
              </svg>
            </a> -->

            <!-- <div class="socialaccount_ballot">
              <ul class="socialaccount_providers">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
              </ul>
              <div class="login-or">{% trans 'or' %}</div>
            </div>
            {% include "socialaccount/snippets/login_extra.html" %} -->

          </div>
          <div class="col s6 h-text-right">
            <button class="c-btn -red"><span class="c-btn__text">Войти</span></button>
          </div>
        </div>
        <div class="row login__footer"><a href="{% url 'account_reset_password' %}" class="h-link" style="font-size: 20px;">Восстановить пароль</a></div>
      </form>
    </div>
  </div>

  <script type="text/javascript">

    $(document).ready(function(){
        $('input:-webkit-autofill').each(function(){
                // if ($(this).val().length !== "") {
                    $(this).siblings('label, i').addClass('active');
                // }
                // alert($(this).val());
        });

        var activePassword = function() {
          if ($("#password").css('background-color') == 'rgb(250, 255, 189)') {
              $("[for=password]").addClass("active");
          }
        }
        activePassword();
        setInterval(activePassword, 500);
    });

  </script>
{% endblock %}