{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
  <div class="l-container">
    <div class="row">
      <div class="col s12">

    <div class="title -inner">{% trans "Set Password" %}</div>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>

    </div></div></div>
{% endblock %}
