{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Изменить пароль" %}{% endblock %}

{% block content %}
  <div class="l-container">
    <div class="row">
      <div class="col s12">

    <div class="title -inner">{% if token_fail %}{% trans "Неверный токен" %}{% else %}{% trans "Изменить пароль" %}{% endif %}</div>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}Ссылка не работает, возможно вы уже её использовали. Пожалуйста, повторите процедуру восстановления <a href="{{ passwd_reset_url }}">восстановить пароль</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action=".">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="c-btn -red" type="submit" ><span class="c-btn__text">{% trans 'изменить пароль' %}</span></button>
            </form>
        {% else %}
            <p>{% trans 'Ваш пароль изменён' %}</p>
        {% endif %}
    {% endif %}
    </div>
    </div>
    </div>
{% endblock %}
