{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Изменить пароль" %}{% endblock %}

{% block content %}
  <div class="l-container">
    <div class="row">
      <div class="col s12">
        <div class="title -inner">{% trans "Изменить пароль" %}</div>
        <p>{% trans 'Ваш пароль изменён' %}. Попробуйте <a href="{% url 'account_login' %}">войти</a></p>
    </div>
    </div>
    </div>
{% endblock %}
