{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Восстановить пароль" %}{% endblock %}

{% block content %}
  <div class="l-container">
    <div class="row">
      <div class="col s12">

        <div class="title -inner">{% trans "Восстановить пароль" %}</div>

        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p>{% blocktrans %}Мы отправили вам e-mail. Пожалуйста свяжитесь с нами, если вы не получили письмо в течение нескольких минут{% endblocktrans %}</p>
      </div>
    </div>
  </div>
{% endblock %}
