{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Восстановить пароль" %}{% endblock %}

{% block content %}
  <div class="l-container">
    <div class="row">
      <div class="col s12">

        <div class="title -inner">{% trans "Восстановить пароль" %}</div>

        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        {% trans "Забыли пароль? Введите ваш e-mail адрес, и мы отправим вам ссылку для восстановления" %}
        <br/><br/><br/>

        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            <div class="input-field col s12">
              <label for="id_email" class="active">E-mail:</label>
              <input id="id_email" name="email" placeholder="E-mail address" size="30" type="email" value="{{ form.email.value|default_if_none:'' }}">
            </div>
            <div class="row">
              <div class="col s12">
                <button class="c-btn -red" type="submit"><span class="c-btn__text">{% trans 'Восстановить пароль' %}</span></button>
              </div>
            </div>
        </form>

        <br/>
        {% blocktrans %}Если у вас возникнут проблемы, напишите нам на support@bcsquants.com{% endblocktrans %}
      </div>
    </div>
  </div>
{% endblock %}
