{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block content %}
  <div class="l-container">
    <div class="row">
      <div class="col s12">
        <div class="title -inner">{% trans "Sign Up Closed" %}</div>

        <p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
    </div></div></div>
{% endblock %}
