{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block header_action %}
  <div class="col s8 h-text-right">
  <a href="{% url 'account_login' %}" class="c-btn -s">
    <span class="c-btn__text">Войти</span>
  </a>
  </div>
{% endblock %}

{% block content %}
  <div class="login h-center">
    <div class="login__content h-text-center">
      <div class="title">Регистрация</div>
      <form method='post' action="{% url 'account_signup' %}">
      {% csrf_token %}

      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}

      <input type='hidden' name='form-name' value='form 1' />
      <div class="login__fields">
        <div class="input-field col s12">
          <input type="text" id="first_name" name="first_name" value="{{ form.first_name.value|default_if_none:'' }}" class="tooltipped" data-position="right" data-delay="25" data-tooltip="Пожалуйста, используйте ваши настоящие данные,</br> награждение будет по паспорту">
          <label for="first_name">Имя и Фамилия</label>
          <div class="red-text">{{ form.first_name.errors }}</div>
        </div>
        <div class="input-field col s12">
          <input type="text" id="email" name="email" value="{{ form.email.value|default_if_none:'' }}">
          <label for="email">Email</label>
          <div class="red-text">{{ form.email.errors }}</div>
        </div>
        <div class="input-field col s12">
          <input type="password" id="password" name="password1" value="{{ form.password1.value|default_if_none:'' }}">
          <label for="password">Пароль</label>
          <div class="red-text">{{ form.password1.errors }}</div>
        </div>
        <div class="input-field col s12">
          <input type="password" id="password_again" name="password2" value="{{ form.password2.value|default_if_none:'' }}">
          <label for="password_again">Пароль ещё раз</label>
          <div class="red-text">{{ form.password2.errors }}</div>
          <div class="red-text">{{ form.non_field_errors }}</div>
        </div>

        <!-- <div class="row registration__rules-link">
          <div class="col s12">
          <input id="rules" name="rules" type="checkbox">
          <label for="rules">
            Я согласен с условиями <a href="{% url 'bcs_client:agreement' %}" class="h-link -red">пользовательского соглашения</a>
          </label>
          </div>
          <div class="red-text">{{ form.rules.errors }}</div>
        </div> -->

      </div>
      <div class="row">
        <div class="col s12">
          <button class="c-btn -red"><span class="c-btn__text">Зарегистрироваться</span></button>
        </div>
      </div>
      </form>
    </div>
  </div>

  <script type="text/javascript">
        $(document).ready(function(){
          $('.tooltipped').each(function(index, element) { // html in tooltips
              var span = $('#' + $(element).attr('data-tooltip-id') + '>span:first-child');
              span.before($(element).attr('data-tooltip'));
              span.remove();
          });
      });
  </script>

{% endblock %}