{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'staticpage/ico/favicon.ico' %}">

	<title>{% block title %}{% endblock %}</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'staticpage/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'staticpage/css/main.css' %}" rel="stylesheet">

    <link href="{% static 'staticpage/css/font.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'staticpage/css/font2.css' %}" rel="stylesheet" type="text/css">

    <script src="{% static 'staticpage/js/jquery.min.js' %}"></script>

    <!-- script src="{% static 'staticpage/js/smoothscroll.js' %}"></script -->
    {% block head %}{% endblock %}
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#navigation">

    <!-- Fixed navbar -->
	<div id="navigation" class="navbar navbar-default navbar-fixed-top">
	  <div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/"><b>QuantForces</b></a>
	    </div>

        <div class="navbar-collapse collapse">
          {% if user.is_authenticated %}
            <ul class="nav navbar-nav">
              <li id="/contest/"><a href="/contest/">{% trans "Контесты" %}</a></li>
              <li id="/blog/"><a href="/blog/">{% trans "Примеры стратегий" %}</a></li>
              <li id="/accounts/profile/"><a href="/accounts/profile/">{% trans "Аккаунт" %}</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            	{% for lang in LANGUAGES %}
                <li>
                  <form name="setLang{{ lang.1}}" action="/i18n/setlang/" method="POST">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ request.path }}">
                    <input type="hidden" name="language" value="{{ lang.0 }}">
                    <a class="navbar-brand navbar-lang" href="#" onclick="document.setLang{{ lang.1 }}.submit(); return false;">
                      <img src=
                        "{% with 'staticpage/img/'|add:lang.1|add:'_flag.png' as image_static %}
                          {% static image_static %}
                        {% endwith %}"
                        alt="{{ lang.1 }}"
                      >
                    </a>
                  </form>
                </li>
              {% endfor %}
            </ul>
          {% else %}
            {% block navbar-menu %}{% endblock %}
            {% block navbar-user %}{% endblock %}
          {% endif %}
        </div>
	  </div>
	</div>

	{% block content %}{% endblock %}

<script src="{% static 'staticpage/js/bootstrap.min.js' %}"></script>

{% block end-scripts %}{% endblock %}

{% if user.is_authenticated %}
<script type="text/javascript">
  $(document).ready(function() {
    var url = window.location;
    //Will only work if string in href mathces with location
    $('ul.nav a[href="' + url + '"]').parent().addClass('active');
    //Will also work for relative and absolute hrefs
    $('ul.nav a').filter(function() {
      return this.href == url;
    }).parent().addClass('active');
  });
</script>
{% endif %}


<!--
<script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter25995673 = new Ya.Metrika({id:25995673, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true, trackHash:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/25995673" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
-->

</body></html>