{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
	{% trans "Контесты" %}
{% endblock %}

{% block head %}
<link href="{% static 'contest/css/contest.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
	<div id="main" class="col-sm-12 col-sm-offset-1">
		<h1>{% trans "Контесты" %}</h1>
		</br>
		<div id="information">
			{% if contests %}
			    <ul>
			    {% for contest in contests %}
			        <li><a href="{% url 'contest:detail' contest.id %}">{{ contest.name }}</a></li>	
			    {% endfor %}
			    </ul>
			{% else %}
			    <p>No Contests are available.</p>
			{% endif %}
		</div>
	</div>
{% endblock %}