{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block head %}
  <link rel="stylesheet" href="{% static 'sandbox/codemirror/codemirror.css' %}">
  <script src="{% static 'sandbox/codemirror/codemirror.js' %}"></script>
  <script src="{% static 'sandbox/codemirror/matchbrackets.js' %}"></script>
  <script src="{% static 'sandbox/codemirror/python.js' %}"></script>
  <style type="text/css">.CodeMirror {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
  }

   <style>
    .mprogress {
     width:50%;
     background:yellow;
    }
    .mbar {
     height:15px;
     width:0%;
     background:tomato;
     text-align:right;
    }
   </style>

  </style>
  <link href="{% static 'contest/css/contest.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}
  Соревнование {{ contest.name }}
{% endblock %}

{% block content %}
  <div id="main" class="col-sm-12">
    <h1>{{ contest.name }}</h1>
    <div class="btn-group col-sm-6 col-sm-offset-3" role="group">
        <button id="description-btn" type="button" class="btn btn-default active">{% trans "Описание" %}</button>

        <button id="send-algo-btn" type="button" class="btn btn-default">{% trans "Отправить решение" %}</button>
    </div>
    </br></br>
    <div id="information">
      <div id="description">

        {{ contest.description | safe }}

        Общее время: {{ contest.time_limit }} с</br>
        Время итерации: {{ contest.time_step_limit }} с</br>
        Общая память: {{ contest.memory_limit }} mb</br>

        <a href="{{ contest.marketData.open_data.url }}">{% trans 'Скачать открытые данные' %}</a>

      <hr>
        {% if attempts %}
          <table>
            <tr>
              <td>{% trans 'Имя стратегии' %}</td>
              <td>{% trans 'Статус' %}</td>
            </tr>
          {% for attempt in attempts %}
            <tr>
              <td><a href="{% url 'attempt:detail' attempt.id %}">
                {% if attempt.name %}
                  {{ attempt.name }}
                {% else %}
                  {{ attempt.user }} {{ attempt.id }}
                {% endif %}
              </a></td>
              <td>
                {% if attempt.status == 'S' %}
                  {% if task_id %}
                    <div class="mprogress">
                      <div class="mbar"></div>
                    </div>
                  {% endif %}
                {% else %}
                  {{ attempt.status }}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
          </table>
        {% else %}
          <p>{% trans "No Attempts are available" %}.</p>
        {% endif %}
      </div>

        <div id="send-algo">
          {% if user.is_authenticated %}
            {% include "sandbox/sandbox.html" %}
          {% else %}
            {% trans "Для отправки решений" %} <a href="{% url 'registration_register' %}">{% trans "зарегистрируйтесь" %}</a>
          {% endif %}
        </div>

    </div>
  </div>
{% endblock %}

{% block end-scripts %}

  {% if task_id %}
    <script type="text/javascript">
      jQuery(document).ready(function() {
        // pole state of the current task
        var PollState = function(task_id) {
          jQuery.ajax({
            url: "poll_state/",
            type: "POST",
            data: "task_id=" + task_id,
            success: function(task){
              console.log(task);
              console.log(task.process_percent);
              if (task.process_percent) {
                jQuery('.mbar').css({'width': task.process_percent + '%'});
                jQuery('.mbar').html(task.process_percent + '%')
              }
              // create the infinite loop of Ajax calls to check the state
              // of the current task
              if (task != 'SUCCESS') {
                setTimeout(function(){PollState(task_id);}, 5000);
              } else {
                $('.mprogress').html('Finish');
              }
            },
            error: function(xhr, str){
              alert('Возникла ошибка: ' + xhr.responseCode);
            }

          });
        }

        PollState('{{ task_id }}');
      });
    </script>
  {% endif %}

  <script type="text/javascript">
    $(".btn-group > .btn").click(function(){
      $(this).addClass("active").siblings().removeClass("active");
      $("#information").children("div").hide();
      if (this.id === "strategy-btn") {
        $('#strategy').show();
      } else if (this.id === "description-btn") {
        $('#description').show();
      } else if (this.id === "send-algo-btn") {
        $('#send-algo').show();
      }
    });
  </script>
{% endblock %}
