{% extends "base.html"  %}
{% load i18n %}
{% block content %}
<h1>{% trans "Регистрация завершена" %}</h1>
{% trans "На ваш e-mail отправлен код подтверждения. Необходимо подтвердить регистрацию, просто кликнув по указанной ссылке." %}
<br/><br/>
{% endblock %}