input:-webkit-autofill { +label { @extend .active; } } }

a {
    color: #de0020;
}

.h-text-center {
    text-align: center
}

.h-text-right {
    text-align: right
}

.h-text-left {
    text-align: right
}

.h-bold {
    font-weight: 700
}

.h-muted {
    color: #a2a5a6
}

.h-red {
    color: #de0020
}

.h-default {
    color: #262626
}

.h-left {
    float: left
}

.h-right {
    float: right
}

.h-ovh {
    overflow: hidden
}

.h-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.h-relative {
    position: relative
}

.h-hidden {
    display: none
}

.h-link {
    color: #262626;
    text-decoration: none;
    -webkit-transition: color 0.2s ease-in 0s;
    transition: color 0.2s ease-in 0s
}

.h-link:hover {
    color: #de0020;
    text-decoration: none
}

.h-link.-red {
    color: #de0020
}

.h-link.-red:hover {
    color: #ff4560
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after {
    content: '';
    content: none
}

q:before,
q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.l-container {
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    box-sizing: border-box;
    padding-left: 14px;
    padding-right: 14px
}

.l-container.-outer {
    width: 1170px
}

@media (max-width: 1200px) {
    .l-container.-outer {
        width: 970px
    }
}

.header__logo-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 86px
}

.header__logo {
    width: 113px;
    height: 39px;
    line-height: 39px
}

.header__logo img {
    height: 100%
}

.header__logo-text {
    margin-left: 25px;
    padding-left: 25px;
    border-left: 1px solid #dde0e5;
    font-size: 17px;
    line-height: 20px;
    text-transform: uppercase;
    background: -webkit-linear-gradient(left, #fd043b, #97020c);
    background: linear-gradient(to right, #fd043b, #97020c);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent
}

.c-btn {
    padding: 0;
    margin: 0;
    box-shadow: none;
    outline: none;
    border: none;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    color: #fff;
    fill: #fff;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    white-space: nowrap;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    line-height: 36px;
    font-size: 14px;
    border-radius: 40px;
    background-color: #262626;
    -webkit-transition: background-color 0.2s ease-in 0s;
    transition: background-color 0.2s ease-in 0s
}

.c-btn:hover {
    background-color: #595959
}

.c-btn__text {
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    padding: 0 20px
}

.c-btn.-s {
    font-size: 12px
}

.c-btn.-hollow {
    border: 2px solid #262626;
    background-color: transparent;
    color: #262626
}

.c-btn.-hollow:hover {
    color: #595959;
    border-color: #595959
}

.c-btn.-muted {
    background-color: #efefef;
    color: #c1c1c1
}

.c-btn.-muted:hover {
    background-color: #fff
}

.c-btn.-red {
    background-color: #de0020
}

.c-btn.-red:hover {
    background-color: #ff4560
}

.c-btn.-red.-hollow {
    border: 2px solid #de0020;
    color: #de0020;
    background-color: transparent
}

.c-btn.-red.-hollow:hover {
    color: #ff4560;
    border-color: #ff4560
}

.c-btn.-row {
    margin-right: 20px
}

.c-table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%
}

.c-table.-border tbody td {
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb
}

.c-table.-border tbody td:first-child {
    border-left: none
}

.c-table.-border tbody td:last-child {
    border-right: none
}

.c-table thead {
    background-color: #f1f2f4;
    text-align: left;
    border-bottom: none
}

.c-table thead a {
    text-decoration: none;
    color: inherit
}

.c-table thead th {
    height: 50px;
    padding: 0 15px;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    vertical-align: middle
}

.c-table tbody td {
    height: 50px;
    line-height: 1.5;
    vertical-align: middle;
    white-space: nowrap;
    font-size: 14px;
    padding: 0 15px
}

.c-table tbody tr {
    border-bottom: 1px solid #ebebeb
}

.c-table tbody tr:hover {
    background-color: #fff
}

.c-table tbody tr.-selected td:first-child {
    box-shadow: 2px 0px 0px #de0020 inset
}

.c-table__warning {
    background-color: #f3f0e5;
    color: #94885d
}

.c-table__warning:hover {
    background-color: #f3f0e5 !important
}

.c-table__warning svg {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 10px
}

.c-table__warning.-big {
    background-color: transparent;
    color: #262626;
    border-bottom: none;
    border-top: 2px solid #f1f2f4
}

.c-table__warning.-big:hover {
    background-color: transparent !important
}

.c-table__warning.-big td {
    padding-top: 30px
}

.c-table__warning.-big svg {
    margin-right: 30px;
    float: left;
    width: 90px;
    height: 90px;
    vertical-align: middle
}

.c-table__sort-arrow {
    color: #c9c9cb
}

.c-pagination {
    margin-top: 40px;
    padding-left: 10px
}

.c-pagination__item {
    margin: 0 10px;
    display: inline-block;
    width: 24px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: #262626;
    text-decoration: none
}

.c-pagination__item:hover {
    color: #de0020
}

.c-pagination__item.-active {
    background-color: #de0020;
    border-radius: 6px;
    color: white
}

.c-pagination__item.-delimiter {
    color: #b9b9b9
}

.c-label {
    display: inline-block;
    border: 1px solid #262626;
    font-size: 13px;
    padding: 0 10px;
    line-height: 20px;
    border-radius: 4px
}

.c-label.-active {
    background-color: #262626;
    color: white
}

.c-label.-error {
    border-color: #de0020;
    color: #de0020
}

.c-label.-disabled {
    opacity: 0.7
}

.menu__item {
    display: inline-block;
    margin-right: 35px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #262626;
    height: 85px;
    box-sizing: border-box;
    vertical-align: top
}

.menu__item:hover {
    color: #de0020
}

.menu__item.-selected {
    border-bottom: 2px solid #de0020
}

.menu__item-text {
    position: relative;
    display: inline-block;
    vertical-align: middle
}

.menu__item-text.-plus:before {
    position: absolute;
    left: -30px;
    top: 30px;
    line-height: 26px;
    width: 26px;
    text-align: center;
    content: '+';
    border-radius: 50%;
    background-color: #de0020;
    color: white;
    font-size: 21px;
    font-weight: 400
}

.menu__account-icon {
    width: 50px;
    height: 50px;
    -webkit-transform: translate(0, 20px);
    transform: translate(0, 20px)
}

.menu__item-helper {
    position: absolute;
    top: -12px;
    right: -12px;
    font-size: 10px;
    color: #bdbdbd
}

.tabs {
    overflow: hidden;
    margin-bottom: -2px
}

.tabs__item {
    position: relative;
    float: left;
    height: 65px;
    line-height: 65px;
    box-sizing: border-box;
    padding: 0 20px 0 40px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border: 2px solid #f1f2f4;
    border-left: none;
    border-right: none;
    cursor: pointer
}

.tabs__item:after {
    content: ' ';
    position: absolute;
    top: -2px;
    left: 15px;
    height: 100%;
    width: 99%;
    box-sizing: unset;
    z-index: 5;
    border: 2px solid #f1f2f4;
    border-left: none;
    background-color: #fafafa;
    -webkit-transform: skewX(25deg);
    transform: skewX(25deg)
}

.tabs__item:first-child {
    padding-left: 20px;
    border-left: 2px solid #f1f2f4
}

.tabs__item.-active {
    border-top: 2px solid #de0020;
    background-color: #f1f2f4
}

.tabs__item.-active:after {
    background-color: #f1f2f4;
    border-top: 2px solid #de0020
}

.tabs__item-text {
    position: relative;
    z-index: 10
}

.tabs__item-text.-dot:before {
    color: #de0020;
    content: '●';
    padding-right: 5px
}

.card {
    margin-bottom: 30px;
    position: relative;
    box-sizing: border-box;
    height: 250px;
    padding: 105px 30px 20px;
    border: 2px solid #e5e5e5;
    -webkit-transition: all 0.1s ease-in 0s;
    transition: all 0.1s ease-in 0s
}

.card:hover {
    background-color: white;
    border-color: white;
    cursor: pointer
}

.card__icon {
    position: absolute;
    top: 20px;
    left: 30px;
    -webkit-transform: translate(-128px, -20px);
    transform: translate(-128px, -20px)
}

.card__description {
    font-size: 17px;
    line-height: 20px;
    font-weight: 700
}

.card__footer {
    position: absolute;
    bottom: 20px;
    left: 30px;
    width: 100%;
    font-size: 14px
}

.card__footer svg {
    margin-right: 5px;
    width: 16px;
    height: 16px;
    color: #de0020;
    vertical-align: middle
}

.card.-horizontal {
    height: 170px;
    padding: 25px 30px 30px 125px
}

.card.-horizontal .card__footer {
    left: 125px
}

.ticker {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 160px;
    box-sizing: border-box;
    padding: 20px 25px 15px;
    border: 2px solid #dde0e5
}

.ticker:nth-child(4n) {
    margin-right: 0
}

.ticker__title {
    margin-bottom: 30px;
    text-transform: uppercase
}

.ticker__index {
    width: 40%
}

.ticker__line {
    position: relative;
    height: 2px;
    background-color: #e9e9e9
}

.ticker__line-value {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 5;
    background-color: #262626
}

.ticker__line-value.-red {
    background-color: #de0020
}

.ticker__value {
    margin-top: 10px;
    font-size: 14px
}

.login {
    height: 100%;
    width: 100%;
    padding-top: 70px;
    min-height: 500px;
    box-sizing: border-box;
    -ms-flex-flow: column;
    flex-flow: column
}

.login__content {
    width: 600px
}

.login__fields {
    margin-top: 70px;
    margin-bottom: 70px
}

.login__field {
    margin-bottom: 30px
}

.login__footer {
    margin-top: 70px
}

.social-icon {
    margin-right: 15px;
    float: left;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #262626;
    color: #262626
}

.social-icon:hover {
    color: white;
    background-color: #262626
}

.social-icon svg {
    margin-top: 10px
}

.left-menu {
    padding-top: 50px;
    border-right: 1px solid #e5e5e5
}

.left-menu__item {
    display: block;
    color: #de0020;
    margin-bottom: 25px
}

.left-menu__item:hover {
    color: #262626
}

.left-menu__item.-active {
    color: #262626
}

.wiki__content-wrapper {
    max-height: 100%;
    overflow: scroll
}

.wiki__content {
    /*padding-left: 50px;
    padding-right: 30px;*/
    padding-bottom: 50px;
    padding-top: 25px;
}

.wiki__content p {
    margin: 25px 0;
    line-height: 23px
}

.error-trace {
    border: 2px solid #de0020
}

.error-trace__title {
    padding: 0 15px;
    line-height: 45px;
    background-color: #de0020;
    color: white
}

.error-trace__text {
    padding: 15px;
    line-height: 25px;
    color: #de0020
}

.strategy__status {
    display: inline-block;
    margin-bottom: 30px;
    line-height: 35px;
    padding: 0 15px;
    color: #c5bfaa;
    background-color: #f3f0e5;
    border-radius: 4px
}

.strategy__points {
    margin-right: 90px;
    float: left;
    overflow: hidden
}

.strategy__points-value {
    margin-top: 10px;
    font-size: 37px
}

.account__upload-description {
    margin-bottom: 35px
}

.file-upload {
    position: relative;
    border: 2px solid #e1e1e1;
    height: 90px
}

.file-upload input {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    opacity: 0;
    cursor: pointer
}

.file-upload__icon-wrapper {
    height: 100%;
    float: left;
    width: 90px;
    box-sizing: border-box;
    border-right: 2px solid #e1e1e1
}

.file-upload__icon-container {
    border-radius: 50%;
    border: 1px solid black;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 20px;
    top: 17px
}

.file-upload__icon {
    height: 30px;
    -webkit-transform: translate(-125px, 8px);
    transform: translate(-125px, 8px)
}

.file-upload__details {
    overflow: hidden;
    padding: 20px 30px
}

.file-upload__title {
    font-size: 20px;
    white-space: nowrap
}

.file-upload__helper {
    margin-top: 10px;
    white-space: nowrap
}

html {
    height: 100%
}

body {
    position: relative;
    min-height: 100%;
    height: 100%;
    min-width: 1200px;
    background-color: #fafafa;
    font-family: 'Roboto';
    font-weight: 400;
    color: #262626
}

header {
    margin-bottom: -86px;
    height: 86px;
    box-sizing: border-box;
    background-color: white;
    border-bottom: 1px solid #dde0e5;
    line-height: 86px
}

main {
    box-sizing: border-box;
    padding-top: 86px;
    padding-bottom: 160px;
    min-height: 100%
}

main.-window {
    height: 100%;
    min-height: 600px;
    padding-bottom: 60px
}

main.-window .l-container,
main.-window .row,
main.-window .col.s3,
main.-window .left-menu {
    height: 100%
}

footer {
    margin-top: -60px;
    height: 60px;
    background-color: #efefef;
    line-height: 60px;
    font-size: 12px
}

.title {
    font-size: 37px;
    font-weight: 700;
    color: #de0020;
    text-transform: uppercase
}

.title.-inner {
    margin: 50px 0
}

.title__helper {
    margin: 50px 0;
    font-size: 16px;
    line-height: 20px
}

.subtitle {
    margin: 15px 0;
    font-size: 25px;
    font-weight: 700
}

.editor img {
    width: 100%
}

.registration__rules-link {
    margin-top: 70px
}

.registration__rules-link label {
    color: #262626
}

.icon-star {
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
    color: #d0d0d0;
    cursor: pointer
}

.icon-star:hover {
    color: #de0020
}

.icon-star.-red {
    color: #de0020
}

.icon-star svg {
    width: 16px;
    height: 16px
}

.loader__item {
    display: inline-block;
    margin: 0 5px;
    width: 20px;
    height: 5px;
    border-radius: 5px;
    background-color: #e8e8e8
}

.loader__item.-active {
    background-color: #a5a5a5
}