{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
  Песочница торговых стратегий
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'sandbox/codemirror/codemirror.css' %}">
  <script src="{% static 'sandbox/codemirror/codemirror.js' %}"></script>
  <script src="{% static 'sandbox/codemirror/matchbrackets.js' %}"></script>
  <script src="{% static 'sandbox/codemirror/python.js' %}"></script>
  <style type="text/css">.CodeMirror {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
  }
  </style>

  <script type="text/javascript">
    var langs = {
      {% for name, lang in languages.items %}
        "{{ lang.name }}": "{{ lang.code|escapejs }}",
      {% endfor %}
    };
  </script>

{% endblock %}

{% block content %}
  <table>
    <tr>
      <td>
        <form id="form_code" style="margin-left:10%;" action="" method="post">
          {% csrf_token %}

          <br/>
          {% if not show_mode %}
	          <input type="text" name="name" placeholder="Name of strategy"> </input>
	          <select size="1" name="language" id="select_lang">
	            {% for name, lang in languages.items %}
	              <option value="{{ lang.name }}">{{ lang.full_name }}</option>
	            {% endfor %}
	          </select>
	          <!-- <select size="1" name="marketData">
	            {% for data in marketData %}
	              <option value="{{ data.id }}">{{ data.name }}</option>
	            {% endfor %}
	          </select>  -->

        	  <button id="btn_code" type="submit" class="btn btn-default">Send algo</button>
          {% endif %}
          <div>
            <textarea id="code" name="code" rows="20">{{ code }}</textarea>
          </div>
        </form>
      </td>
      <td>
        <div style="margin-left:100px;">
          {{ console }}
          {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
          {% endif %}
        </div>
      </td>
    </tr>
  </table>

  <script type="text/javascript">
    var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
        mode: { name: "python",
                version: 2,
                singleLineStringErrors: false
              },
        lineNumbers: true,
        indentUnit: 4,
        matchBrackets: true
    });

    function select_refesh() {
      var select_lang = $("#select_lang option:selected").val();
      // editor.setValue(langs[select_lang]);

      // var code = editor.getValue();
      // if (code) {
      //   langs[select_lang]
      // }
    }

    select_refesh();
    $("#select_lang").change(function(){
      // select_refesh();
    })

  </script>


{% endblock %}