{% load staticfiles %}

<!DOCTYPE HTML>
<html>
	<head>

		<title>TradingView Charting Library demo</title>

		<!-- Fix for iOS Safari zooming bug -->
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">

		<script type="text/javascript" src="//code.jquery.com/jquery-1.11.2.min.js"></script>
		<script>window.jQuery || document.write('<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"><\/script>')</script>
		<script type="text/javascript" src="{% static 'tradingview/charting_library/charting_library.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'tradingview/charting_library/datafeed/udf/datafeed.js' %}"></script>

		<script type="text/javascript">

            function getParameterByName(name) {
                name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
                var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                        results = regex.exec(location.search);
                return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
            }

			TradingView.onready(function()
			{
				var widget = window.tvWidget = new TradingView.widget({
					fullscreen: true,
					symbol: 'SBER',
					interval: '5',
					container_id: "tv_chart_container",
					//	BEWARE: no trailing slash is expected in feed URL
					// datafeed: new Datafeeds.UDFCompatibleDatafeed("https://demo_feed.tradingview.com"),
					datafeed: new Datafeeds.UDFCompatibleDatafeed("https://bcsquants.com/tradingview", 60000), // 60 sec update
					library_path: "azaza/",
					locale: getParameterByName('lang') || "ru",
					//	Regression Trend-related functionality is not implemented yet, so it's hidden for a while
					drawings_access: { type: 'black', tools: [ { name: "Regression Trend" } ] },
					disabled_features: ["use_localstorage_for_settings"],
					// enabled_features: ["move_logo_to_main_pane"],
					// enabled_features: ["study_templates"],
					charts_storage_url: 'https://bcsquants.com/tradingview/saveload',
                    charts_storage_api_version: "1.1",
					client_id: 'bcsquants.com',
					user_id: 'public_user_id'
				});
			});

		</script>

	</head>

	<body style="margin:0px;">
		<div id="tv_chart_container"></div>
	</body>

</html>
