{% load i18n %}
{% load account %}

{% user_display user as user_display %}
<p><strong>{% trans "Предупреждение" %}:</strong> {% blocktrans %}вы уже авторизованы как {{ user_display }}{% endblocktrans %}</p>
</br>
