{% extends "base.html" %}
{% load i18n %}

{% block title %}
	{% trans "Профиль" %}
{% endblock %}

{% block content %}
	<h1>{% trans "Профиль" %}</h1>
	</br>
	{% if user.is_authenticated %}
		{% trans "Привет" %}, {{ user.username }}?
		{% trans "Можно" %} <a href="{% url "account_logout" %}">{% trans "выйти" %}</a>.<br/><br/>
	{% endif %}
{% endblock %}