{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
  Стратегия, {{ article.name }}
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'sandbox/codemirror/codemirror.css' %}">
  <script src="{% static 'sandbox/codemirror/codemirror.js' %}"></script>
  <script src="{% static 'sandbox/codemirror/matchbrackets.js' %}"></script>
  <script src="{% static 'sandbox/codemirror/python.js' %}"></script>
  <style type="text/css">
  .CodeMirror {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
  }
  p {
    margin-bottom: 0px;
  }
  </style>
{% endblock %}

{% block content %}
  <div class="container">
    <h1>{{ article.name }}</h1>
  </div>

  {% for example in article.examples.all %}
      <div class="container" style="padding-top: 20px;">
        <textarea id="code" name="code" rows="20">{{ example.code }}</textarea>
      </div>
  {% endfor %}

  <div class="container" style="padding-top: 20px;">
    {{ article.description | safe }}
  </div>

  <script type="text/javascript">
    var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
        mode: { name: "python",
                version: 2,
                singleLineStringErrors: false
              },
        lineNumbers: true,
        indentUnit: 4,
        matchBrackets: true
    });
  </script>
{% endblock %}