@media all and (max-width : 1150px){ 

	/* Top */
	.logo{margin-left:0;}
	.si-phone{margin-right:0;}
	
	/* Header */
	.header-usp{width:80%;}
	
	/* Conditions */
	.condition-item{margin:0 1% 50px;}
	.condition-item:nth-child(4){width:48%;}
	.condition-item:nth-child(5){width:48%;}
		.condition-text{opacity:1;-moz-transform: translateY(0);-webkit-transform: translateY(0);-o-transform: translateY(0);-ms-transform: translateY(0);transform: translateY(0);}
	
	/* USP */
	.usp-item{width:50%;}
	
	/* Online */
	.online-title{font:300 36px/40px Myriad}
	
	/* Miles */
	.miles-text{padding-left:0;}
	
	/* Select */
	.select{margin:30px 0;}
	
	/* Awards */
		.awards-wrapper{width:690px;margin:0 auto;}
		
	/* Certs */
		.certs-wrapper{width:690px;margin:0 auto;}
	
	/* Contacts */
		.contact-item{width:100%;margin:0 0 30px;}
	
}


@media all and (max-width : 960px){ 

	/* html{font:16px/24px Myriad;} */
	
	br.only-small{display:block;}
	
	/* Top */
	.si-phone{width:132px;}
		.si-phone-phone{margin:0;}
			.si-phone-phone i{display:none;}
		.si-phone .modal-link{padding:0;border:0;color:#023062;border-bottom:1px dashed;font-size:12px;line-height:20px;}
		.si-phone .modal-link:hover{color:#000;}
			.si-phone .modal-link:before,.si-phone .modal-link:after{display:none}
	
	/* Page form */
	.page-form-left,.page-form-right{margin:0;}
	
	/* Expert */
	.expert-text{width:60%}
	
	/* Online */
	#online{text-align:center;padding:10px 0 30px;}
	#online .centered{text-align:center;}
		.online-title{font:300 24px/30px Myriad}
		.online-text{float:none;width:70%;box-sizing:border-box;font:300 26px/30px Myriad;display:inline-block;vertical-align:top;text-align:left;}
			.online-text-inner{margin:20px 0 0;}
		.online-form{float:none;width:70%;box-sizing:border-box;display:inline-block;vertical-align:top;text-align:left;margin:20px 0 0;}
	
	/* Miles */
	#miles .centered{text-align:center;}
		.miles-text{text-align:left;display:inline-block;width:80%;float:none;padding:30px 0 0 0;}
		.miles-form{text-align:left;float:none;width:auto;display:inline-block;width:80%;}
	
	/* Select */
		.select{margin:30px 0;}
			.select-item{width:100%;border:1px solid #e7ecef;border-bottom:0 !important;display:block;}
			.select-item:last-child{border-bottom:1px solid #e7ecef !important;}
				.select-title{cursor:pointer;}
					.select-title:after{display:block;}
				.select-text{display:none;}
					.select-text .button{display:none;}
	
	/* About */
		.about-title{font:300 20px/26px Myriad;}
		.about-line{margin:10px auto;}
		.about-text{font:12px/20px Myriad}
	
	/* Awards */
		.awards-wrapper{width:460px;margin:0 auto;}
		
	/* Certs */
		.certs-wrapper{width:460px;margin:0 auto;}
	
	/* Underfooter */
		.copyright{position:relative;padding:0 0 20px;text-align:center;left:0;}
	
	/* Map */
		.contact-map .map-zoom{top:-40px;background:#000;height:685px;opacity:.5;width:100px;right:0;}
			.contact-map .map-zoom span{margin-left:auto;margin-right:auto;}
			.contact-map .map-zoom .plus{margin-top:280px;}

}

@media all and (max-width : 760px){ 
	
	h1{font:300 50px/50px Myriad}
	h2{font:300 32px/45px Myriad}
	h3{font:300 22px/26px Myriad;padding:15px 0;}
	
	/* Icons */
	.header-usp-icon{margin:0 0 15px;}
	
	/* Header */
	.header-content{padding:130px 0 0 0;}
	header.pro .header-content{padding:130px 0 0;}
		.header-usp{width:100%;}
		.header-next-wrapper{display:none;}
		header .centered{padding-bottom:50px;}
	
	#top-nav-mobile{display:block}
	#top-nav{display:none}
	
	/* Page form */
	.page-form-right{padding-top:30px;}
		.form-agree.for-pc{display:none;}
		.form-agree.for-phones{display:block;text-align:left;margin:0 0 0 32px}
		
	/* Conditions */
	.condition-item{width:48%;}
	.condition-item:last-child{width:98%;}
	
	/* USP */
	.usp-item{font:14px/20px Myriad;}
		.usp-item h3{font-size:22px}
	
	/* Expert */
		.expert-title{font:300 30px/30px Myriad}
		.expert-subtitle{font:14px/20px Myriad}
		.expert-text-inner{font:14px/20px Myriad;margin-top:20px;}
	
	/* Online */
		.online-title br{display:none}
		.online-text-inner{font:14px/20px Myriad}
	
	/* Miles */
		.miles-text{width:100%;}
			.miles-title{font:300 24px/30px Myriad}
			.miles-circles{}
				.miles-circle-item{min-width:200px;}
			.miles-nb{font:12px/20px Myriad;}
		.miles-form{width:100%;}
	
	/* About */
		.about-subtitle{font:14px/20px Myriad}
		.about-item{width:45%;margin:0 0 40px;}
		.about-text{opacity:1;-moz-transform: translateY(0);-webkit-transform: translateY(0);-o-transform: translateY(0);-ms-transform: translateY(0);transform: translateY(0);}
	
	/* Map */
	.contact-map{height:auto;}
	.contact-map .map-controls{position:relative;height:auto;width:auto;top:auto;}
		.contact-map .map-zoom{top:-705px;right:-20px;}
		.contact-map .points{position:relative;margin:20px auto;left:auto;top:auto;}
		.contact-map .point-detail{position:relative;margin:20px auto;left:auto;top:auto;}
	
}

@media all and (max-width : 600px){ 

	/* USP */
	.usp-item{width:50%;}
	
	/* Expert */
	.expert-image{display:none;}
	.expert-text{padding-left:0px;width:100%;padding-right:20px;}
		.expert-title{padding-left:20px;padding-right:20px;}
		.expert-subtitle{margin-left:20px;}
		.expert-text-inner{padding-left:20px;}
	
	.expert-name{display:none;}
	.expert-name-mobile{display:block;margin:30px 0 0;}
	
	/* Miles */
		.miles-title{text-align:center;}
		.miles-circle{float:none;margin:0 auto;}
			.miles-circle-item{margin:0 0 30px}
				.miles-circle-text{clear:both;}
				.miles-circle-text-inner{display:block;text-align:center;height:auto;}
			.miles-nb{text-align:center;}
		.miles-form{text-align:center;width:100%;}
		
	/* About */
		.about-subtitle{font:11px/16px Myriad}
		.about-item{width:100%;margin:0 0 20px;}
			.about-icon-wrapper{background:#efb810}
			
	/* Awards */
		.awards-wrapper{width:230px;margin:0 auto;}	
						
	/* Certs */
		.certs-wrapper{width:230px;margin:0 auto;}	
			
	/* Contacts */
		.contacts{margin:0;}
	
	/* Modals */
	.si-modal-inner-2{padding:20px;}
		.modal-form .form-title{font:300 30px/30px Myriad}
		.modal-time{font:14px/20px Myriad}
		
		.text-modal h2{padding:0 0 20px;text-align:left;font:24px/30px Myriad;}
		.text-modal{font:10px/14px Myriad;}
		
		.si-success-modal{text-align:center;font:16px/20px Myriad;}
			.si-success-modal h2{font:300 24px/30px Myriad;padding:0 0 20px;color:#000;}
			.success-time{font:14px/20px Myriad;padding:20px 0 10px;color:#000;}
		
}


@media all and (max-width : 470px){ 
	
	h1{font:300 30px/30px Myriad;}
	h2{font:700 20px/30px Myriad;}
	h3{font:14px/20px Myriad;padding:10px 0;}
	
	.icon{background-size:300px 300px;}
	.extra-icon{background-size:90px 60px;}
	.header-usp-icon{height:35px;margin:0 0 10px;}
	.header-usp-icon.extra-icon{height:35px;margin:0 0 10px;}
		.header-usp-icon.i-1{width:27px;background-position:0 0;}
		.header-usp-icon.i-2{width:26px;background-position:-28px 0;}
		.header-usp-icon.i-3{width:27px;background-position:-56px 0;}
		.header-usp-icon.i-4{width:25px;background-position:-84px 0;}
		.header-usp-icon.i-5{width:36px;background-position:-109px 0;}
		.header-usp-icon.i-6{width:27px;background-position:-146px 0;}
		.header-usp-icon.extra-icon.i-1 {width: 25px;background-position: -2px -2px;}
		.header-usp-icon.extra-icon.i-2 {width: 25px;background-position: -33px -2px;}
		.header-usp-icon.extra-icon.i-3 {width: 25px;background-position: -2px -33px;}
	.condition-icon{height:28px;}
	.condition-icon.extra-icon{height:28px;}
		.condition-icon.i-1{width:53px;background-position:-79px -200px;}
		.condition-icon.i-2{width:31px;background-position:-28px -36px;}
		.condition-icon.i-3{width:28px;background-position:-60px -36px;}
		.condition-icon.i-4{width:32px;background-position:-89px -36px;}
		.condition-icon.i-5{width:30px;background-position:-123px -36px;}
		.condition-icon.i-7{width:51px;background-position:-135px -200px;}
		.condition-icon.extra-icon.i-1 {width: 25px;background-position: -32px -32px;}
		.condition-icon.extra-icon.i-2 {width: 25px;background-position: -32px -2px;}
		.condition-icon.extra-icon.i-3 {width: 25px;background-position: -62px -2px;}
		.condition-icon.extra-icon.i-4 {width: 25px;background-position: -2px -32px;}
		.condition-icon.extra-icon.i-5 {width: 25px;background-position: -62px -32px;}
	.usp-icon{width:70px;height:66px;margin:0 auto 5px;}
		.usp-icon.i-1{background-position:0 -66px;}
		.usp-icon.i-2{background-position:-71px -66px;}
		.usp-icon.i-3{background-position:-142px -66px;}
		.usp-icon.i-4{background-position:-213px -66px;}
		.usp-icon.i-5{background-position:0 -133px;}
		.usp-icon.i-6{background-position:-71px -133px;}
		.usp-icon.i-7{background-position:-142px -133px;}
		.usp-icon.i-8{background-position:-213px -133px;}
	.about-icon{background-size:600px 600px;}
	.zoom-icon{background-size:600px 600px;}
		
	a.button{display:block;text-align:center;padding:20px 0;}
	
	.input,textarea,.submit,select{width:100%;}
	
	/* Top */
	#top{height:45px;}
		.logo{width:66px;height:25px;background-size:66px 25px;margin-top:11px;}
		.si-phone{margin-top:5px;line-height:16px;}
			.si-phone .phone-link{font:700 14px/14px Myriad}
			.si-phone .modal-link{font:10px/14px Myriad}
		
	/* Header */
	.header-content{padding:90px 0 0 0;}
	header.pro .header-content{padding:90px 0 0 0;}
		.header-usp{margin:30px 0 40px;}
			.header-usp-item{font:12px/16px Myriad;}

	/* Page form */
	.page-form-title{font:300 30px/30px Myriad;text-align:center;padding:0 0 30px;}
	.page-form-title.pro{font:300 24px/30px Myriad;text-align:center;padding:0 0 30px;}
		.page-form-title i{font:14px/18px Myriad;padding:15px 0;}
		.form-agree.for-phones{margin:0;}
		.page-form-left{width:100%;}
		.page-form-right{width:100%;}
	
	/* Conditions */
	.condition-item{font:9px/16px Myriad}
	
	/* USP */
	.usp-item{font:8px/14px Myriad;}
		.usp-item h3{font:14px/17px Myriad;}
	
	/* Expert */
	.expert-text{box-sizing:border-box;}
	
	/* Online */
	#online br{display:none;}
		.online-text{width:100%;}
		.online-form{width:100%;margin:0;}
	
	/* Miles */
		.miles-circle-item{width:100%;}
	
	/* About */
	.about-subtitle{font:9px/15px Myriad}
	
	/* Map */
	.contact-map .points{width:283px;}
	.contact-map .point-details{width:283px;}
		.contact-map .point span.name{width:204px;}
	
}