{% extends "bcs_client/base.html" %}
{% load staticfiles %}

{% block head %}
  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
  <link href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
  <script>
    $(document).ready(function() {
      $.fn.dataTable.ext.errMode = 'none';
      var table = $('#attempts_table').DataTable( {
        "ajax": "{% url 'bcs_client:showAttempts' %}?json=1",
        "order": []
      });

      setInterval( function () {
        table.ajax.reload(null, false);
      }, 2000 );

    });
  </script>

  <table id="attempts_table" class="display" cellspacing="0" width="100%">
    <thead>
      <tr>
        {% for col in tableKey %}
          <th>{{ col }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tfoot>
      <tr>
        {% for col in tableKey %}
          <th>{{ col }}</th>
        {% endfor %}
      </tr>
    </tfoot>
  </table>

{% endblock %}