{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'staticpage/ico/favicon.ico' %}">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'staticpage/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'staticpage/css/main.css' %}" rel="stylesheet">
    <link href="{% static 'staticpage/css/font.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'staticpage/css/font2.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'staticpage/js/jquery.min.js' %}"></script>
    {% block head %}{% endblock %}
  </head>
  <body data-spy="scroll" data-offset="0" data-target="#navigation">
    <div id="navigation" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/bcs"><b>QuantForces BCS</b></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li id="sendAlgo"><a href="{% url 'bcs_client:getForm' %}">Отправить стратегию</a></li>
              <li id="showAttempts"><a href="{% url 'bcs_client:showAttempts' %}">Мои стратегии</a></li>
              <li id="doc"><a target="_blank" href="http://bcs.quantforces.com">Документация</a></li>
              <li id="showAttempts"><a href="{% url 'bcs_client:getMain' %}">Online режим</a></li>
              <li id="showAttempts"><a href="{% url 'bcs_client:getMain' %}">Рейтинг</a></li>
            </ul>
        </div>
      </div>
    </div>

    <div style="margin-left: 100px; margin-top: 20px;">
      {% block content %}{% endblock %}
    </div>

    <script src="{% static 'staticpage/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        var url = window.location;
        $('ul.nav a[href="' + url + '"]').parent().addClass('active');
        $('ul.nav a').filter(function() {
          return this.href == url;
        }).parent().addClass('active');
      });
    </script>
  </body>
</html>




