{% extends "bcs_client/base.html" %}
{% load staticfiles %}

{% block head %}
  <link rel="stylesheet" href="{% static 'sandbox/codemirror/codemirror.css' %}">
  <script src="{% static 'sandbox/codemirror/codemirror.js' %}"></script>
  <script src="{% static 'sandbox/codemirror/matchbrackets.js' %}"></script>
  <script src="{% static 'sandbox/codemirror/python.js' %}"></script>
  <style type="text/css">.CodeMirror {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
  }
  </style>
{% endblock %}

{% block content %}
  <table>
    <tr>
      <td>
        <form id="form_code" action="{% url 'bcs_client:sendAlgo' %}" method="post">
          {% csrf_token %}
          <select size="1" name="language" id="language">
            {% for lang in languages %}
              <option value="{{ lang.0 }}">{{ lang.0 }}</option>
            {% endfor %}
          </select>
          <input type="text" name="name" placeholder="Name of strategy"> </input>
          <button id="btn_code" type="submit" class="btn btn-default">Send algo</button>
          <div style="padding-top: 5px;">
            <textarea id="code" name="code" rows="20">{{ code }}</textarea>
          </div>
        </form>
      </td>
      <td>
        <div style="margin-left:100px;">
          {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
          {% endif %}
        </div>
      </td>
    </tr>
  </table>

  <script type="text/javascript">
    var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
        mode: { name: "python",
                version: 2,
                singleLineStringErrors: false
              },
        lineNumbers: true,
        indentUnit: 4,
        matchBrackets: true
    });
  </script>

{% endblock %}