{% extends "bcs_client/base.html" %}
{% load staticfiles %}

{% block content %}
The first rule of Quant Club<br/>
<b>Send link to everybody</b><br/><br/>

<a href="http://quantforces.com/bcs/landing" target="_blank">Лэндинг</a><br/>
<a href="http://quantforces.com/bcs" target="_blank">Соревнование</a><br/>
<a href="http://quantforces.com/admin" target="_blank">Админка</a><br/>
<a href="http://bcs.quantforces.com" target="_blank">Документация</a><br/>
<a href="https://github.com/QuantForces/bcs" target="_blank">Локальная разработка</a><br/>
<a href="https://yadi.sk/d/abx_xYOnqCiq8" target="_blank">Тестовые данные</a><br/>
<a href="https://bitbucket.org/deamoon/bcs_backtest/issues" target="_blank">Трекер задач</a><br/>
<a href="https://bitbucket.org/deamoon/bcs_backtest" target="_blank">Репозиторий с кодом backtest</a><br/>

{% endblock %}