{% extends "bcs_client/base.html" %}
{% load staticfiles %}

{% block head %}
  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
  <link href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css" rel="stylesheet">


  <link rel="stylesheet" href="{% static 'sandbox/codemirror/codemirror.css' %}">
  <script src="{% static 'sandbox/codemirror/codemirror.js' %}"></script>
  <script src="{% static 'sandbox/codemirror/matchbrackets.js' %}"></script>
  <script src="{% static 'sandbox/codemirror/python.js' %}"></script>
  <style type="text/css">.CodeMirror {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
  }
  </style>
{% endblock %}

{% block content %}
  <script>
    $(document).ready(function() {
      {% if attempt.status == 'O' or attempt.status == 'S' %}
        $.fn.dataTable.ext.errMode = 'none';
        var timerId = 0;

        var table = $('#attempt_table').DataTable( {
          "ajax": "{% url 'bcs_client:getAttempt' attempt.id %}?json=1",
          "order": [],
          "paging": false,
          "searching": false,
          "info": false
        });

        timerId = setInterval( function () {
          table.ajax.reload(null, false);
        }, 5000 );

        // clearInterval(timerId);
      {% endif %}

    });
  </script>

  {% if attempt.status == 'O' or attempt.status == 'S' %}
    <table id="attempt_table" class="cell-border compact" cellspacing="0" width="100%">
      <thead>
        <tr>
          {% for col in tableKey %}
            <th>{{ col }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tfoot>
        <tr>
          {% for col in tableKey %}
            <th>{{ col }}</th>
          {% endfor %}
        </tr>
      </tfoot>
    </table>
  {% elif attempt.status == 'E' %}
    {{ attempt.error_message|linebreaks }}
  {% endif %}

  <div style="padding-top: 5px;">
    <textarea id="code" name="code" rows="20">{{ attempt.code }}</textarea>
  </div>
  <script type="text/javascript">
    var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
        mode: { name: "python",
                version: 2,
                singleLineStringErrors: false
              },
        lineNumbers: true,
        indentUnit: 4,
        matchBrackets: true
    });
  </script>

{% endblock %}