{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Авторизация" %} - QuantForces{% endblock %}

{% block navbar-user %} 
    <ul class="nav navbar-nav navbar-right">
        <li class=""><a href="/accounts/register">{% trans "Зарегистрироваться" %}</a></li>             
    </ul>
{%endblock %}

{% block content %}
<div class="col-lg-6 col-sm-offset-5">
<h1>{% trans "Авторизация" %}</h1>

{% if user.is_authenticated %}
{{ user.username }}, {% trans "вы уже авторизованы" %}. 
{% trans "Впрочем, всегда можно" %} <a href="{% url "auth_logout" %}">{% trans "выйти" %}</a>.<br/><br/>
{% else %}

{% if form.non_field_errors %}
{{ form.non_field_errors }}
{% endif %}

<div class="col-md-4">
<form class="form-horizontal col-md-12" method="post" action="">
{% csrf_token %}
<dl class="register">  
{% for field in form %}
    <dt>{{ field.label_tag }}</dt>
    <dd class="clearfix">{{ field }}
    {% if field.help_text %}<div class="clearfix">{{ field.help_text }}</div>{% endif %}
    </dd>
{% endfor %}
</dl>
<input type="submit" value="Вход" / class="clearfix btn btn-primary">
</form>

</div>
   
<script type="text/javascript">
document.getElementById('id_username').focus()
</script>

<div class="col-md-8">
{% for field in form %}
    <dd class="clearfix">
    {% if field.errors %}<div class="myerrors clearfix">{{ field.errors }}</div>{% endif %}
    </dd>
{% endfor %}
</div> 

</div>
{% endif %}
{% endblock %}