{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
  <link rel="stylesheet" href="{% static 'attempt/amcharts/style.css' %}" type="text/css">
  <script src="{% static 'attempt/amcharts/amcharts.js' %}" type="text/javascript"></script>
  <script src="{% static 'attempt/amcharts/serial.js' %}" type="text/javascript"></script>
  <script src="{% static 'attempt/amcharts/amstock.js' %}" type="text/javascript"></script>

  <script type="text/javascript">

    function generateData(lenData) {
      var listData = [];
      var firstDate = new Date(2012, 0, 1);
      firstDate.setDate(firstDate.getDate() - lenData);
      firstDate.setHours(0, 0, 0, 0);

      for (var i = 0; i <= lenData; i++) {
        var newDate = new Date(firstDate);
        newDate.setDate(newDate.getDate() + i);
        listData.push(newDate);
      }

      return listData;
    }

    function generateChartDataPriceEvent(listData, portfolio, price) {
      chart = {"Data":[], "Event":[], "Balance":[]};
      var chartData = chart["Data"];
      var chartEvent = chart["Event"];

      for (var i = 0; i < portfolio.length; i++) {
        // var a = Math.round(Math.random() * (40 + i)) + 100 + i;
        chartData.push({
          date: listData[i],
          portfolio: portfolio[i],
          price: price[i],
          // stock: balance[i][2],
        });
      }

      // chartData.push({
      //  date: listData[portfolio.length],
      //  value: portfolio[portfolio.length-1],
      //  money: balance[portfolio.length][1],
      //  stock: balance[portfolio.length][2],
      // });

      // var chooseOrder = {"buy":"arrowUp", "sell":"arrowDown"};
      // var chooseColour = {"buy":"#00CC00", "sell":"#CC0000"};
      // for (var i = 0; i < events.length; i++) {
      //  order = events[i][0];
      //  number = events[i][1];
      //  chartEvent.push({
      //    date: listData[number],
      //    type: chooseOrder[order],
      //    backgroundColor: chooseColour[order],
      //    graph: "g1",
      //    description: order + " " + events[i][2],
      //  });
      // }
      return chart;
    }

    $.getJSON("data", function(data) {
      var listData = generateData(data["portfolio"].length);
      var chart = generateChartDataPriceEvent(listData, data["portfolio"], data["price"]);

      // alert(chart["Data"]);

      AmCharts.makeChart("chartdiv", {
        type: "stock",
        pathToImages: "{% static 'attempt/amcharts/images/' %}",
        dataSets: [{
          color: "#b0de09",
          fieldMappings: [{
            fromField: "portfolio",
            toField: "portfolio"
          }, {
            fromField: "volume",
            toField: "volume"
          }, {
            fromField: "price",
            toField: "price"
          }, {
            fromField: "stock",
            toField: "stock"
          }],
          dataProvider: chart["Data"],
          categoryField: "date",

          // EVENTS
          // stockEvents: chart["Event"]
        }],

        panels: [
        {
          title: "Капитал",
          percentHeight: 100,
          showCategoryAxis: false,

          stockGraphs: [{
            id: "g1",
            valueField: "portfolio",
            compareField: "portfolio",
            bullet: "round",
            // bulletBorderColor: "#FFFFFF",
            // bulletBorderAlpha: 1,
          }],

          stockLegend: {
            valueTextRegular: " ",
            markerType: "none",
            // periodValueTextComparing: "[[percents.value.close]]%",
            // periodValueTextRegular: "[[value.close]]",
          }
        },

        {
          title: "Цена",
          percentHeight: 100,
          // recalculateToPercents: "always",

          stockGraphs: [{
            id: "g2",
            valueField: "price",
            compareField: "price",
            bullet: "round",
            useDataSetColors: false,
            lineColor: "#7f8da9",
          }],

          stockLegend: {
            valueTextRegular: " ",
            markerType: "none",
          //  periodValueTextComparing: "[[percents.value.close]]%",
          //  periodValueTextRegular: "[[value.close]]",
          }
        }
        ],

        chartScrollbarSettings: {
          graph: "g1"
        },

        chartCursorSettings: {
          valueBalloonsEnabled: true,
          graphBulletSize: 1
        },

        periodSelector: {
          periods: [{
            period: "DD",
            count: 10,
            label: "10 days"
          }, {
            period: "MM",
            count: 1,
            label: "1 month"
          }, {
            period: "YYYY",
            count: 1,
            label: "1 year"
          }, {
            period: "YTD",
            label: "YTD"
          }, {
            period: "MAX",
            label: "MAX"
          }]
        },

        panelsSettings: {
          usePrefixes: true
        }
      });
    });
  </script>

{% endblock %}

{% block title %}
  Попытка {{ attempt.name }}
{% endblock %}

{% block content %}
  </br>

    <div style="padding-left:10%;">
        <p>
            <b><a href="{% url 'sandbox:detail' attempt.id %}">Исходный код</a></b>
        </p>
    </div>

  {% if attempt.status == 'O' %}
    <div class="row">
      <div class="col-md-8">
        <div id="chartdiv" style="height:500px; padding-left:50px;"></div>
      </div>
      <div class="col-md-2">
        <table class="table table-bordered">
          <tr>
            <td>Начальный капитал</td>
            <td>{{ attempt.contest.start_balance_money }}</td>
          </tr>
          <tr>
            <td>Конечный капитал</td>
            <td>{{ attempt.result_open.final_portfolio }}</td>
          </tr>
          <tr>
            <td>Коэфицент Шарпа</td>
            <td>{{ attempt.result_open.sharp }}</td>
          </tr>
          <tr>
            <td>Максимальная просадка</td>
            <td>{{ attempt.result_open.max_drawdown }}</td>
          </tr>
        </table>
      </div>
    </div>
  {% endif %}
  {% if attempt.status == 'S' %}
    <div style="padding-left:5%;">
        <p><b>Стратегия на тестировании</b></p>
      </div>
  {% endif %}
  {% if attempt.status == 'W' %}
    <div style="padding-left:5%;">
        <p><b>Произошла ошибка:</b></p>
        {{ attempt.error_message|linebreaksbr }}
      </div>
  {% endif %}

    {% comment %}
      Ордера:</br>
    {% if buy_sell %}
        <ul>
        {% for order in buy_sell %}
            <li>{{ order.order }} {{ order.number }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No Orders are available.</p>
    {% endif %}
   {% endcomment %}

{% endblock %}