{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>

  <!-- <link rel="shortcut icon" href="{% static 'staticpage/ico/favicon.ico' %}"> -->
  <link rel="icon" type="image/x-icon" href="{% static 'bcs_client/images/favicon.ico' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=cyrillic,cyrillic-ext">
  <link rel="stylesheet" href="{% static 'bcs_client/materialize.css' %}">
  <link rel="stylesheet" href="{% static 'bcs_client/main.css' %}">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
  <script src="{% static 'bcs_client/index.js' %}"></script>

  {% block head %}{% endblock %}
</head>

<body>
  {% include "bcs_client/base_header.html" %}

  <header>
    {% block header %}{% endblock %}
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer>
    {% block footer %}{% endblock %}
  </footer>

  {% block end-scripts %}{% endblock %}

  <!--
  <script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter25995673 = new Ya.Metrika({id:25995673, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true, trackHash:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/25995673" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  -->

  {% include "bcs_client/scripts.html" %}

</body>
</html>