{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="ru" class="no-js">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Соревнование по алгоритмической торговле BCS Quants Challenge</title>
    <meta content="Соревнование по алгоритмической торговле BCS Quants Challenge. Мы ищем талантливых разработчиков-квантов, которым интересно разрабатывать торговых роботов. Вы можете разарабатывать ваши стратегии на языке python. Проводить бэктестирование прямо в браузере. Лучшие участники получат денежные призы" name="description">
    <meta content="БКС BCS торговля роботы алгоритмы биржа соревнование квант аналитик quant challenge" name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="telephone=no" name="format-detection">
    <meta name="HandheldFriendly" content="true">

    <!--[if (gt IE 9)|!(IE)]><!-->
    <link href="{% static 'bcs_client/landing/css/main8awclqlblkepwcyuv7vi.min.css' %}" rel="stylesheet" type="text/css">

    <!--<![endif]-->
    <meta property="og:title" content="Соревнование по алгоритмической торговле BCS Quants Challenge">
    <meta property="og:url" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="500">
    <meta property="og:image:height" content="300">
    <meta property="twitter:description" content="">
    <link rel="image_src" href="">
    <link rel="icon" type="image/x-icon" href="{% static 'bcs_client/images/favicon.ico' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
      (function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)
    </script>
  </head>

  <body data-spy="scroll" data-target="#header" data-offset="80" class="page">
    <svg xmlns="http://www.w3.org/2000/svg" style="border: 0 !important; clip: rect(0 0 0 0) !important; height: 1px !important; margin: -1px !important; overflow: hidden !important; padding: 0 !important; position: absolute !important; width: 1px !important;"
    class="root-svg-symbols-element">
      <symbol id="analysis" viewBox="0 0 100 100">
        <path d="M21.4 12.8H23V.1h-.2l-4.6 1.7v1.5l3.2-1.2zm10.1.2c1.4 0 2.4-.5 3-1.4.7-.9 1-2.3 1-4.2v-2c0-1.8-.4-3.1-1-4-.6-.9-1.6-1.3-3-1.3s-2.4.4-3 1.3c-.7.9-1 2.2-1 4.1v2.2c0 1.8.4 3.1 1 4 .7.9 1.7 1.3 3 1.3zm-2.4-8c0-1.2.2-2.2.6-2.8.4-.6 1-.9 1.8-.9s1.4.3 1.8.9c.4.7.6 1.6.6 3v2.6c0 1.3-.2 2.3-.6 2.9-.4.6-1 .9-1.8.9s-1.4-.4-1.8-1c-.4-.6-.6-1.6-.6-3V5zm12.2 7.8h1.6V.1h-.3L38 1.8v1.5l3.3-1.2zm10.1.2c1.4 0 2.4-.5 3-1.4.7-.9 1-2.3 1-4.2v-2c0-1.8-.4-3.1-1-4-.6-.9-1.6-1.3-3-1.3s-2.4.4-3 1.3c-.7.9-1 2.2-1 4.1v2.2c0 1.8.4 3.1 1 4 .7.9 1.7 1.3 3 1.3zM49 5c0-1.2.2-2.2.6-2.8.4-.6 1-.9 1.8-.9s1.4.3 1.8.9c.4.7.6 1.6.6 3v2.6c0 1.3-.2 2.3-.6 2.9-.4.6-1 .9-1.8.9s-1.4-.4-1.8-1c-.4-.6-.6-1.6-.6-3V5zm12.2 7.8h1.7V.1h-.3L58 1.8v1.5l3.2-1.2zm9.9 0h1.7V.1h-.3l-4.6 1.7v1.5l3.2-1.2zm10.2.2c1.4 0 2.4-.5 3-1.4.7-.9 1-2.3 1-4.2V5.3c0-1.8-.4-3.1-1-4-.6-.9-1.6-1.3-3-1.3-1.3 0-2.3.5-3 1.4-.7.9-1 2.2-1 4.1v2.2c0 1.8.4 3.1 1 4 .7.9 1.7 1.3 3 1.3zM79 5.1c0-1.3.2-2.2.5-2.9.4-.6 1-.9 1.8-.9s1.4.3 1.8.9c.4.7.6 1.6.6 3h.1v2.7c0 1.3-.2 2.3-.6 2.9-.4.6-1 .9-1.8.9s-1.4-.4-1.8-1c-.4-.6-.6-1.6-.6-3V5.1zM14 27.4c.7-.9 1-2.3 1-4.2v-1.9c0-1.8-.4-3.1-1-4-.6-.9-1.6-1.3-3-1.3s-2.4.4-3 1.3c-.7.9-1 2.2-1 4.1v2.1c0 1.8.4 3.1 1 4 .7.9 1.7 1.3 3 1.3 1.4 0 2.4-.5 3-1.4zm-4.8-1c-.4-.6-.6-1.6-.6-3v-2.6c0-1.2.2-2.2.6-2.8.4-.6 1-.9 1.8-.9s1.4.3 1.8.9c.4.7.6 1.6.6 3v2.6c0 1.3-.2 2.3-.6 2.9-.4.6-1 .9-1.8.9s-1.4-.4-1.8-1zm11.5 2.1h1.6V15.8H22l-4.6 1.7V19l3.3-1.1zm10.2.3c1.4 0 2.4-.5 3-1.4.7-.9 1-2.3 1-4.2v-1.9c0-1.8-.4-3.1-1-4-.6-.9-1.6-1.3-3-1.3s-2.4.4-3 1.3c-.7.9-1 2.2-1 4.1v2.1c0 1.8.4 3.1 1 4 .7.9 1.7 1.3 3 1.3zm-2.4-8c0-1.2.2-2.2.6-2.8.4-.6 1-.9 1.8-.9s1.4.3 1.8.9c.4.7.6 1.6.6 3v2.6c0 1.3-.2 2.3-.6 2.9-.4.6-1 .9-1.8.9s-1.4-.4-1.8-1c-.4-.6-.6-1.6-.6-3v-2.6zm12.1 7.7h1.6V15.8h-.3l-4.6 1.7V19l3.3-1.1zm10.2.3c1.4 0 2.4-.5 3-1.4.7-.9 1-2.3 1-4.2v-1.9c0-1.8-.4-3.1-1-4-.6-.9-1.6-1.3-3-1.3s-2.4.4-3 1.3c-.7.9-1 2.2-1 4.1v2.1c0 1.8.4 3.1 1 4 .7.9 1.7 1.3 3 1.3zm-2.4-8c0-1.2.2-2.2.6-2.8s1-.9 1.8-.9 1.4.3 1.8.9c.4.7.6 1.6.6 3v2.6c0 1.3-.2 2.3-.6 2.9-.4.6-1 .9-1.8.9s-1.4-.4-1.8-1c-.4-.6-.6-1.6-.6-3v-2.6zm12.3 8c1.4 0 2.4-.5 3-1.4.7-.9 1-2.3 1-4.2v-1.9c0-1.8-.4-3.1-1-4-.6-.9-1.6-1.3-3-1.3s-2.4.4-3 1.3c-.7.9-1 2.2-1 4.1v2.1c0 1.8.4 3.1 1 4 .7.9 1.7 1.3 3 1.3zm-2.4-8c0-1.2.2-2.2.6-2.8.4-.6 1-.9 1.8-.9s1.4.3 1.8.9c.4.7.6 1.6.6 3v2.6c0 1.3-.2 2.3-.6 2.9s-1 .9-1.8.9-1.4-.4-1.8-1c-.4-.6-.6-1.6-.6-3v-2.6zm12.1 7.7H72V15.8h-.2l-4.6 1.7V19l3.2-1.1zm10.2.3c1.4 0 2.4-.5 3-1.4.7-.9 1-2.3 1-4.2v-1.9c0-1.8-.4-3.1-1-4-.6-.9-1.6-1.3-3-1.3s-2.4.4-3 1.3c-.7.9-1 2.2-1 4.1v2.1c0 1.8.4 3.1 1 4 .7.9 1.7 1.3 3 1.3zm-2.4-8c0-1.2.2-2.2.6-2.8.4-.6 1-.9 1.8-.9s1.4.3 1.8.9c.4.7.6 1.6.6 3v2.6c0 1.3-.2 2.3-.6 2.9-.4.6-1 .9-1.8.9s-1.4-.4-1.8-1c-.4-.6-.6-1.6-.6-3v-2.6zm12.1 7.7H92V15.8h-.3l-4.6 1.7V19l3.2-1.1zm-70.9 4.4c-.7.9-1 2.2-1 4.1v2.2c0 1.8.4 3.1 1 4 .7.9 1.7 1.3 3 1.3 1.4 0 2.4-.5 3-1.4.7-.9 1-2.3 1-4.2v-2c0-1.8-.4-3.1-1-4-.6-.9-1.6-1.3-3-1.3s-2.4.4-3 1.3zm4.8.8c.4.7.6 1.6.6 3v2.6c0 1.3-.2 2.3-.6 2.9-.4.6-1 .9-1.8.9s-1.4-.4-1.8-1c-.4-.6-.6-1.6-.6-3v-2.6c0-1.2.2-2.2.6-2.8.4-.6 1-.9 1.8-.9s1.4.3 1.8.9zm9.5 10.6h.1V31.6h-.3l-4.6 1.7v1.5l3.2-1.2v10.7zm5.6-11.4c-.7.9-1 2.2-1 4.1v2.2c0 1.8.4 3.1 1 4 .7.9 1.7 1.3 3 1.3 1.4 0 2.4-.5 3-1.4.7-.9 1-2.3 1-4.2v-2c0-1.8-.4-3.1-1-4-.6-.9-1.6-1.3-3-1.3s-2.4.4-3 1.3zm4.8.8c.4.7.6 1.6.6 3v2.6c0 1.3-.2 2.3-.6 2.9-.4.6-1 .9-1.8.9s-1.4-.4-1.8-1c-.4-.6-.6-1.6-.6-3v-2.6c0-1.2.2-2.2.6-2.8.4-.6 1-.9 1.8-.9s1.4.3 1.8.9zm9.5 10.6h.1V31.6h-.3l-4.6 1.7v1.5l3.2-1.2v10.7zm8.6-12.7c-1.4 0-2.4.4-3 1.3-.7.9-1 2.2-1 4.1v2.2c0 1.8.4 3.1 1 4 .7.9 1.7 1.3 3 1.3 1.4 0 2.4-.5 3-1.4.7-.9 1-2.3 1-4.2v-2c0-1.8-.4-3.1-1-4-.6-.9-1.6-1.3-3-1.3zm2.4 7.7c0 1.3-.2 2.3-.6 2.9-.4.6-1 .9-1.8.9s-1.4-.4-1.8-1c-.4-.6-.6-1.6-.6-3v-2.6c0-1.2.2-2.2.6-2.8.4-.6 1-.9 1.8-.9s1.4.3 1.8.9c.4.7.6 1.6.6 3v2.6zm4.5-6.4c-.7.9-1 2.2-1 4.1v2.2c0 1.8.4 3.1 1 4 .7.9 1.7 1.3 3 1.3 1.4 0 2.4-.5 3-1.4.7-.9 1-2.3 1-4.2v-2c0-1.8-.4-3.1-1-4-.6-.9-1.6-1.3-3-1.3s-2.4.4-3 1.3zm4.8.8c.4.7.6 1.6.6 3v2.6c0 1.3-.2 2.3-.6 2.9-.4.6-1 .9-1.8.9s-1.4-.4-1.8-1c-.4-.6-.6-1.6-.6-3v-2.6c0-1.2.2-2.2.6-2.8.4-.6 1-.9 1.8-.9s1.4.3 1.8.9z"
        />
        <path d="M93.8 64l-7-30.2c-.1-.5-.7-.8-1.2-.7-.5.1-.8.7-.7 1.2l7.3 30.2c0 .1-.1.2-.1.3-.1 0-.2.1-.3.1h-7.6c-.6 0-1 .5-1 1v14.7c0 2.5-2 4.5-4.5 4.5H56.8c-.6 0-1 .5-1 1 0 .6.5 1 1 1h7.8l1.4 11H26.7c0-3.9-.2-18.1-2.1-26.7C22.4 61.6 14 45.2 12.9 43v-9.4c0-.6-.5-1-1-1-.6 0-1 .5-1 1v9.6c0 .2 0 .4.1.5s9.4 18 11.6 28.1c2.1 9.6 2 27.1 2 27.3 0 .3.1.5.3.7.2.2.4.3.7.3H67c.2 0 .5-.1.7-.3.1-.2.2-.5.2-.8l-1.5-11.8h12.2c3.5 0 6.4-2.9 6.4-6.5V66.9h6.6c.7 0 1.4-.3 1.8-.9.4-.6.6-1.3.4-2z"
        />
      </symbol>
      <symbol id="book" viewBox="0 0 100 100">
        <path d="M82.3 0H16.4C14 0 12 2 12 4.4v91.2c0 2.4 2 4.4 4.4 4.4h65.9c2.4 0 4.4-2 4.4-4.4V4.4c0-2.4-2-4.4-4.4-4.4zM16.4 98c-1.3 0-2.4-1.1-2.4-2.4V4.4C14 3.1 15.1 2 16.4 2h8.2v96h-8.2zm68.3-2.4c0 1.3-1.1 2.4-2.4 2.4H26.4V2h55.9c1.3 0 2.4 1.1 2.4 2.4v91.2z"
        />
        <path d="M34 22.6h43v2H34zm0 9.2h43v2H34z" />
      </symbol>
      <symbol id="build" viewBox="0 0 100 100">
        <path d="M97.5 96.4h-4.6v-6.5c0-1.4-1.1-2.5-2.5-2.5H83V21.1c0-1.3-1-2.3-2.3-2.3h-6.6v-6c0-1.3-1-2.3-2.3-2.3h-20V1.7c0-.5-.2-.9-.5-1.2-.4-.3-.8-.5-1.3-.5-.9 0-1.7.8-1.7 1.7v8.8H27.5c-1.3 0-2.3 1-2.3 2.3v6h-6.7c-1.3 0-2.4 1.1-2.4 2.4v66.3H8.7c-1.3 0-2.4 1.1-2.4 2.4v6.5H1.8c-.5 0-.9.2-1.3.5-.3.4-.5.8-.5 1.3 0 1 .8 1.8 1.8 1.8h95.8c.5 0 .9-.2 1.3-.5.3-.3.5-.8.5-1.3-.1-1-.9-1.8-1.9-1.8zM28.7 14h41.9v4.8H28.7V14zm-9.1 8.3h59.9v65.2H19.6V22.3zm69.8 74.1H9.8V91h79.6v5.4z"
        />
        <path d="M27.7 81.5c-1 0-1.8-.8-1.8-1.8v-50c0-1 .8-1.8 1.8-1.8s1.8.8 1.8 1.8v49.9c0 1.1-.8 1.9-1.8 1.9zm11.2 0c-1 0-1.8-.8-1.8-1.8v-50c0-1 .8-1.8 1.8-1.8s1.8.8 1.8 1.8v49.9c0 1.1-.8 1.9-1.8 1.9zm11.1 0c-1 0-1.8-.8-1.8-1.8v-50c0-1 .8-1.8 1.8-1.8s1.8.8 1.8 1.8v49.9c0 1.1-.8 1.9-1.8 1.9zm11.2 0c-1 0-1.8-.8-1.8-1.8v-50c0-1 .8-1.8 1.8-1.8s1.8.8 1.8 1.8v49.9c0 1.1-.8 1.9-1.8 1.9zm10.5 0c-1 0-1.8-.8-1.8-1.8v-50c0-1 .8-1.8 1.8-1.8s1.8.8 1.8 1.8v49.9c0 1.1-.8 1.9-1.8 1.9z"
        />
      </symbol>
      <symbol id="competition" viewBox="0 0 100 100">
        <path d="M87 78.5V4c0-1.4-.7-2.7-1.9-3.4C84.5.2 83.7 0 83 0c-.6 0-1.2.1-1.8.4L51.8 14.8c-1.4.7-2.3 2.1-2.2 3.7 0 1.6 1 3 2.5 3.6L83 34.8v43.8c-4.4.8-7.8 4.3-8.6 8.7H60.6c-.9-5.1-5.3-8.9-10.7-8.9-5.3 0-9.8 3.8-10.7 8.9H25.5c-.9-5.1-5.3-8.9-10.7-8.9C8.9 78.3 4 83.2 4 89.2S8.9 100 14.8 100c5.3 0 9.7-3.8 10.6-8.8h13.8c1 5 5.4 8.8 10.6 8.8 5.3 0 9.7-3.8 10.6-8.8h13.8c1 5 5.4 8.8 10.6 8.8 6 0 10.8-4.9 10.8-10.8.3-5.4-3.6-9.8-8.6-10.7zM14.8 96C11.1 96 8 92.9 8 89.2c0-3.8 3.1-6.9 6.8-6.9 3.8 0 6.9 3.1 6.9 6.9 0 3.7-3.1 6.8-6.9 6.8zm41.7-4.8C55.6 94 53 96 49.9 96c-3.1 0-5.7-2-6.5-4.8-.2-.7-.3-1.3-.3-2.1 0-.7.1-1.3.3-1.9.8-2.8 3.5-4.9 6.6-4.9 3.1 0 5.7 2.1 6.6 4.9.2.6.3 1.3.3 1.9-.1.8-.2 1.5-.4 2.1zm-2.9-72.8L83 4v26.5L53.6 18.4zM85 96c-3.8 0-6.8-3.1-6.8-6.8 0-3.8 3.1-6.9 6.8-6.9 3.8 0 6.9 3.1 6.9 6.9 0 3.7-3.1 6.8-6.9 6.8z"
        />
      </symbol>
      <symbol id="cup" viewBox="0 0 100 100">
        <path d="M99.9 25.9c-.4-5.6-5.5-10.6-10.6-10.6-3 0-5.7 1.8-6.2 2.2l-7.4 4.8v-9.8H78c1.1 0 1.9-.8 1.9-1.7 0-1-.8-1.8-1.9-1.8H22c-1.1 0-2 .8-2 1.7 0 1 .9 1.7 1.9 1.7h2.2v9.8l-7.4-4.8c-.5-.4-3.2-2.2-6.2-2.2C5.4 15.2.3 20.3-.1 25.8-.4 31.7 1.6 36 6 38.8c4 2.6 26.6 16.8 27.5 17.4 1.4 1 2.8 1.7 4.2 2.5.8.5 1.7.9 2.6 1.5 3.1 1.9 3.8 3.8 3.8 10.6 0 5.7-3.2 9.2-6.4 9.2h-9.4c-2.7 0-4.9 2.2-4.9 4.9v1.9c0 2.7 2.2 4.9 4.9 4.9h43.2c2.7 0 4.9-2.2 4.9-4.9v-1.9c0-2.7-2.2-4.9-4.9-4.9h-9.3c-3.1 0-6.4-3.4-6.4-9.2 0-6.7.7-8.7 3.8-10.6.9-.5 1.7-1 2.6-1.5 1.4-.8 2.8-1.5 4.2-2.5 1-.6 23.6-14.8 27.6-17.4 4.4-2.8 6.4-7.1 5.9-12.9zm-92.1 10c-3.3-2.1-4.7-5.2-4.3-9.8.3-3.8 3.8-7.5 7.1-7.5 1.7 0 3.6 1.1 4.1 1.6l.1.1 9.3 6v12.3c0 .2 0 4.6 1.6 8.7-6.9-4.4-15.5-9.9-17.9-11.4zm64.6 2.7c0 .1 0 7-3.2 10.7-1.5 1.7-3 3-4.4 4-.1 0-.1.1-.2.1-1.3.8-2.5 1.5-3.8 2.3l-2.7 1.5c-4.7 2.8-5.5 6.5-5.5 13.5 0 4 1.2 7 3 9.2 1.9 2.3 4.4 3.4 6.9 3.4h9.3c.8 0 1.4.7 1.4 1.4v1.9c0 .8-.7 1.4-1.4 1.4H28.4c-.8 0-1.4-.7-1.4-1.4v-1.9c0-.8.7-1.4 1.4-1.4h9.4c2.5 0 5-1.2 6.9-3.4 1.8-2.1 3-5.2 3-9.2 0-7.1-.8-10.7-5.5-13.5-.9-.6-1.8-1-2.7-1.5-1.3-.7-2.6-1.4-3.8-2.3-.1 0-.1-.1-.2-.1-1.4-1-2.9-2.2-4.4-4-3.2-3.7-3.2-10.6-3.2-10.7V12.4h44.7l-.2 26.2zm19.8-2.7c-2.3 1.5-11 6.9-18 11.4 1.6-4.1 1.6-8.4 1.6-8.7V26.3l9.3-6 .1-.1c.6-.4 2.4-1.6 4.1-1.6 3.3 0 6.9 3.7 7.1 7.5.4 4.6-.9 7.7-4.2 9.8z"
        />
      </symbol>
      <symbol id="facebook" viewBox="0 0 19 32">
        <path d="M17.125.214v4.714h-2.804q-1.536 0-2.071.643T11.714 7.5v3.375h5.232l-.696 5.286h-4.536v13.554H6.25V16.161H1.696v-5.286H6.25V6.982q0-3.321 1.857-5.152T13.053 0q2.625 0 4.071.214z" />
      </symbol>
      <symbol id="learning" viewBox="0 0 100 100">
        <path d="M99 30L50.9 3.2c-.6-.3-1.2-.3-1.8 0L1 30c-.6.3-1 1-1 1.6 0 .7.4 1.3 1 1.6l15.3 8.5c0 .6-.1 1.2-.1 1.7v15.5c0 4.5 2.6 9.3 6.9 13.4v8.4c-3 .5-5.4 3.1-5.4 6.3v8c0 1.4 1.1 2.5 2.5 2.5h9.1c1.4 0 2.6-1.1 2.6-2.6V87c0-3.1-2.2-5.6-5.1-6.2v-5.5c5.6 3.9 13.1 6.5 21.2 6.5h4.4c17.5 0 31.8-11.6 31.8-22.9V43.5c0-.7 0-1.3-.1-2L99 33.3c.6-.3 1-1 1-1.6 0-.7-.4-1.3-1-1.7zM20 59V43.9l3.2 1.8v20.8C21.1 63.9 20 61.2 20 59zm8.2 28.1v6.7h-6.7v-6.7c0-1.5 1.2-2.6 2.6-2.6h1.5c1.4 0 2.6 1.2 2.6 2.6zM80.5 59c0 7.7-12.6 19.1-28.1 19.1H48c-8.4 0-16-3.5-21.2-7.9V47.7L49 60.1c.3.2.6.2.9.2.3 0 .6-.1.9-.2l29.6-16.5.1 15.4zM50 56.3L28.8 44.5l22.6-12.9c.9-.5 1.2-1.7.7-2.6s-1.7-1.2-2.6-.7L25 42.4 5.7 31.7 50 7l44.3 24.6L50 56.3z"
        />
      </symbol>
      <symbol id="pdf" viewBox="0 0 100 100">
        <path d="M52.5 3l34.2 34.2v55c0 2.6-2.1 4.7-4.7 4.7H17.9c-2.6 0-4.7-2.1-4.7-4.7V7.7c0-2.6 2.1-4.7 4.7-4.7h34.6m1.3-3H17.9c-4.3 0-7.7 3.5-7.7 7.7v84.5c0 4.3 3.5 7.7 7.7 7.7H82c4.3 0 7.7-3.5 7.7-7.7V36L53.8 0z" />
        <path d="M74.6 62.6c-.1-.4-.4-.9-.7-1.3-1-1-3.2-1.5-6.5-1.5-2.3 0-5 .2-7.8.6-1.3-.7-2.6-1.5-3.6-2.5-2.8-2.6-5.1-6.2-6.6-10.2.1-.4.2-.7.2-1 0 0 1.6-8.9 1.2-11.9-.1-.4-.1-.5-.2-.9l-.1-.4c-.4-1-1.3-2-2.6-2h-.8c-1.5 0-2.7.7-3 1.9-1 3.5 0 8.8 1.8 15.6l-.4 1c-1.3 3.1-2.9 6.2-4.3 9l-.2.4c-1.5 2.9-2.8 5.4-4 7.4l-1.3.7c-.1 0-2.2 1.2-2.8 1.5-4.3 2.6-7.1 5.5-7.6 7.8-.2.7 0 1.7.7 2.1l1.2.6c.5.3 1.1.4 1.7.4 3.1 0 6.6-3.8 11.5-12.3 5.6-1.8 12.1-3.4 17.7-4.2 4.3 2.4 9.6 4.1 12.9 4.1.6 0 1.1-.1 1.5-.2.6-.2 1.2-.5 1.5-1 .7-1 .8-2.4.6-3.7zm-46.3 15c.6-1.5 2.8-4.5 6-7.2.2-.2.7-.6 1.2-1.1-3.4 5.4-5.7 7.6-7.2 8.3zm19.3-44.5c1 0 1.5 2.5 1.6 4.8 0 2.3-.5 3.9-1.2 5.2-.6-1.8-.8-4.6-.8-6.4 0-.1-.1-3.6.4-3.6zm-5.8 31.7c.7-1.2 1.4-2.5 2.1-3.9 1.8-3.4 2.9-6 3.7-8.1 1.7 3 3.7 5.6 6.2 7.6.3.3.6.5 1 .8-4.9.9-9.2 2.1-13 3.6zm31.2-.3c-.3.2-1.2.3-1.7.3-1.8 0-4-.8-7.1-2.1 1.2-.1 2.3-.1 3.3-.1 1.8 0 2.3 0 4.1.4 1.6.4 1.7 1.3 1.4 1.5zm1.6-1.9c-.1-.4-.4-.9-.7-1.3-1-1-3.2-1.5-6.5-1.5-2.3 0-5 .2-7.8.6-1.3-.7-2.6-1.5-3.6-2.5-2.8-2.6-5.1-6.2-6.6-10.2.1-.4.2-.7.2-1 0 0 1.6-8.9 1.2-11.9-.1-.4-.1-.5-.2-.9l-.1-.4c-.4-1-1.3-2-2.6-2h-.8c-1.5 0-2.7.7-3 1.9-1 3.5 0 8.8 1.8 15.6l-.4 1c-1.3 3.1-2.9 6.2-4.3 9l-.2.4c-1.5 2.9-2.8 5.4-4 7.4l-1.3.7c-.1 0-2.2 1.2-2.8 1.5-4.3 2.6-7.1 5.5-7.6 7.8-.2.7 0 1.7.7 2.1l1.2.6c.5.3 1.1.4 1.7.4 3.1 0 6.6-3.8 11.5-12.3 5.6-1.8 12.1-3.4 17.7-4.2 4.3 2.4 9.6 4.1 12.9 4.1.6 0 1.1-.1 1.5-.2.6-.2 1.2-.5 1.5-1 .7-1 .8-2.4.6-3.7zm-46.3 15c.6-1.5 2.8-4.5 6-7.2.2-.2.7-.6 1.2-1.1-3.4 5.4-5.7 7.6-7.2 8.3zm19.3-44.5c1 0 1.5 2.5 1.6 4.8 0 2.3-.5 3.9-1.2 5.2-.6-1.8-.8-4.6-.8-6.4 0-.1-.1-3.6.4-3.6zm-5.8 31.7c.7-1.2 1.4-2.5 2.1-3.9 1.8-3.4 2.9-6 3.7-8.1 1.7 3 3.7 5.6 6.2 7.6.3.3.6.5 1 .8-4.9.9-9.2 2.1-13 3.6zm31.2-.3c-.3.2-1.2.3-1.7.3-1.8 0-4-.8-7.1-2.1 1.2-.1 2.3-.1 3.3-.1 1.8 0 2.3 0 4.1.4 1.6.4 1.7 1.3 1.4 1.5zm1.6-1.9c-.1-.4-.4-.9-.7-1.3-1-1-3.2-1.5-6.5-1.5-2.3 0-5 .2-7.8.6-1.3-.7-2.6-1.5-3.6-2.5-2.8-2.6-5.1-6.2-6.6-10.2.1-.4.2-.7.2-1 0 0 1.6-8.9 1.2-11.9-.1-.4-.1-.5-.2-.9l-.1-.4c-.4-1-1.3-2-2.6-2h-.8c-1.5 0-2.7.7-3 1.9-1 3.5 0 8.8 1.8 15.6l-.4 1c-1.3 3.1-2.9 6.2-4.3 9l-.2.4c-1.5 2.9-2.8 5.4-4 7.4l-1.3.7c-.1 0-2.2 1.2-2.8 1.5-4.3 2.6-7.1 5.5-7.6 7.8-.2.7 0 1.7.7 2.1l1.2.6c.5.3 1.1.4 1.7.4 3.1 0 6.6-3.8 11.5-12.3 5.6-1.8 12.1-3.4 17.7-4.2 4.3 2.4 9.6 4.1 12.9 4.1.6 0 1.1-.1 1.5-.2.6-.2 1.2-.5 1.5-1 .7-1 .8-2.4.6-3.7zm-46.3 15c.6-1.5 2.8-4.5 6-7.2.2-.2.7-.6 1.2-1.1-3.4 5.4-5.7 7.6-7.2 8.3zm19.3-44.5c1 0 1.5 2.5 1.6 4.8 0 2.3-.5 3.9-1.2 5.2-.6-1.8-.8-4.6-.8-6.4 0-.1-.1-3.6.4-3.6zm-5.8 31.7c.7-1.2 1.4-2.5 2.1-3.9 1.8-3.4 2.9-6 3.7-8.1 1.7 3 3.7 5.6 6.2 7.6.3.3.6.5 1 .8-4.9.9-9.2 2.1-13 3.6zm31.2-.3c-.3.2-1.2.3-1.7.3-1.8 0-4-.8-7.1-2.1 1.2-.1 2.3-.1 3.3-.1 1.8 0 2.3 0 4.1.4 1.6.4 1.7 1.3 1.4 1.5z"
        />
      </symbol>
      <symbol id="python" viewBox="0 0 100 100">
        <circle cx="39" cy="13.9" r="3.1" />
        <path d="M22.1 62v.7c0-1.2.1-2.4.4-3.5-.3.9-.4 1.9-.4 2.8zM75 40.9c.2-.7.3-1.5.3-2.3v-.7c.1 1 0 2-.3 3z" />
        <path d="M81.8 26.7h-3.9V16.5c0-4.9-2.5-8.8-7.2-11.4-3.6-2-8.4-3.1-13.5-3.1H46.1c-4.8 0-11.9 1.6-16.4 6.1-2.3 2.3-3.5 5.1-3.5 8.1v8h26.1v2.9H17.2C7.7 27.1 0 34.8 0 44.3v11.5C0 65.8 8.2 74 18.2 74h3.9v10.1c0 4.9 2.5 8.8 7.2 11.4 3.6 2 8.4 3.1 13.5 3.1h11.1c4.8 0 11.9-1.6 16.4-6.1 2.3-2.3 3.5-5.1 3.5-8.1v-7.9H47.7v-2.9h35.1c9.5 0 17.2-7.7 17.2-17.2V44.9c0-10.1-8.2-18.2-18.2-18.2zM18.2 71.4c-8.6 0-15.6-7-15.6-15.6V44.3c0-8.1 6.6-14.7 14.7-14.7h37.6v-8.1H28.8v-5.4c0-7.5 9.9-11.6 17.4-11.6h11.1c8.5 0 18.2 3.4 18.2 12v22.1c0 .8-.1 1.6-.3 2.3-.8 3.4-2.8 6.3-5.6 8.2-2.1 1.4-4.7 2.3-7.5 2.3H32.9c-.8 0-1.5.1-2.2.2-3.9.8-7 3.8-8.1 7.6-.3 1.1-.4 2.3-.4 3.5v8.7h-4zm79.2-15.1c0 8.1-6.6 14.7-14.7 14.7H45.2v8.1h26.1v5.4c0 7.5-9.9 11.6-17.4 11.6H42.8c-8.6 0-18.2-3.4-18.2-12V62c0-.8.1-1.6.3-2.3 1-3.4 4.1-5.8 7.8-5.8h29.2c7.6 0 14-5.3 15.6-12.4.3-1.1.4-2.3.4-3.6v-8.7h3.9c8.6 0 15.6 7 15.6 15.6v11.5z"
        />
        <circle cx="61" cy="86.8" r="3.1" />
        <path d="M77.5 41.5c.3-.9.4-1.9.4-2.9v-.7c0 1.2-.1 2.4-.4 3.6zM24.6 62v.7c0-1 .1-2 .3-3-.2.8-.3 1.5-.3 2.3zm52.9-20.5c.3-.9.4-1.9.4-2.9v-.7c0 1.2-.1 2.4-.4 3.6zm0 0c.3-.9.4-1.9.4-2.9v-.7c0 1.2-.1 2.4-.4 3.6zm0 0c.3-.9.4-1.9.4-2.9v-.7c0 1.2-.1 2.4-.4 3.6z"
        />
      </symbol>
      <symbol id="rombus" viewBox="0 0 100 100">
        <path d="M50 21.9L96.5 50 50 78.1 3.5 50 50 21.9m0-2.1L0 50l50 30.2L100 50 50 19.8z" />
      </symbol>
      <symbol id="social-counter" viewBox="0 0 132 68">
        <path fill="#800000018000000180000001" d="M122 2c4.4 0 8 3.6 8 8v48c0 4.4-3.6 8-8 8H22c-4.4 0-8-3.6-8-8V43.1l-.7-.6L3.1 34l10.2-8.5.7-.6V10c0-4.4 3.6-8 8-8h100m0-2H22c-5.5 0-10 4.5-10 10v14L0 34l12 10v14c0 5.5 4.5 10 10 10h100c5.5 0 10-4.5 10-10V10c0-5.5-4.5-10-10-10z"
        />
      </symbol>
      <symbol id="social" viewBox="0 0 100 100">
        <path d="M97.2 53c1.4-1.3 3-3.6 2.8-7.4-.4-6-4.7-8-6.9-8.2H62.6l-.3-.3c5.1-13.6 5.9-19.7 1-28.3-1.6-2.9-3.8-4.6-6.4-5.2-4.1-1-7.7 1.4-7.9 1.6-.4.2-.6.7-.6 1.1v14.1L35.8 47.2l-4.1 2.4v-.2c0-3.2-2.6-5.7-5.8-5.7H5.7c-3.2 0-5.7 2.6-5.7 5.7v41.4c0 3.2 2.6 5.7 5.7 5.7H26c3.2 0 5.8-2.6 5.8-5.7v-3l8.6 4.5c.2.1.4.1.6.1h42.8c2.3 0 6.5-1.2 7.6-6 .6-2.8-.2-5-1-6.3 1.9-.9 4.7-2.9 5.2-6.5.3-2.6-.5-4.9-1.3-6.3 2.5-.8 5.4-2.8 5.7-6.7.3-3.9-1.2-6.3-2.8-7.6zM29.1 90.9c0 1.7-1.4 3.1-3.1 3.1H5.7c-1.7 0-3.1-1.4-3.1-3.1V49.5c0-1.7 1.4-3.1 3.1-3.1H26c1.7 0 3.1 1.4 3.1 3.1v41.4zm68.2-30.4c-.3 4.1-5.1 4.7-5.3 4.8-.5.1-.9.4-1.1.8-.2.5-.1 1 .2 1.4 0 0 2.3 2.7 1.8 5.9-.5 3.6-5 4.9-5 4.9-.5.1-.8.5-.9 1s0 1 .4 1.3c.1.1 2.1 1.9 1.4 5.3-.8 3.9-4.6 3.9-5.1 3.9H41.3l-8.9-4.6c-.2-.1-.4-.1-.6-.1V52.6c.2 0 .5-.1.7-.2l5.1-3.1c.2-.1.4-.3.5-.6L51 21.2c.1-.2.1-.4.1-.6V7c1-.5 3.1-1.4 5.2-.9 1.8.4 3.4 1.8 4.7 4 4.5 7.9 3.7 13.1-1.4 26.8-.2.5-.1 1 .3 1.4l1.2 1.3c.3.3.6.4 1 .4h30.8c.6.1 4.2.7 4.5 5.7.3 4.5-3.1 6.1-3.2 6.2-.5.2-.8.8-.8 1.3 0 .6.4 1 1 1.2.3.1 3.3 1.1 2.9 6.1z"
        />
      </symbol>
      <symbol id="task" viewBox="0 0 100 100">
        <path d="M83.4 15.8h-12c-.3-.7-.7-1.3-1.4-1.7-.6-.4-1.3-.6-2.1-.6h-4.3c-2 0-3.7-1.5-3.9-3.5v-.4c-.1-2-.8-3.8-1.9-5.3C56 1.7 53 0 49.6 0s-6.5 1.7-8.3 4.3c-1.1 1.5-1.8 3.3-1.9 5.3v.4c-.2 2-1.9 3.5-3.9 3.5h-4.3c-.8 0-1.5.2-2.1.6-.6.4-1.1 1-1.4 1.7H16c-2.2 0-4 1.8-4 4V96c0 2.2 1.8 4 4 4h67.4c2.2 0 4-1.8 4-4V19.9c.1-2.2-1.8-4.1-4-4.1zm-52 1.6h4c1.8 0 3.4-.6 4.7-1.6.2-.1.3-.3.5-.4.6-.6 1.2-1.2 1.6-2 .5-.9.9-2 1-3.2v-.6c.3-3.2 3-5.7 6.3-5.7s6 2.5 6.3 5.7v.6c.1 1.1.5 2.2 1 3.2.4.7 1 1.4 1.6 2 .2.1.3.3.5.4 1.3 1 3 1.6 4.7 1.6h4v9.5H31.4v-9.5zM83.5 96H16s-.1 0-.1-.1v-76s0-.1.1-.1h11.4v11.1h44.3V19.8h11.7s.1 0 .1.1V96z"
        />
        <circle cx="49.6" cy="11.1" r="2.4" />
        <path d="M73.4 45.1H25.7c-1.1 0-2-.9-2-2s.9-2 2-2h47.6c1.1 0 2 .9 2 2s-.9 2-1.9 2zm0 12.6H25.7c-1.1 0-2-.9-2-2s.9-2 2-2h47.6c1.1 0 2 .9 2 2s-.9 2-1.9 2z" />
      </symbol>
      <symbol id="twitter" viewBox="0 0 30 32">
        <path d="M28.929 7.286q-1.196 1.75-2.893 2.982.018.25.018.75 0 2.321-.679 4.634t-2.063 4.437-3.295 3.759-4.607 2.607-5.768.973q-4.839 0-8.857-2.589.625.071 1.393.071 4.018 0 7.161-2.464-1.875-.036-3.357-1.152t-2.036-2.848q.589.089 1.089.089.768 0 1.518-.196-2-.411-3.313-1.991t-1.313-3.67v-.071q1.214.679 2.607.732-1.179-.786-1.875-2.054t-.696-2.75q0-1.571.786-2.911Q4.91 8.285 8.008 9.883t6.634 1.777q-.143-.679-.143-1.321 0-2.393 1.688-4.08t4.08-1.688q2.5 0 4.214 1.821 1.946-.375 3.661-1.393-.661 2.054-2.536 3.179 1.661-.179 3.321-.893z"
        />
      </symbol>
      <symbol id="vk" viewBox="0 0 35 32">
        <path d="M34.232 9.286q.411 1.143-2.679 5.25-.429.571-1.161 1.518-1.393 1.786-1.607 2.339-.304.732.25 1.446.304.375 1.446 1.464h.018l.071.071q2.518 2.339 3.411 3.946.054.089.116.223t.125.473-.009.607-.446.491-1.054.223l-4.571.071q-.429.089-1-.089t-.929-.393l-.357-.214q-.536-.375-1.25-1.143t-1.223-1.384-1.089-1.036-1.009-.277q-.054.018-.143.063t-.304.259-.384.527-.304.929-.116 1.384q0 .268-.063.491t-.134.33l-.071.089q-.321.339-.946.393h-2.054q-1.268.071-2.607-.295t-2.348-.946-1.839-1.179-1.259-1.027l-.446-.429q-.179-.179-.491-.536T6.499 21.3t-1.893-2.696-2.188-3.768-2.33-4.857q-.107-.286-.107-.482t.054-.286l.071-.107q.268-.339 1.018-.339l4.893-.036q.214.036.411.116t.286.152l.089.054q.286.196.429.571.357.893.821 1.848t.732 1.455l.286.518q.518 1.071 1 1.857t.866 1.223.741.688.607.25.482-.089q.036-.018.089-.089t.214-.393.241-.839.17-1.446 0-2.232q-.036-.714-.161-1.304t-.25-.821l-.107-.214q-.446-.607-1.518-.768-.232-.036.089-.429.304-.339.679-.536.946-.464 4.268-.429 1.464.018 2.411.232.357.089.598.241t.366.429.188.571.063.813-.018.982-.045 1.259-.027 1.473q0 .196-.018.75t-.009.857.063.723.205.696.402.438q.143.036.304.071t.464-.196.679-.616.929-1.196 1.214-1.92q1.071-1.857 1.911-4.018.071-.179.179-.313t.196-.188l.071-.054.089-.045.232-.054.357-.009 5.143-.036q.696-.089 1.143.045t.554.295z"
        />
      </symbol>
    </svg>
    <div id="wrapper" class="page__wrapper">
      <header id="header" class="header">
        <div class="container">
          <div class="header__logo">
            <img src="{% static 'bcs_client/landing/img/general/logo.png' %}" alt="" width="110px" height="39">
          </div>
          <a href="{% url 'bcs_client:getDoc' 'partner' %}" class="header__action btn btn-primary" style="margin-left: 10px;">Сотрудничество</a>
          <!-- <a href="{% url 'bcs_client:getMain' %}" class="header__action btn btn-primary" >Принять участие</a> -->
          <nav class="header__nav">
            <ul role="tablist" class="nav nav-tabs">
              <li class="nav-item"><a href="#sectionCompetition" class="nav-link">Соревнование</a>
              </li>
              <li class="nav-item"><a href="#sectionAwards" class="nav-link">ПРИЗЫ и награды</a>
              </li>
              <li class="nav-item"><a href="#sectionTutorial" class="nav-link">Как начать</a>
              </li>
              <li class="nav-item"><a href="#sectionAbout" class="nav-link">О БКС</a>
              </li>
            </ul>
          </nav>
        </div>
      </header>
      <main id="main" class="main">
        <!-- START section Competition-->
        <section class="page__section --dark-theme block --main">
          <div style="background-image: url({% static 'bcs_client/landing/img/general/bg-main-section.jpg' %})" data-wow-offset="0" data-wow-delay="0" data-wow-duration="3s" class="block__bg wow"></div>
          <div class="block__inner">
            <div class="block__body container">
              <header class="block__header"><b data-wow-offset="0" data-wow-delay="0" data-wow-duration="1s" class="block__title title fadeInUp wow">
          Соревнование<br>
          по алгоритмической торговле</b><b data-wow-offset="0" data-wow-delay="0" data-wow-duration="2s" class="block__title sub-title fadeInUp wow">
          BCS Quants<br>
          Challenge</b>
              </header>
              <div class="block__content clearfix event">
                <div class="block__col --col-1">
                  <div data-wow-offset="0" data-wow-delay="0.5s" data-wow-duration="2s" class="event__date fadeInUp wow"><!-- Март — Май --> Завершено</div>
                  <div data-wow-offset="0" data-wow-delay="0.5s" data-wow-duration="2s" class="share-link fadeInUp wow">
                    <div data-type="fb" class="share-link__item goodshare">
                      <svg class="share-link__icon icon icon-facebook" width="19px" height="32px">
                        <use xlink:href="#facebook"></use>
                      </svg>
                      <span data-counter="fb" class="share-link__count"></span>
                    </div>
                    <div data-type="vk" class="share-link__item goodshare">
                      <svg class="share-link__icon icon icon-twitter" width="35px" height="32px">
                        <use xlink:href="#vk"></use>
                      </svg>
                      <span data-counter="vk" class="share-link__count"></span>
                    </div>
                    <!-- <div data-type="tw" class="share-link__item goodshare">
                      <svg class="share-link__icon icon icon-twitter" width="30px" height="32px">
                        <use xlink:href="#twitter"></use>
                      </svg> -->

                      <!--span( class="share-link__count" data-counter="tw")-->
                    <!-- </div> -->
                  </div>
                </div>
                <div class="block__col --col-2">
                  <div data-wow-offset="0" data-wow-delay="0.5s" data-wow-duration="2s" class="event__text fadeInUp wow">
                    <p>Добро пожаловать в мир квантов — интеллектуальной элиты финансовых рынков. Мы приглашаем студентов, аспирантов и выпускников, имеющих хорошую математическую и техническую подготовку, к участию в <b>первом соревновании по количественной торговле</b>,
                      организованном компанией БКС.</p>
                  </div>
                  <!-- <a href="{% url 'bcs_client:getMain' %}" role="button" data-wow-offset="0" data-wow-delay="1s" data-wow-duration="2s" class="block__action btn btn-primary fadeIn wow">Принять участие</a> -->
                  <a href="{% url 'bcs_client:getDoc' 'partner' %}" role="button" data-wow-offset="0" data-wow-delay="1.3s" data-wow-duration="2s" class="block__action btn btn-primary fadeIn wow" style="margin-left: 20px;">Сотрудничество</a>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- END section Competition-->
        <!-- START section Competition-->
        <section id="sectionCompetition" class="page__section --gray-theme block --competition">
          <div class="block__body container">
            <header class="block__header"><b class="block__title title"><span class="block__icon">
      <svg class="icon-rombus" width="100px" height="100px">
        <use xlink:href="#rombus"></use>
      </svg>

      <svg class="icon icon-competition" width="100px" height="100px">
        <use xlink:href="#competition"></use>
      </svg>
    </span>СОРЕВНОВАНИЕ</b>
              <div class="block__text">
                <p>
                  <!-- <b>BCS Quants Challenge</b> — это соревнование по <b>биржевой торговле</b> на данных биржевых торгов по самым ликвидным российским инструментам. <b>Торговые роботы</b> тестируются как на исторических данных, так и в режиме онлайн с
                  обработкой данных торгов за каждую минуту. -->
                  <b>BCS Quants Challenge</b> официально завершено, в скором времени будут объявлены победители.
                </p>
              </div>
            </header>
            <div class="block__content clearfix">
              <div class="block__col --col-1">
                <div class="competition">
                  <div class="competition__body">
                    <div class="competition__text">
                      <p>Платформа соревнования <b>не требует от вас глубоких навыков программирования</b>, достаточно иметь поверхностное понимание и желание освоить базовые конструкции языка python.</p>
                      <a href="{% url 'bcs_client:getDoc' 'python' %}" class="competition__link link">Документация по python</a>
                    </div>
                  </div>
                </div>
                <div class="competition">
                  <div class="competition__body">
                    <div class="competition__text">
                      <p>Соревнование имеет максимально приближенный к практике формат, ваши стратегии будут работать онлайн <b>на реальных данных биржевой торговли</b>, и вы сможете впоследствии использовать для личного блага.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="block__col --col-2">
                <div class="competition">
                  <div class="competition__body">
                    <div class="competition__text">
                      <p>Участие в соревновании станет возможностью для вас попробовать себя в качестве разработчика торговых роботов, сравнить свои результаты с другими участниками, <b>проявить свои аналитические способности и достичь результата</b>.</p>
                    </div>
                  </div>
                </div>
                <div class="competition --link">
                  <div class="competition__body">
                    <div class="competition__text">
                      <svg class="icon icon-pdf" width="100px" height="100px">
                        <use xlink:href="#pdf"></use>
                      </svg>
                      <a href="/filer/sharing/1487675250/15/" class="competition__link link"><b>Регламент и правила соревнования</b></a>
                      <p class="competition__size">PDF 2.5 Mb</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- END section Competition-->
        <!-- START section Awards-->
        <section id="sectionAwards" class="page__section block --awards">
          <div class="block__body container">
            <header class="block__header"><b class="block__title title"><span class="block__icon">
      <svg class="icon-rombus" width="100px" height="100px">
        <use xlink:href="#rombus"></use>
      </svg>

      <svg class="icon icon-cup" width="100px" height="100px">
        <use xlink:href="#cup"></use>
      </svg>
    </span>Призы и награды</b>
            </header>
            <div class="block__content clearfix">
              <div data-wow-duration="1s" class="block__col --col-1 wow fadeInUp">
                <div class="block__infograph --infograph-1">
                  <img src="{% static 'bcs_client/landing/img/general/bg-awars-1.png' %}" alt="" class="img-1">
                </div><b class="block__title title">Все участники</b>
                <div class="block__text">
                  <p>Получат доступ к актуальным данным биржевой торговли по <b>16 самым ликвидным инструментам</b>.</p>
                  <p>Смогут протестировать свои стратегии как на исторических, так и на онлайн данных с помощью <b>специально разработанной платформы</b> бэктестирования.</p>
                  <p>Могут научиться писать как простые, так и сложные стратегии количественной торговли на языке python.</p>
                </div>
              </div>
              <div data-wow-delay="0.3s" data-wow-duration="1s" class="block__col --col-2 wow fadeInUp">
                <div class="block__infograph --infograph-2">
                  <img src="{% static 'bcs_client/landing/img/general/bg-awars-2.png' %}" alt="" class="img-1">
                  <img src="{% static 'bcs_client/landing/img/general/bg-awars-2-1.png' %}" alt="" class="img-2">
                </div><b class="block__title title">ЛУЧШИЕ УЧАСТНИКИ</b>
                <div class="block__text">
                  Получат <b>ценный опыт в качестве квант-аналитика</b>, что поможет в построении карьеры в инвестиционно-банковском секторе.</p>
                </div>
              </div>
              <div data-wow-delay="0.6s" data-wow-duration="1s" class="block__col --col-3 wow fadeInUp">
                <div class="block__infograph --infograph-3">
                  <img src="{% static 'bcs_client/landing/img/general/bg-awars-3.png' %}" alt="" class="img-1">
                  <img src="{% static 'bcs_client/landing/img/general/bg-awars-3-1.png' %}" alt="" class="img-2">
                </div><b class="block__title title">ПРИЗЕРЫ</b>
                <div class="block__text">
                  <p>Разделят призовой
                    <br>фонд соревнования </br> <b>500 000 рублей</b>.</p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- END section Awards-->

        <!-- START section Competition-->
        <section id="sectionTutorial" class="page__section --gray-theme block --tutorial">
          <div class="block__body container">
            <header class="block__header clearfix"><b class="block__title title"><span class="block__icon">
      <svg class="icon-rombus" width="100px" height="100px">
        <use xlink:href="#rombus"></use>
      </svg>

      <svg class="icon icon-learning" width="100px" height="100px">
        <use xlink:href="#learning"></use>
      </svg>
    </span>КАК Начать</b><b class="block__title sub-title">
        Писать торговых роботов просто!
        </b>
            </header>
            <div class="block__content clearfix">
              <div data-wow-duration="1s" class="block__col --col-1 wow fadeInUp">
                <div class="tutorial"><span class="loading"><span data-wow-offset="0" data-wow-delay="1s" data-wow-duration="0.2s" class="loading__item --item-1 fadeIn wow"></span><span data-wow-offset="0" data-wow-delay="1.2s" data-wow-duration="0.2s" class="loading__item --item-2 fadeIn wow"></span>
                  <span
                  data-wow-offset="0" data-wow-delay="1.4s" data-wow-duration="0.2s" class="loading__item --item-3 fadeIn wow"></span>
                    </span>
                    <a href="{% url 'bcs_client:getDocMain' %}"><figure class="tutorial__icon">

                      <svg class="icon icon-book" width="100px" height="100px">
                        <use xlink:href="#book"></use>
                      </svg>

                    </figure></a><b class="tutorial__title">
          Изучите инструкцию<br>и посмотрите примеры
          </b>
          <a href="{% url 'bcs_client:getDocMain' %}" class="tutorial__link link">Документация</a>
                </div>
              </div>
              <div data-wow-delay="0.3s" data-wow-duration="1s" class="block__col --col-2 wow fadeInUp">
                <div class="tutorial"><span class="loading"><span data-wow-offset="0" data-wow-delay="2s" data-wow-duration="0.2s" class="loading__item --item-1 fadeIn wow"></span><span data-wow-offset="0" data-wow-delay="2.2s" data-wow-duration="0.2s" class="loading__item --item-2 fadeIn wow"></span>
                  <span
                  data-wow-offset="0" data-wow-delay="1.2s" data-wow-duration="0.2s" class="loading__item --item-3 fadeIn wow"></span>
                    </span>
                    <a href="{% url 'bcs_client:getDoc' 'tutorial' %}"><figure class="tutorial__icon">

                      <svg class="icon icon-python " width="100px" height="100px">
                        <use xlink:href="#python"></use>
                      </svg>

                    </figure></a><b class="tutorial__title">Напишите свою стратегию на языке python</b>
                    <p class="text-muted">(это может быть всего несколько строчек кода!)</p>
                    <a href="{% url 'bcs_client:getDoc' 'tutorial' %}" class="tutorial__link link">Как создать стратегию</a>
                </div>
              </div>
              <div data-wow-delay="0.6s" data-wow-duration="1s" class="block__col --col-3 wow fadeInUp">
                <div class="tutorial">
                  <a href="{% url 'bcs_client:rating' %}"><figure class="tutorial__icon">
                  <a href="/"><figure class="tutorial__icon">
                    <svg class="icon icon-analysis " width="100px" height="100px">
                      <use xlink:href="#analysis"></use>
                    </svg>

                  </figure></a><b class="tutorial__title">Анализируйте и добивайтесь результатов</b>
                  <a href="{% url 'bcs_client:rating' %}" class="tutorial__link link">Рейтинг</a>
                </div>
              </div>
              <div data-wow-delay="0.9s" data-wow-duration="1s" class="block__col --col-4 wow fadeInUp">
                <div class="tutorial --bordered">
                  <a href="https://vk.com/bcsquants" target="_blank"><figure class="tutorial__icon">
                  <!-- <a href="/" target="_blank"><figure class="tutorial__icon"> -->
                    <svg class="icon icon-social " width="100px" height="100px">
                      <use xlink:href="#social"></use>
                    </svg>

                  </figure></a><b class="tutorial__title">Присоединяйтесь<br>к нашему сообществу Вконтакте</b>
                  <p>
                    Там вы можете обсуждать идеи, задавать вопросы организаторам и следить за новостями.
                  </p>
                  <div class="social-link">
                    <a href="https://vk.com/bcsquants" target="_blank" class="block__link social__link">
                      <svg class="social-link__icon icon icon-vk" width="35px" height="32px">
                        <use xlink:href="#vk"></use>
                      </svg>
                      <span class="link">bcsquants</span>
                    </a>
                  </div>

                  <!-- <div class="social-link">
                    <a href="https://www.facebook.com/bcsquants" class="social-link__item">
                      <svg class="social-link__icon icon icon-facebook" width="19px" height="32px">
                        <use xlink:href="#facebook"></use>
                      </svg>
                      <span class="link">bcsquants</span>
                    </a>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- START section About Us-->
        <section id="sectionAbout" class="page__section block --dark-theme --about">
          <div style="background-image: url({% static 'bcs_client/landing/img/general/bg-about-section.jpg' %})" class="block__bg wow"></div>
          <div class="block__body container">
            <header class="block__header"><b class="block__title title"><span class="block__icon">
      <svg class="icon-rombus" width="100px" height="100px">
        <use xlink:href="#rombus"></use>
      </svg>

      <svg class="icon icon-build" width="100px" height="100px">
        <use xlink:href="#build"></use>
      </svg>
    </span>О Компании</b>
            </header>
            <div class="block__content clearfix">
              <div class="block__text">
                <p>За 20 лет работы на фондовом рынке Компания БКС (образована в 1995 году
                  <br>в Новосибирске) приобрела заслуженную репутацию надежного партнера,
                  <br>как среди инвесторов, так и в профессиональном сообществе.<b> Сегодня БКС —
                  <br>входит в число лидеров торгов на российских фондовых площадках</b>.
                </p>

<!-- <p><b>БКС Глобал Маркетс</b> инвестиционно-банковское подразделение <b>ФГ БКС</b>, которое предоставляет брокерские,
<br>прайм-брокерские, а также инвестиционно-банковские услуги профессиональным институциональным инвесторам.
<br>Компания объединяет принципы глубокого понимания рынка и самых современных брокерских технологий.</p>
<br>
<p><b>Финансовая группа БКС (ФГ БКС)</b> является независимой финансовой организацией,
<br>предоставляющей полный спектр услуг для институциональных и розничных клиентов.
<br>Действующая с 1995 года компания осуществляет брокерские, инвестиционно-банковские услуги,
<br>управление активами, кастодиальную и консалтинговую деятельность. Реализация разумной стратегии развития,
<br>а также использование инновационных технологий и привлечение квалифицированных специалистов
<br>сделали БКС ведущей инвестиционно-брокерской компанией России. В компании работают
<br>более 2000 сотрудников в более чем 130 офисах и представительствах.</p>
 -->
              </div>
              <div class="clearfix">
                <div class="block__col --col-1">
                  <!-- START suppot-->
                  <div class="support"><b class="support__title title">Техническая поддержка</b>
                    <div class="support__text">
                      <p>Если у вас есть вопросы или предложения, свяжитесь с нами,
                        <br>мы будем рады вам помочь.</p>
                    </div>
                    <div class="support__meta">
                      <!-- <a href="tel:+74954921287" class="support__tel">+7 (495) 999-99-99</a> -->
                      <a href="mailto:support@bcsquants.com" class="support__mail">support@bcsquants.com</a>
                    </div>
                  </div>
                  <!-- END suppot-->
                </div>
                <div class="block__col --col-2">
                  <div class="social">
                    <div class="block__meta social-link"><a href="/" class="block__link social-link__item">
                      <span>www.bcsquants.com</span></a>

                      <a href="https://vk.com/bcsquants" class="block__link social-link__item">
                        <svg class="social-link__icon icon icon-vk" width="35px" height="32px">
                          <use xlink:href="#vk"></use>
                        </svg>
                        <span>bcsquants</span>
                      </a>

                      <!-- <a href="https://www.facebook.com/bcsquants" class="block__link social-link__item">
                        <svg class="social-link__icon icon icon-facebook" width="19px" height="32px">
                          <use xlink:href="#facebook"></use>
                        </svg>
                        <span>bcsquants</span>
                      </a> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- END section About Us-->
        <!-- START section Request form-->
        <section id="sectionRequestForm" class="page__section block --request-form">
          <div class="block__body container">
            <header class="block__header"><b class="block__title title">
              <span class="block__icon">
                <svg class="icon-rombus" width="100px" height="100px">
                  <use xlink:href="#rombus"></use>
                </svg>

                <svg class="icon icon-task" width="100px" height="100px">
                  <use xlink:href="#task"></use>
                </svg>
              </span>Получать последние новости о соревновании</b>
              <br/><br/><br/>
            </header>
            <div class="block__content clearfix">
              <form method="POST" action="{% url 'bcs_client:add_email' %}" class="form" id="email-form">
                <!-- <div class="form-group"><span class="form-label">Имя</span>
                  <input id="fieldName" type="text" autocomplete="off" required="required" class="form-control">
                </div>
                <div class="form-group"><span class="form-label">Фамилия</span>
                  <input id="fieldSurname" type="text" autocomplete="off" required="required" class="form-control ">
                </div> -->
                <div class="form-group"><span class="form-label">Email</span>
                  <input id="fieldEmail" name="email" type="email" autocomplete="off" required="required" class="form-control">
                </div>
                <!-- <div class="form-group"><span class="form-label">Телефон</span>
                  <input id="fieldTel" name="telNumber" type="tel" autocomplete="off" required="required" class="form-control">
                </div> -->
                <div class="form-action">
                  <input type="submit" value="Получать новости" class="btn btn-primary" id="form-button" data-wait="Подождите..." default="Получать новости">
                </div>
              </form>
              <div class="success-message">
                <p id="form-message" style="color: green; font-size: 30px; text-align: center;"></p>
              </div>
              <div class="error-message">
                <p id="form-error" style="color: red; font-size: 30px; text-align: center;"></p>
              </div>

            </div>
            <br/>

            <div style="margin-left: 250px;">
              <img src="/filer/sharing/1487246353/14/" width="300px" />
              <img src="/filer/sharing/1487246352/11/" width="300px" />
              <br/>
              <!-- <img src="/filer/sharing/1487246352/12/" width="300px" /> -->
              <img src="/filer/sharing/1487246352/13/" width="300px" />
            </div>
          </div>
        </section>
        <!-- END section Request form-->
        <section style="background-color: #efefef; height: 60px;">
          <div style="color: #a2a5a6; text-align: center; line-height: 60px;">ООО "Компания БКС", лицензия №154-04434-100000 от 10.01.2001 на осуществление брокерской деятельности. Выдана ФСФР. Без ограничения срока действия.</div>
        </section>
      </main>
    </div>

    <script src="{% static 'bcs_client/landing/js/landing.js' %}"></script>
    <script src="{% static 'bcs_client/landing/js/separate-js/wow.js' %}"></script>
    <script src="{% static 'bcs_client/landing/js/main8awclqlblkepwcyuv7vi.min.js' %}"></script>
    {% include "bcs_client/scripts.html" %}
  </body>

</html>