{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
	QuantForces
{% endblock %}

{% block navbar-menu %}
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="#home" class="smothScroll">{% trans "Начало" %}</a></li>
	        <li class=""><a href="#desc" class="smothScroll">{% trans "Описание" %}</a></li>
	        <li class=""><a href="#showcase" class="smothScroll">{% trans "Пример" %}</a></li>
	        <li class=""><a href="#contact" class="smothScroll">{% trans "Контакты" %}</a></li>
	      </ul>
{% endblock %}

{% block navbar-user %}
	      <ul class="nav navbar-nav navbar-right">
	        <li>
	          &nbsp;
	          <button onclick="location.href='/accounts/register'" type="button" class="btn btn-success navbar-btn">{% trans "Регистрация" %}</button>
      		</li>
      		<li>
      		  &nbsp;
              <button onclick="location.href='/accounts/login'" type="button" class="btn btn-primary navbar-btn">{% trans "Вход" %}</button>
            </li>
            <li class="navbar-split">&nbsp;</li>
            {% comment %}
                {% for lang in LANGUAGES %}
                  <li>
                    <form name="setLang{{ lang.1}}" action="/i18n/setlang/" method="POST">
                      {% csrf_token %}
                      <input name="next" type="hidden" value="{{ request.path }}">
                      <input type="hidden" name="language" value="{{ lang.0 }}">
                      <a class="navbar-brand navbar-lang" href="#" onclick="document.setLang{{ lang.1 }}.submit(); return false;">
                        <img src=
                          "{% with 'staticpage/img/'|add:lang.1|add:'_flag.png' as image_static %}
                            {% static image_static %}
                          {% endwith %}"
                          alt="{{ lang.1 }}"
                        >
                      </a>
                    </form>
                  </li>
                {% endfor %}
            {% endcomment %}
	      </ul>
{% endblock %}

{% block content %}
<section id="home" name="home"></section>
	<div id="headerwrap">
	  <div class="container">
	      <div class="row centered">
	        <div class="col-lg-12">
              <h1>Сообщество алгоритмических трэйдеров</h1>
				<h3>{% trans "Покажи свою силу" %}</h3>
				<br>
	    	</div>
	      </div>
	    </div> <!--/ .container -->
	</div><!--/ #headerwrap -->


	<section id="desc" name="desc"></section>
	<!-- INTRO WRAP -->
	<div id="intro">
	  <div class="container">
		<div class="row centered">
		  <h1>{% trans "Что мы предлагаем" %}</h1>
		  <br>
		  <br>
		  <div class="col-lg-4">
		    <img src="{% static 'staticpage/img/intro01.png' %}" alt="">
			<h3>{% trans "Сообщество" %}</h3>
			<p>{% trans "Пишите о своих исследованиях, находите единомышленников для командной работы" %}</p>
		  </div>
		  <div class="col-lg-4">
			<img src="{% static 'staticpage/img/intro02.png' %}" alt="">
			<h3>{% trans "Идеи" %}</h3>
			<p>{% trans "Превращай торговую идею в автоматизированную стратегию" %}</p>
		  </div>
		  <div class="col-lg-4">
			<img src="{% static 'staticpage/img/intro03.png' %}" alt="">
			  <h3>{% trans "Торговля" %}</h3>
			  <p>{% trans "Участвуй в соревнованиях и докажи, что твой робот лучший" %}</p>
		  </div>
		</div>
	  </div> <!--/ .container -->
	</div><!--/ #introwrap -->

	<div id="features">
	  <div class="container">
		<div class="row">
		  <h1 class="centered">{% trans "Что специального?" %}</h1>
		  <br>
		  <br>
		  <div class="col-sm-6 centered">
		    <img class="img-responsive center-block" src="{% static 'staticpage/img/feautures.png' %}">
		  </div>
		  <div class="col-sm-6 centered-sm">
		    <h3>{% trans "Всякие плюшки" %}</h3>
		    <br>

		    <div class="accordion ac" id="accordion2">
		      <div class="accordion-group">
		        <div class="accordion-heading">
		          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
		            {% trans "Торговая песочница" %}
		          </a>
		        </div>
		        <div id="collapseOne" class="accordion-body collapse in">
		          <div class="accordion-inner">
				    <p>{% trans "Текст под песочницей" %}</p>
				  </div>
		        </div>
		      </div>
		      <br>

		      <div class="accordion-group">
		        <div class="accordion-heading">
		          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
		          {% trans "Алгоритмические достижения" %}
		          </a>
		        </div>
		        <div id="collapseTwo" class="accordion-body collapse">
		          <div class="accordion-inner">
				    <p>{% trans "Текст про алгоритмические достижения" %}</p>
				  </div>
		        </div>
		      </div>
		      <br>

		      <div class="accordion-group">
		        <div class="accordion-heading">
		          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
		            {% trans "Реальные данные" %}
		          </a>
		        </div>
		        <div id="collapseThree" class="accordion-body collapse">
		          <div class="accordion-inner">
				    <p>{% trans "Текст про реальные данные" %}</p>
				  </div>
		        </div>
		      </div>
		      <br>

		      <div class="accordion-group">
		        <div class="accordion-heading">
		          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
		            {% trans "Показывай свои идеи" %}
		          </a>
		        </div>
		        <div id="collapseFour" class="accordion-body collapse">
		          <div class="accordion-inner">
				    <p>{% trans "Текст про показывай свои идеи" %}</p>
				  </div>
		        </div>
		      </div>
		      <br>
		    </div>
	      </div>
	    </div>
      </div>
    </div>



	<section name="showcase"></section>
	<div id="showcase">
	  <div class="container">
		<div class="row">
		  <h1 class="centered">{% trans "Наши проекты" %}</h1>
		  <br>
		  <!-- graphic -->
		  <div class="col-sm-12">
		  	<ul>
			  	<li><a href="/bcs">BCS Quants Challenge</a>, абсолютно уникальное соревнование алгоритмичсеких стратегий на данных Московской биржи при поддержке <a target="_blank" href="http://broker.ru">БКС</a></li>
			  	<li>Платформа алготрейдеров <b>QuantForces</b>, в разработке. Примите участие в наших соревнованиях и вы первым узнаете об открытии</li>
		  	</ul>
		  </div>
		  <!-- /graphic -->
		</div>
		<br>
		<br>
		<br>
	  </div><!-- /container -->
	</div>

	<section id="contact" name="contact"></section>
	<div id="footerwrap">
	  <div class="container">
	    <div class="col-lg-5">
		  <h3>{% trans "Контакты QuantForces" %}</h3>
		  <p>
			Ваше мнение очень важно, пишите на support@quantforces.com
		  </p>
		</div>

	    <!-- <div class="col-lg-7">
		  <h3>{% trans "Напишите нам" %}</h3>
		  <br>
		  <form role="form" action="#" method="post" enctype="plain">
		    <div class="form-group">
			  <label for="name1">{% trans "Имя" %}</label>
			  <input type="name" name="Name" class="form-control" id="name1" placeholder="{% trans "Ваше имя" %}">
		    </div>
		    <div class="form-group">
			  <label for="email1">{% trans "E-mail адрес" %}</label>
			  <input type="email" name="Mail" class="form-control" id="email1" placeholder="{% trans "Ваш e-mail" %}">
		    </div>
		    <div class="form-group">
			  <label>{% trans "Текст сообщения" %}</label>
			  <textarea class="form-control" name="Message" rows="3"></textarea>
		    </div>
		    <br>
		    <button type="submit" class="btn btn-large btn-success">{% trans "Отправить" %}</button>
		  </form>
	    </div> -->


	  </div>
	</div>

    <div id="{% if footer_not_fix %}c{% else %}c_fix{% endif %}">
  	  <div class="container">
  	    <p>
          {% trans "Создано " %}<a href="http://www.quantforces.com">{% trans "командой QuantForces" %}</a>
        </p>
  	  </div>
    </div>

{% endblock %}



{% block end-scripts %}
  <script>
    $('.navbar li').click(function(e) {
      if (e.target.nodeName.toLowerCase() !== 'button') {
        window.location.href=$('a', this).attr('href');
        var y = $(window).scrollTop();
        $(window).scrollTop(y + 1);

        e.preventDefault();
      }
    });
  </script>
{% endblock %}