{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block content %}	
	<div style="padding-left:5%">
		<p>{% trans "Привет" %}, {{ user }}</p>
		<p>We are still in alpha or beta version. All bugs send to <b>ivanovskiy.dmitriy@gmail.com</b></p>
		<p>You can take part in first competetion, go to <a href="/contest">Contests</a></p>
	</div>
{% endblock %}