{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
    {% trans "Блог" %}
{% endblock %}

{% block head %}
<link href="{% static 'contest/css/contest.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    <div id="main" class="col-sm-12 col-sm-offset-1">
        <h1>{% trans "Примеры стратегий" %}</h1>
        </br>
        <div id="information">
            {% if articles %}
                <ul>
                {% for article in articles %}
                    <li><a href="{% url 'blog:detail' article.id %}">{{ article.name }}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                <p>Кажется стратегий нет :(</p>
            {% endif %}
        </div>
    </div>
{% endblock %}