{% extends "bcs_client/menu.html" %}
{% load staticfiles %}

{% block head %}
{% endblock %}

{% block title %}
  Пользовательское соглашение
{% endblock %}

{% block content %}
  <div class="l-container">
    <div class="row">
      <div class="col s12">
        <div class="title -inner">Пользовательское соглашение</div>
      </div>
      <div class="row">
        В разработке
      </div>
    </div>
  </div>
{% endblock %}