{% extends "bcs_client/menu.html" %}
{% load staticfiles %}

{% block title %}
  Мои стратегии
{% endblock %}

{% block head %}
  <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
  <link href="{% static 'staticpage/css/table.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <script>
    $(document).ready(function() {
      $.fn.dataTable.ext.errMode = 'none';
      backtestOptions = {
        "ajax": "{% url 'bcs_client:showAttempts' %}?json=1&mode=B",
        "order": [],
        "lengthChange": false,
        "searching": false,
        "info": false,
        "pagingType": "numbers",
      }
      var backtestTable = $('#backtest_attempts_table').DataTable(backtestOptions);
      backtestTable.page.len(25);

      onlineOptions = {
        "ajax": "{% url 'bcs_client:showAttempts' %}?json=1&mode=O",
        "order": [],
        "lengthChange": false,
        "searching": false,
        "info": false,
        "pagingType": "numbers",
      }
      var onlineTable = $('#online_attempts_table').DataTable(onlineOptions);
      onlineTable.page.len(10);

      setInterval( function () {
        backtestTable.ajax.reload(null, false);
        onlineTable.ajax.reload(null, false);
      }, 2000 );

      $(".link_class").on("click", function(e) {
           e.preventDefault();
           var row = $(this).parents("td")[0];
           var pos = oTable.fnGetPosition(row);
           var id = oTable.fnGetData(pos[0])["id"];
           alert(id);
      } );

    });
  </script>

    <div class="l-container">
      <div class="row">
        <div class="col s12">
          <div class="title -inner">Мои стратегии</div>
          <div class="tabs">
            <div data-tab="#backtest_attempts" class="tabs__item -active js-tab"><span class="tabs__item-text">Результаты тестов</span></div>
            <div data-tab="#online_attempts" class="tabs__item js-tab"><span class="tabs__item-text -dot">Стратегии онлайн</span></div>
          </div>

          <!-- <table id="myStrategies" class="c-table js-tab-content">
            <thead>
              <tr>
                <th>Название <span class="c-table__sort-arrow">&darr;</span><span class="c-table__sort-arrow">&uarr;</span></th>
                <th>Статус <span class="c-table__sort-arrow">&darr;</span><span class="c-table__sort-arrow">&uarr;</span></th>
                <th>Язык <span class="c-table__sort-arrow">&darr;</span><span class="c-table__sort-arrow">&uarr;</span></th>
                <th>Средний шарп <span class="c-table__sort-arrow">&darr;</span><span class="c-table__sort-arrow">&uarr;</span></th>
                <th>Суммарный P&L <span class="c-table__sort-arrow">&darr;</span><span class="c-table__sort-arrow">&uarr;</span></th>
                <th>Кол-во сделок <span class="c-table__sort-arrow">&darr;</span><span class="c-table__sort-arrow">&uarr;</span></th>
                <th>Комментарий</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><span class="icon-star"><svg><use xlink:href="#star"></use></svg></span><span class="h-red">Тестовая стратегия</span></td>
                <td><span class="c-label -active">Онлайн</span></td>
                <td class="h-muted">Python 2</td>
                <td class="h-muted">23.12</td>
                <td class="h-muted">41.65%</td>
                <td class="h-muted">76</td>
                <td>Успешно</td>
              </tr>
              <tr>
                <td><span class="icon-star -red"><svg><use xlink:href="#star_fill"></use></svg></span><span class="h-red">Тестовая стратегия</span></td>
                <td><span class="c-label -error">Ошибка</span></td>
                <td class="h-muted">Python 2</td>
                <td class="h-muted">23.12</td>
                <td class="h-muted">41.65%</td>
                <td class="h-muted">76</td>
                <td>Ошибка</td>
              </tr>
              <tr>
                <td><span class="icon-star"><svg><use xlink:href="#star"></use></svg></span><span class="h-red">Тестовая стратегия</span></td>
                <td><span class="c-label">Тест пройден</span></td>
                <td class="h-muted">Python 2</td>
                <td class="h-muted">23.12</td>
                <td class="h-muted">41.65%</td>
                <td class="h-muted">76</td>
                <td>Успешно</td>
              </tr>
              <tr>
                <td><span class="icon-star"><svg><use xlink:href="#star"></use></svg></span><span class="h-red">Тестовая стратегия</span></td>
                <td><span class="c-label -disabled">Выполняется...</span></td>
                <td colspan="4">
                  <div class="loader"><span class="loader__item -active"></span><span class="loader__item -active"></span><span class="loader__item -active"></span><span class="loader__item -active"></span><span class="loader__item"></span><span class="loader__item"></span><span class="loader__item"></span><span class="loader__item"></span><span class="loader__item"></span><span class="loader__item"></span><span class="loader__item"></span><span class="loader__item"></span><span class="loader__item"></span><span class="loader__item"></span><span class="loader__item"></span><span class="loader__item"></span></div>
                </td>
                <td>5 из 16 — Проверка инструмента MGNT</td>
              </tr>
            </tbody>
          </table>
          <table id="strategiesOnline" class="c-table -border h-hidden js-tab-content">
            <thead>
              <tr>
                <th rowspan="2">Название</th>
                <th rowspan="2" style="border-right: 1px solid #ebebeb;">Время начала
                  <br/>тестирования
                  <br/>онлайн</th>
                <th colspan="3" style="border-right: 1px solid #ebebeb;" class="h-text-center h-muted">Всё время:</th>
                <th colspan="3" class="h-text-center h-muted">Сегодня:</th>
              </tr>
              <tr>
                <th>P&L</th>
                <th>Шарп</th>
                <th style="border-right: 1px solid #ebebeb;">Кол-во сделок</th>
                <th>P&L</th>
                <th>Шарп</th>
                <th>Кол-во сделок</th>
              </tr>
            </thead>
            <tbody>
              <tr class="c-table__warning">
                <td colspan="8">
                  <svg>
                    <use xlink:href="#warning"></use>
                  </svg>Достигнуто максимальное количество стратегий онлайн (10 шт)</td>
              </tr>
              <tr>
                <td class="h-red">Тестовая стратегия</td>
                <td class="h-muted">25 сен 2016 в 11:32</td>
                <td class="h-muted">34.98</td>
                <td class="h-muted">23.12%</td>
                <td class="h-muted">42</td>
                <td class="h-muted">34.98</td>
                <td class="h-muted">23.12%</td>
                <td class="h-muted">42</td>
              </tr>
              <tr>
                <td class="h-red">Тестовая стратегия</td>
                <td class="h-muted">25 сен 2016 в 11:32</td>
                <td class="h-muted">34.98</td>
                <td class="h-muted">23.12%</td>
                <td class="h-muted">42</td>
                <td class="h-muted">34.98</td>
                <td class="h-muted">23.12%</td>
                <td class="h-muted">42</td>
              </tr>
              <tr>
                <td class="h-red">Тестовая стратегия</td>
                <td class="h-muted">25 сен 2016 в 11:32</td>
                <td class="h-muted">34.98</td>
                <td class="h-muted">23.12%</td>
                <td class="h-muted">42</td>
                <td class="h-muted">34.98</td>
                <td class="h-muted">23.12%</td>
                <td class="h-muted">42</td>
              </tr>
            </tbody>
          </table> -->

          <div class="js-tab-content" id="backtest_attempts">
            {% if numBacktestAttempts %}
                <table id="backtest_attempts_table" class="display" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      {% for col in backtestTableKey %}
                        <th>{{ col }}</th>
                      {% endfor %}
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      {% for col in backtestTableKey %}
                        <th>{{ col }}</th>
                      {% endfor %}
                    </tr>
                  </tfoot>
                </table>
            {% else %}
              <table id="strategiesOnlineEmpty" class="c-table">
                <tbody>
                  <tr class="c-table__warning -big">
                    <td style="width: 90px; padding-right:0;">
                      <svg>
                        <use xlink:href="#warning_big"></use>
                      </svg>
                    </td>
                    <td style="padding-left:0;"><span class="h-bold">У вас еще нет ни одной стратегии</span></td>
                  </tr>
                </tbody>
              </table>
            {% endif %}
          </div>

          <div class="js-tab-content h-hidden" id="online_attempts">
            {% if numOnlineAttempts %}
                <table id="online_attempts_table" class="display browser-default" cellspacing="0" width="100%">
                  <thead>
                    <tr>
                      {% for col in onlineTableKey %}
                        <th>{{ col }}</th>
                      {% endfor %}
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      {% for col in onlineTableKey %}
                        <th>{{ col }}</th>
                      {% endfor %}
                    </tr>
                  </tfoot>
                </table>
            {% else %}
              <table id="strategiesOnlineEmpty" class="c-table">
                <tbody>
                  <tr class="c-table__warning -big">
                    <td style="width: 90px; padding-right:0;">
                      <svg>
                        <use xlink:href="#warning_big"></use>
                      </svg>
                    </td>
                    <td style="padding-left:0;"><span class="h-bold">У вас еще нет ни одной стратегии, работающей на онлайн данных.</span>
                      <br>Перевести стратегию в онлайн можно на странице результатов
                      <br/> стратегии.
                    </td>
                  </tr>
                </tbody>
              </table>
            {% endif %}
          </div>

        </div>
      </div>

      <!-- <div class="row">
        <div class="col s12">
          <div class="c-pagination"><a href="#" class="c-pagination__item -active">1</a><a href="#" class="c-pagination__item">2</a><a href="#" class="c-pagination__item">3</a><a href="#" class="c-pagination__item">4</a><a href="#" class="c-pagination__item">5</a><a class="c-pagination__item -delimiter">...</a><a href="#" class="c-pagination__item">23</a></div>
        </div>
      </div> -->

    </div>

{% endblock %}