<div style="display: none;">
  <?xml version="1.0" encoding="utf-8"?>
    <svg xmlns="http://www.w3.org/2000/svg">
      <symbol id="account" viewBox="0 0 283.5 283.5">
        <path d="M141.7 46.1c-52.8 0-95.6 42.8-95.6 95.6s42.8 95.6 95.6 95.6 95.6-42.8 95.6-95.6c.1-52.8-42.7-95.6-95.6-95.6zm0 18.2c42.7 0 77.5 34.8 77.5 77.5 0 15.7-4.7 30.3-12.7 42.5l-42.9-9.7s-5.4-1.2-5.4-5.1 4.8-10 8.2-17c3.3-7 8.8-23.6 4.2-37.5s-13.7-24-28.9-24-24.3 10-28.8 23.9.9 30.6 4.2 37.5c3.3 7 8.2 13 8.2 17s-5.4 5.1-5.4 5.1L77 184.2c-8-12.2-12.7-26.8-12.7-42.5 0-42.7 34.7-77.4 77.4-77.4z" fill="currentColor" />
      </symbol>
      <symbol id="card_icon_1" viewBox="0 0 138.4 174.6">
        <style>
          .st0,
          .st1 {
            fill: #dd1f26
          }

          .st1 {
            stroke: #dd1f26;
            stroke-width: 1.3;
            stroke-miterlimit: 10
          }
        </style>
        <path class="st0" d="M96.7 59.8h-43v4h43v-4zm-43 10h43v4h-43z" />
        <path class="st0" d="M96.1 37.5H42.2c-5.8 0-10.6 4.7-10.6 10.6v79.2c0 5.8 4.7 10.6 10.6 10.6h53.9c5.8 0 10.6-4.7 10.6-10.6V48c0-5.8-4.7-10.5-10.6-10.5zm-49.4 96.3V41.5h49.4c3.6 0 6.6 2.9 6.6 6.6v79.2c0 3.6-2.9 6.6-6.6 6.6H46.7v-.1zm-4.5 0c-3.6 0-6.6-2.9-6.6-6.6V48c0-3.6 2.9-6.6 6.6-6.6h.4v92.3h-.4v.1z" />
      </symbol>
      <symbol id="card_icon_2" viewBox="0 0 138.4 174.6">
        <style>
          .st0,
          .st1 {
            fill: #dd1f26
          }

          .st1 {
            stroke: #dd1f26;
            stroke-width: 1.3;
            stroke-miterlimit: 10
          }
        </style>
        <path class="st0" d="M124.8 72.1L70.2 41.7c-.6-.4-1.4-.4-2.1 0L13.6 72.1c-.7.4-1.1 1.1-1.1 1.8 0 .8.4 1.5 1.1 1.9L31 85.5c0 .7-.1 1.3-.1 2V105c0 5.1 2.9 10.6 7.8 15.2v9.5c-3.5.5-6.1 3.5-6.1 7.1v8.9c0 1.6 1.3 2.9 2.9 2.9h10.3c1.6 0 2.9-1.3 2.9-2.9v-9c0-3.5-2.5-6.4-5.7-7.1v-6.2c6.4 4.4 14.8 7.3 24 7.3h5c19.8 0 36.1-13.1 36.1-25.9V87.4c0-.8 0-1.5-.1-2.3l16.8-9.4c.7-.4 1.1-1.1 1.1-1.9-.1-.6-.5-1.3-1.1-1.7zM35.1 105V87.8l3.6 2v23.6c-2.3-3-3.6-5.9-3.6-8.4zm9.4 31.8v7.6h-7.6v-7.6c0-1.6 1.3-3 3-3h1.7c1.5.1 2.9 1.4 2.9 3zm59.3-31.8c0 8.7-14.3 21.7-31.8 21.7h-5c-9.6 0-18.2-4-24-9V92.2l25.2 14c.3.2.7.3 1 .3.4 0 .7-.1 1-.3l33.6-18.7V105zm-34.6-3.1l-24-13.4 25.7-14.6c1-.6 1.4-1.9.8-2.9-.6-1-1.9-1.4-2.9-.8l-28 15.9L19 74l50.2-28 50.2 28-50.2 27.9z" />
      </symbol>
      <symbol id="card_icon_3" viewBox="0 0 138.4 174.6">
        <style>
          .st0,
          .st1 {
            fill: #dd1f26
          }

          .st1 {
            stroke: #dd1f26;
            stroke-width: 1.3;
            stroke-miterlimit: 10
          }
        </style>
        <path class="st0" d="M69.2 39.1c-26.9 0-48.7 21.8-48.7 48.7 0 26.9 21.8 48.7 48.7 48.7 26.9 0 48.7-21.8 48.7-48.7-.1-26.9-21.8-48.7-48.7-48.7zm0 93.4c-24.6 0-44.7-20-44.7-44.7 0-24.6 20-44.7 44.7-44.7 24.6 0 44.7 20 44.7 44.7-.1 24.6-20.1 44.7-44.7 44.7z" />
        <path class="st0" d="M95.7 87.9c0 1.1-.9 1.9-1.9 1.9H71.1v22.6c0 1.1-.9 1.9-1.9 1.9-1.1 0-1.9-.9-1.9-1.9V89.9H44.6c-1.1 0-1.9-.9-1.9-1.9s.9-1.9 1.9-1.9h22.6V63.4c0-1.1.9-1.9 1.9-1.9 1.1 0 1.9.9 1.9 1.9V86h22.6c1.2 0 2.1.9 2.1 1.9z" />
      </symbol>
      <symbol id="card_icon_4" viewBox="0 0 138.4 174.6">
        <style>
          .st0,
          .st1 {
            fill: #dd1f26
          }

          .st1 {
            stroke: #dd1f26;
            stroke-width: 1.3;
            stroke-miterlimit: 10
          }
        </style>
        <circle class="st0" cx="73.7" cy="39.1" r="2.1" />
        <circle class="st0" cx="73.7" cy="47.1" r="2.1" />
        <circle class="st0" cx="73.7" cy="55.6" r="2.1" />
        <circle class="st0" cx="73.7" cy="93" r="2.1" />
        <circle class="st0" cx="73.7" cy="101" r="2.1" />
        <circle class="st0" cx="73.7" cy="109.5" r="2.1" />
        <circle class="st0" cx="73.7" cy="117.6" r="2.1" />
        <circle class="st0" cx="73.7" cy="125.6" r="2.1" />
        <circle class="st0" cx="73.7" cy="134.1" r="2.1" />
        <circle class="st0" cx="73.7" cy="142.6" r="2.1" />
        <circle class="st0" cx="73.7" cy="151.1" r="2.1" />
        <circle class="st0" cx="73.7" cy="74.1" r="4.5" />
        <path class="st0" d="M128.8 49.7c-1-.5-2.2-.1-2.7.8l-11.5 21.9-10.3-9.2c-.5-.4-1.1-.6-1.7-.5-.6.1-1.1.6-1.4 1.1L89.5 88.9l-6.6-6.2c2.2-2.3 3.5-5.3 3.5-8.7 0-6.9-5.6-12.6-12.6-12.6-6.9 0-12.6 5.6-12.6 12.6 0 4.5 2.4 8.5 6 10.7L57.6 106H46.7c-.8 0-1.5.5-1.8 1.2l-7.8 16.9L26.9 114c-.5-.5-1.1-.7-1.8-.6-.6.1-1.2.5-1.5 1.1l-11 23.2c-.5 1 0 2.2 1 2.7.3.1.6.2.8.2.8 0 1.5-.4 1.8-1.1l9.8-20.7 10.2 10.3c.5.5 1.1.7 1.8.6.6-.1 1.2-.5 1.5-1.1l8.5-18.4h10.9c.8 0 1.5-.5 1.8-1.2l10.2-22.7c.9.2 1.9.3 2.8.3 2.1 0 4.1-.5 5.9-1.5l9.2 8.5c.4.3.9.5 1.4.5h.4c.6-.1 1.2-.5 1.4-1.1l11.6-25 10.2 9.1c.5.4 1.1.6 1.7.5.6-.1 1.1-.5 1.4-1l12.7-24.2c.5-1 .1-2.2-.8-2.7zm-49.5 31c-.4.3-.8.6-1.2.8-1.3.8-2.8 1.2-4.3 1.2-4.7 0-8.6-3.9-8.6-8.6s3.9-8.6 8.6-8.6c4.7 0 8.6 3.9 8.6 8.6-.1 2.6-1.2 5-3.1 6.6z" />
      </symbol>
      <symbol id="card_icon_5" viewBox="0 0 138.4 174.6">
        <style>
          .st0,
          .st1 {
            fill: #dd1f26
          }

          .st1 {
            stroke: #dd1f26;
            stroke-width: 1.3;
            stroke-miterlimit: 10
          }
        </style>
        <path class="st0" d="M69.2 54l9 28.1h29v.1L83.8 99.6l9 28.1-23.5-17.4-23.5 17.4 9-28.1-23.7-17.4v-.1h29L69.2 54m0-4c-1.7 0-3.3 1.1-3.8 2.8l-8.1 25.4H31.1c-1.7 0-3.3 1.1-3.8 2.8-.5 1.7 0 3.5 1.4 4.5l21.2 15.7-8.1 25.4c-.4 1.2-.2 2.6.6 3.6s2 1.7 3.3 1.7c.9 0 1.7-.3 2.4-.8l21.1-15.6L90.3 131c.7.5 1.5.8 2.4.8 1.3 0 2.5-.6 3.3-1.7.8-1 1-2.4.6-3.6l-8.1-25.4 21.2-15.7c1.4-1 2-2.9 1.4-4.5-.5-1.7-2.1-2.8-3.8-2.8H81.1L73 52.8c-.5-1.7-2.1-2.8-3.8-2.8z" />
      </symbol>
      <symbol id="card_icon_6" viewBox="0 0 138.4 174.6">
        <style>
          .st0,
          .st1 {
            fill: #dd1f26
          }

          .st1 {
            stroke: #dd1f26;
            stroke-width: 1.3;
            stroke-miterlimit: 10
          }
        </style>
        <path class="st0" d="M69.8 52.9c8.1 0 14.6 6.6 14.6 14.6s-6.6 14.6-14.6 14.6-14.6-6.6-14.6-14.6 6.5-14.6 14.6-14.6m0-4c-10.3 0-18.6 8.3-18.6 18.6s8.3 18.6 18.6 18.6 18.6-8.3 18.6-18.6-8.3-18.6-18.6-18.6zm-.6 48.7c18.1 0 32.8 10.3 32.8 23 0 2.9-.4 5.6-1.1 8.2H69.2c-14.8 0-26.5-.1-31.7-.1-.7-2.6-1.1-5.3-1.1-8.1 0-12.6 14.7-23 32.8-23m0-4c-20.3 0-36.8 12.1-36.8 27 0 4 .7 8.1 2.1 12.1 0 0 14.4.2 34.6.2 20.2 0 34.6-.1 34.6-.1 1.5-4 2.2-8.2 2.2-12.2 0-14.9-16.4-27-36.7-27z" />
      </symbol>
      <symbol id="card_icon_7" viewBox="0 0 138.4 174.6">
        <style>
          .st0,
          .st1 {
            fill: #dd1f26
          }

          .st1 {
            stroke: #dd1f26;
            stroke-width: 1.3;
            stroke-miterlimit: 10
          }
        </style>
        <path class="st1" d="M116 90.9c1.4-1.3 3-3.6 2.8-7.3-.4-6-4.7-7.9-6.9-8.1H81.7l-.3-.3c5-13.5 5.8-19.6 1-28.1-1.6-2.9-3.8-4.6-6.3-5.2-4.1-.9-7.7 1.5-7.9 1.6-.4.2-.6.7-.6 1.1v14L55.1 85.2l-4 2.4v-.2c0-3.2-2.6-5.7-5.7-5.7H25.2c-3.2 0-5.7 2.6-5.7 5.7v41.1c0 3.2 2.6 5.7 5.7 5.7h20.1c3.2 0 5.7-2.6 5.7-5.7v-3l8.6 4.4c.2.1.4.1.6.1h42.5c2.2 0 6.5-1.2 7.5-6 .6-2.8-.2-4.9-.9-6.2 1.9-.9 4.7-2.9 5.1-6.4.3-2.6-.5-4.8-1.3-6.3 2.5-.8 5.3-2.8 5.6-6.7.4-3.9-1.1-6.2-2.7-7.5zm-67.6 37.7c0 1.7-1.4 3.1-3.1 3.1H25.2c-1.7 0-3.1-1.4-3.1-3.1V87.5c0-1.7 1.4-3.1 3.1-3.1h20.1c1.7 0 3.1 1.4 3.1 3.1v41.1zm67.8-30.3c-.3 4.1-5.1 4.7-5.3 4.7-.5.1-.9.4-1.1.8-.2.5-.1 1 .2 1.3 0 0 2.2 2.6 1.8 5.9-.5 3.6-5 4.9-5 4.9-.5.1-.8.5-.9 1-.1.5 0 1 .4 1.3.1.1 2.1 1.9 1.4 5.3-.8 3.9-4.6 3.9-5.1 3.9h-42l-8.9-4.6c-.2-.1-.4-.1-.6-.1V90.5c.2 0 .5-.1.7-.2l5.1-3c.2-.1.4-.3.5-.6l12.8-27.4c.1-.2.1-.4.1-.6V45.2c1-.5 3.1-1.4 5.2-.9 1.8.4 3.4 1.7 4.6 3.9 4.5 7.9 3.7 13-1.4 26.6-.2.5-.1 1 .3 1.3l1.2 1.3c.3.3.6.4 1 .4h30.6c.6.1 4.1.7 4.4 5.6.3 4.5-3 6-3.2 6.1-.5.2-.8.7-.8 1.3 0 .6.4 1 1 1.2.3.4 3.3 1.3 3 6.3z" />
      </symbol>
      <symbol id="fb" viewBox="0 0 283.5 283.5">
        <path d="M109.9 202.8c0-19.2-.1-38.4.1-57.6 0-3.2-.9-4.2-4.1-4.1-6 .2-12 0-18 .1-2.4.1-3.3-.6-3.3-3.2.1-12 .1-24 0-35.9 0-2.3.7-3.1 3-3 6.1.1 12.3-.2 18.4.1 3.5.2 4.3-1.1 4.2-4.4-.2-9.1-.2-18.2 0-27.4.2-11.1 3.2-21.5 9.9-30.6 8.4-11.5 20.3-16.7 34.1-17.3 14.1-.6 28.3-.3 42.5-.4 2 0 2.6.7 2.6 2.6-.1 12.1-.1 24.2 0 36.3 0 2.2-.7 2.8-2.8 2.8-6.8-.1-13.6-.1-20.4 0-9.1 0-14.5 4.7-15.1 13.7-.5 7.2-.1 14.4-.3 21.6-.1 2.6 1.5 2.4 3.2 2.4 10.3 0 20.7.1 31-.1 3-.1 4 .6 3.7 3.8-1.3 12-2.4 24.1-3.5 36.2-.2 2.7-1.5 3.2-3.9 3.2-8.2-.1-16.3-.1-24.5 0-5.9 0-5.3-.9-5.3 5.1 0 37.6-.1 75.2.1 112.7 0 4-1 5-4.9 4.9-14-.3-28-.3-42.1 0-4 .1-4.6-1.3-4.6-4.8v-56.7z" fill="currentColor" />
      </symbol>
      <symbol id="star" viewBox="0 0 31.999 31.999">
        <path d="M31.881 12.056a2.303 2.303 0 0 0-1.844-1.511l-8.326-1.238-3.619-7.514A2.318 2.318 0 0 0 16 .499c-.896 0-1.711.505-2.092 1.294l-3.619 7.514-8.327 1.238A2.3 2.3 0 0 0 .12 12.056a2.207 2.207 0 0 0 .537 2.285l6.102 6.092-1.415 8.451a2.224 2.224 0 0 0 .948 2.203 2.351 2.351 0 0 0 2.449.131L16 27.31l7.26 3.908a2.367 2.367 0 0 0 2.449-.131 2.225 2.225 0 0 0 .947-2.203l-1.416-8.451 6.104-6.092c.603-.603.81-1.485.537-2.285zm-8.293 6.806a2.216 2.216 0 0 0-.627 1.934l1.416 8.451-7.26-3.906a2.361 2.361 0 0 0-2.235 0l-7.26 3.906 1.416-8.451a2.212 2.212 0 0 0-.626-1.934L2.31 12.77l8.326-1.24a2.306 2.306 0 0 0 1.743-1.268L16 2.75l3.62 7.513a2.31 2.31 0 0 0 1.742 1.268l8.328 1.24-6.102 6.091z" fill="currentColor" />
      </symbol>
      <symbol id="star_fill" viewBox="0 0 31.999 31.999">
        <path d="M31.881 12.056a2.303 2.303 0 0 0-1.844-1.511l-8.326-1.238-3.619-7.514A2.318 2.318 0 0 0 16 .499c-.896 0-1.711.505-2.092 1.294l-3.619 7.514-8.327 1.238A2.3 2.3 0 0 0 .12 12.056a2.207 2.207 0 0 0 .537 2.285l6.102 6.092-1.415 8.451a2.224 2.224 0 0 0 .948 2.203 2.351 2.351 0 0 0 2.449.131L16 27.31l7.26 3.908a2.367 2.367 0 0 0 2.449-.131 2.225 2.225 0 0 0 .947-2.203l-1.416-8.451 6.104-6.092c.603-.603.81-1.485.537-2.285zm-8.293 6.806a2.216 Z" fill="currentColor" />
      </symbol>
      <symbol id="tw" viewBox="0 0 283.5 283.5">
        <path d="M195 51.2c10.1 1.2 19.6 5.7 27 12.5.9.9 1.9 1.5 2.8 1.9.1.1.3.1.4.2.2.1.4.1.7.2.1 0 .3.1.5.1 1.2.2 2.4 0 3.7-.5l24-9.3c.8-.3 1.6-.6 2.5-.9.2.2.4.5.7.7-2.7 4.6-5.1 9.5-8.3 13.7-3.3 4.3-7.4 7.8-11.3 11.9 8.7-.9 16.8-3.9 25.1-6.4-.3 1-.7 1.8-1.3 2.5-5.8 7.8-12.4 14.7-20.1 20.7-.8.6-1.4 1.3-1.7 2.1 0 .1-.1.1-.1.2-.1.1-.1.2-.1.3 0 .1-.1.2-.1.3-.1.3-.1.6-.1.9-.1 2-.3 4-.4 6v.1c0 .7-.1 1.4-.1 2.1 0 .8-.1 1.6-.1 2.4-.1 2.4-.3 4.7-.5 7-.1.8-.1 1.5-.2 2.3-.1.7-.1 1.4-.2 2.1-.1.7-.2 1.4-.3 2 0 .3-.1.5-.1.8-.1 1.1-.3 2.2-.5 3.3-5.3 29.8-18.2 55.9-39.6 77.5-15.6 15.8-34 27.1-55.1 34-21.4 6.9-43.3 7.4-65.4 5.1-19.2-2-36.8-9.2-53.4-18.9-.6-.4-1.2-.8-1.7-1.2 0-.2.1-.5.1-.7 26.4 2.2 50.3-4 71.9-20.2-22.4-2.6-37.9-13.6-45.8-34.6h7.3c2.2 0 4.4 0 6.6-.1 2.2-.1 4.4-.5 6.5-.8v-.7c-11.2-2.9-20.5-8.9-27.4-18-6.8-9.1-11-19.2-10.3-31 3.6 1.3 6.8 2.8 10.2 3.8 3.4 1 6.9 1.5 10.4 2.2l.3-.7c-10.1-7.6-16.9-17.5-19.5-29.9-2.5-12.3-1.1-24.2 5.5-36 27.3 31.3 60.9 49.3 102.5 52-.2-1.6-.3-2.8-.5-4-.1-.6-.1-1.2-.2-1.7-.1-1.7-.2-3.3-.2-4.9v-3c0-.4 0-.8.1-1.2 0-.4.1-.8.1-1.1V96c0-.4.1-.8.1-1.2.1-.4.1-.8.2-1.2.1-.4.1-.8.2-1.2 0-.2.1-.5.1-.7.1-.6.2-1.2.4-1.9 0-.1.1-.3.1-.4.1-.6.3-1.1.4-1.7 0-.2.1-.4.2-.5.1-.5.3-.9.4-1.4.1-.3.2-.7.3-1 .1-.5.3-.9.5-1.4.3-.8.6-1.6.9-2.3.5-1.2 1.1-2.4 1.7-3.6.2-.3.4-.7.6-1 .2-.4.4-.8.7-1.2.1-.2.2-.4.4-.6.3-.4.6-.9.9-1.3.3-.5.7-1 1-1.5.3-.4.6-.9.9-1.3 1.3-1.8 2.8-3.4 4.3-5 .5-.5 1-1 1.5-1.4.1-.1.2-.1.2-.2 7.1-6.4 16-10.9 25.9-12.4 2.6-.4 5.2-.6 7.9-.6 2.2-.2 5.9.2 5.9.2z" fill="currentColor" />
      </symbol>
      <symbol id="upload" viewBox="0 0 32 32">
        <g stroke="#000" stroke-miterlimit="10" stroke-width="2">
          <path fill="#FFF" stroke-linecap="round" d="M16 27V5" />
          <path d="M6.1 14.5l9.3-9.3c.3-.3.9-.3 1.2 0l9.3 9.3" fill="none" />
        </g>
      </symbol>
      <symbol id="vk" viewBox="0 0 283.5 283.5">
        <path d="M138.2 210.5h14.5s4.4-.5 6.6-2.9c2.1-2.2 2-6.4 2-6.4s-.3-19.7 8.8-22.6c8.9-2.8 20.4 18.9 32.5 27.2 9.2 6.3 16.2 4.7 16.2 4.7h32.5s17-1.3 8.9-14.7c-.7-1.1-4.7-9.9-24.2-28-20.4-18.9-17.6-15.9 6.9-48.6 14.9-19.9 20.9-32.1 19.1-37.3-1.8-5-12.7-4.1-12.7-4.1h-36.7s-2.7-.3-4.7.9-3.2 4.2-3.2 4.2-5.8 15.7-13.5 28.8c-16.3 27.7-22.8 29.1-25.5 27.4-6.2-4-4.6-16.1-4.6-24.7 0-26.8 4.1-38-7.9-40.9-4-1-6.9-1.6-17.1-1.7-13.1-.1-24.1 0-30.4 3.1-4.2 2-7.4 6.6-5.4 6.8 2.4.3 7.9 1.5 10.8 5.4 3.7 5.1 3.6 16.6 3.6 16.6s2.2 31.6-5 35.5c-4.9 2.7-11.7-2.8-26.2-27.9C76.1 98.4 70.4 84 70.4 84s-1.1-2.7-3-4.1c-2.3-1.7-5.6-2.3-5.6-2.3H27s-5.2.1-7.1 2.4c-1.7 2-.1 6.2-.1 6.2s27.2 64.2 58 96.3c28.3 29.7 60.4 28 60.4 28z" fill="currentColor" />
      </symbol>
      <symbol id="warning" viewBox="0 0 190.6 190.6">
        <style type="text/css">

        </style>
        <path fill="#d3cdb9" d="M172.8,112.2l-61.4,61.4c-8.9,8.9-23.4,8.9-32.3,0l-61.4-61.4c-8.9-8.9-8.9-23.4,0-32.3L79,18.4
c8.9-8.9,23.4-8.9,32.3,0l61.4,61.4C181.7,88.8,181.7,103.2,172.8,112.2z" />
        <text transform="matrix(1 0 0 1 78.3542 140.0833)" fill="#f3f0e5" style="font-size:125px;">!</text>

      </symbol>
      <symbol id="warning_big" viewBox="0 0 190.6 190.6">
        <path fill="#efefef" d="M172.8,112.2l-61.4,61.4c-8.9,8.9-23.4,8.9-32.3,0l-61.4-61.4c-8.9-8.9-8.9-23.4,0-32.3L79,18.4
c8.9-8.9,23.4-8.9,32.3,0l61.4,61.4C181.7,88.8,181.7,103.2,172.8,112.2z" />
        <text transform="matrix(1 0 0 1 78.3542 140.0833)" fill="#ffffff" style="font-size:125px;">!</text>

      </symbol>
    </svg>
</div>