{% extends "base.html" %}

{% load staticfiles %}

{% block header %}
  <div class="l-container">
    <div class="row">
      <div class="col s4 header__logo-wrapper">
        <a href="{% url 'bcs_client:getMain' %}" class="header__logo h-center"><img src="{% static 'bcs_client/images/logo.png' %}"></a>
        <div class="header__logo-text h-bold">BCS Quants
          <br/>Challenge</div>
      </div>
      {% block header_action %}{% endblock %}
    </div>
  </div>
{% endblock %}

{% block footer %}
  <div class="l-container">
    <div style="margin-bottom: 0;" class="row">
      <div class="col s8 h-muted" style="line-height: 20px; margin-top: 10px">© 2017 BCS Global Markets </br> ООО "Компания БКС", лицензия №154-04434-100000 от 10.01.2001 на осуществление брокерской деятельности</div>
      <div class="col s3"><span class="h-muted">Поддержка&nbsp;—&nbsp;</span><a href="mailto:support@bcsquants.com" class="h-link">support@bcsquants.com</a></div>
      <div class="col s1"><a href="http://www.bcsquants.com" class="h-link">www.bcsquants.com</a></div>
    </div>
  </div>
{% endblock %}

