{% extends "bcs_client/menu.html" %}
{% load staticfiles %}

{% block head %}
  <script type="text/javascript" src="//vk.com/js/api/openapi.js?136"></script>
  <link rel="stylesheet" href="{% static 'bcs_client/gitbook-markdown.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/styles/monokai-sublime.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/highlight.min.js"></script>
  <script>
    hljs.initHighlightingOnLoad();
  </script>
  <style>
    h1, h2, h3, h4, h5, h6 {
      color: #de0020;
    }
    ol li {
      list-style-type: decimal;
    }
    ul li {
      list-style-type: initial;
    }
  </style>
{% endblock %}

{% block title %}
  Документация
{% endblock %}

{% block content %}
  <div class="l-container">
    <div class="row">
      <div class="col s3">
        <div class="left-menu">
          {% for item in menu %}
            <a href="{% url 'bcs_client:getDoc' item.1 %}" class="left-menu__item {% if item.1 == docName %} -active {% endif %} h-link">{{ item.0 }}</a>
          {% endfor %}
        </div>
      </div>
      <div class="col s9 wiki__content-wrapper" style="overflow: hidden;">
        <div class="wiki__content">

          <!-- <div class="title -inner">Как создать стратегию</div> -->
          <!--<p><span class="h-bold">У вас еще нет ни одной стратегии, работающей на онлайн данных.</span>Перевести стратегию в онлайн можно на странице результатов стратегии.</p>
          <div class="editor"><img src="/images/editor.jpg"></div>
          <div class="title -inner">Стратегия</div>
          <p>У вас еще нет ни одной стратегии, работающей на онлайн данных. Перевести стратегию в онлайн можно на странице результатов стратегии.</p>
          <div class="editor"><img src="/images/editor.jpg"></div>
          <p>Функция int вызывается один раз для каждого инструмента, ей передается пустой класс. Далее на каждую секунду биржевой информации вызывается функция tick, ей передается тот же класс self и data — вся доступная на данный момент времени информация.</p> -->

          <article class="gitbook-markdown-body">{% autoescape off %}{{ content }}{% endautoescape %}</article>

        </div>
      </div>
    </div>
  </div>
  {% include "bcs_client/vk.html" %}
{% endblock %}