{% extends "bcs_client/menu.html" %}
{% load staticfiles %}

{% block title %}
  Создание стратегии
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'sandbox/codemirror/codemirror.css' %}">
  <link rel="stylesheet" href="{% static 'sandbox/codemirror/monokai.css' %}">
  <link rel="stylesheet" href="{% static 'sandbox/codemirror/addon/foldgutter.css' %}">
  <link rel="stylesheet" href="{% static 'sandbox/codemirror/addon/dialog.css' %}">
  <link rel="stylesheet" href="{% static 'sandbox/codemirror/addon/show-hint.css' %}">
  <script src="{% static 'sandbox/codemirror/codemirror.js' %}"></script>
  <script src="{% static 'sandbox/codemirror/matchbrackets.js' %}"></script>
  <script src="{% static 'sandbox/codemirror/python.js' %}"></script>
  <script src="{% static 'sandbox/codemirror/sublime.js' %}"></script>
  <script src="{% static 'sandbox/codemirror/addon/searchcursor.js' %}"></script>
  <script src="{% static 'sandbox/codemirror/addon/search.js' %}"></script>
  <script src="{% static 'sandbox/codemirror/addon/dialog.js' %}"></script>
  <script src="{% static 'sandbox/codemirror/addon/closebrackets.js' %}"></script>
  <script src="{% static 'sandbox/codemirror/addon/comment.js' %}"></script>
  <script src="{% static 'sandbox/codemirror/addon/hardwrap.js' %}"></script>
  <script src="{% static 'sandbox/codemirror/addon/foldcode.js' %}"></script>
  <script src="{% static 'sandbox/codemirror/addon/foldgutter.js' %}"></script>
  <script src="{% static 'sandbox/codemirror/addon/brace-fold.js' %}"></script>
  <script src="{% static 'sandbox/codemirror/addon/indent-fold.js' %}"></script>
  <style type="text/css">.CodeMirror {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    height: 490px;
    font-size: 11pt;
  }
  </style>
{% endblock %}

{% block content %}
  <div class="l-container">
    <div class="row">
      <div class="col s12">
        <div class="title -inner">Создание стратегии</div>
      </div>
    </div>
    <form id="form_code" action="{% url 'bcs_client:sendAlgo' %}" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="input-field col s5">
          <input type="text" id="name" name="name" value="{{name}}">
          <label for="name">Название стратегии</label>
        </div>
      </div>
      <input type="hidden" id="language" name="language" value="python3">
      <div class="row editor">
        <div class="col s12">
          <textarea id="code" name="code" rows="40">{{ code }}</textarea>
        </div>
      </div>
      {% if error_message %}
        <div class="row">
          <div class="col s12">
            <div class="error-trace">
              <div class="error-trace__title">Чтобы перейти к результатам, устраните ошибки ниже:</div>
              <div class="error-trace__text">{{ error_message|linebreaks }}</div>
            </div>
          </div>
        </div>
      {% endif %}
      <div class="row">
        <div class="col s12 h-text-right"><button id="btn_code" type="submit" class="btn btn-default">Отправить стратегию</button></div>
      </div>
    </form>
  </div>

  <script type="text/javascript">
    var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
        mode: {
          name: "python",
          singleLineStringErrors: false
        },
        lineNumbers: true,
        indentUnit: 4,
        matchBrackets: true,
        keyMap: 'sublime',
        theme: "monokai",
        autoCloseBrackets: true,
        showCursorWhenSelecting: true,

        foldGutter: true,
        gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
        lineWrapping: true,
    });

    editor.addKeyMap({
        "Tab": function (cm) {
            if (cm.somethingSelected()) {
                var sel = editor.getSelection("\n");
                // Indent only if there are multiple lines selected, or if the selection spans a full line
                if (sel.length > 0 && (sel.indexOf("\n") > -1 || sel.length === cm.getLine(cm.getCursor().line).length)) {
                    cm.indentSelection("add");
                    return;
                }
            }

            if (cm.options.indentWithTabs)
                cm.execCommand("insertTab");
            else
                cm.execCommand("insertSoftTab");
        },
        "Shift-Tab": function (cm) {
            cm.indentSelection("subtract");
        }
    });
  </script>

{% endblock %}