{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
  <!-- Quantopian -->
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>BCS Quant Challenge</title>
  <link href="{% static 'bcs_client/Quantopian_files/Font_Awesome.css' %}" media="all" rel="stylesheet" type="text/css">
  <link href="{% static 'bcs_client/Quantopian_files/application.css' %}" media="all" rel="stylesheet" type="text/css">
  <script src="{% static 'bcs_client/Quantopian_files/jquery.js' %}" type="text/javascript"></script>
  <link media="all" href="{% static 'bcs_client/Quantopian_files/font.css' %}" rel="stylesheet">
  <script src="{% static 'bcs_client/Quantopian_files/stripe.js' %}" type="text/javascript"></script>
  <!-- Quantopian -->

  <!-- BCS Forex -->
  <!-- Meta information (content-type + mobile mod) -->
  <meta name="viewport" content="width=device-width">
  <!-- Favicon -->
  <link rel="icon" href="{% static 'bcs_client/landing_files/favicon.ico' %}" type="image/x-icon">
  <link rel="shortcut icon" href="{% static 'bcs_client/landing_files/favicon.ico' %}" type="image/x-icon">
  <!-- CSS styles -->
  <link rel="stylesheet" href="{% static 'bcs_client/landing_files/style.css' %}" type="text/css" media="screen">
  <link rel="stylesheet" href="{% static 'bcs_client/landing_files/adaptive.css' %}" type="text/css" media="screen">
  <!-- JS Scripts -->
  <script src="{% static 'bcs_client/landing_files/jquery.js' %}"></script>
  <script src="{% static 'bcs_client/landing_files/plugins-all.js' %}" type="text/javascript"></script>
  <!-- BCS Forex -->

</head>

<body class="" ontouchstart="">

  <!-- Quantopian -->
  <input id="quanto-env" name="env" value="production" type="hidden">
  <div class="wrapper" id="main-home">
    <div class="navbar navbar-default navbar-red navbar-static-top new-style" id="app-navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <div class="navbar-brand">
          <a class="logo-image" href="https://www.quantopian.com/home"></a>
          </div>
          <button class="navbar-toggle collapsed" data-target="#app-navbar-collapse" data-toggle="collapse">
          <span class="icon hamburger-menu"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="app-navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="{% url 'auth_login' %}" class="header unregistered-user-action">Войти</a>
            </li>
            <li class="show-on-mobile">
              <a href="{% url 'registration_register' %}" class="header unregistered-user-action">Регистрация</a>
            </li>
            <li>
              <a class="new-btn transparent small sign-up-btn hidden-xs" href="{% url 'registration_register' %}">
              Регистрация
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="content content-area new-style">
      <script src="{% static 'bcs_client/Quantopian_files/application.js' %}" type="text/javascript"></script>
      <div class="homepage">
        <div class="container">
          <div style="transform: translate3d(0px, 0px, 0px); transform-style: preserve-3d; backface-visibility: hidden;" class="background-numbers-container">
          <div style="position: relative; display: block; left: 0px; top: 0px; transform: translate3d(8.02536px, -0.551776px, 0px); transform-style: preserve-3d; backface-visibility: hidden;" class="price x-small layer" data-depth="0.30" id="l1">
          ALRS&nbsp;&nbsp;<div class="value group1">9.88</div>
          <div class="up"></div>
          </div>
          <div style="position: absolute; display: block; left: 0px; top: 0px; transform: translate3d(18.7258px, -1.28748px, 0px); transform-style: preserve-3d; backface-visibility: hidden;" class="price small layer" data-depth="0.70" id="l2">
          GOLD&nbsp;&nbsp;<div class="value group2">1229.1</div>
          <div class="up"></div>
          </div>
          <div style="position: absolute; display: block; left: 0px; top: 0px; transform: translate3d(21.401px, -1.4714px, 0px); transform-style: preserve-3d; backface-visibility: hidden;" class="price medium layer" data-depth="0.80" id="l3">
          ROSN&nbsp;&nbsp;<div class="value group3">301.80</div>
          <div class="up"></div>
          </div>
          <div style="position: absolute; display: block; left: 0px; top: 0px; transform: translate3d(8.02536px, -0.551776px, 0px); transform-style: preserve-3d; backface-visibility: hidden;" class="price x-small layer" data-depth="0.30" id="l4">
          LKOH&nbsp;&nbsp;<div class="value">9.76</div>
          <div class="up"></div>
          </div>
          <div style="position: absolute; display: block; left: 0px; top: 0px; transform: translate3d(26.7512px, -1.83925px, 0px); transform-style: preserve-3d; backface-visibility: hidden;" class="price large layer" data-depth="1.00" id="l5">
          BRENT&nbsp;&nbsp;<div class="value group3">38.75</div>
          <div class="up"></div>
          </div>
          <div style="position: absolute; display: block; left: 0px; top: 0px; transform: translate3d(21.401px, -1.4714px, 0px); transform-style: preserve-3d; backface-visibility: hidden;" class="price medium layer" data-depth="0.80" id="l6">
          RTSI&nbsp;&nbsp;<div class="value group1">861.96</div>
          <div class="up"></div>
          </div>
          <div style="position: absolute; display: block; left: 0px; top: 0px; transform: translate3d(18.7258px, -1.28748px, 0px); transform-style: preserve-3d; backface-visibility: hidden;" class="price small layer" data-depth="0.70" id="l7">
          GAZP&nbsp;&nbsp;<div class="value group3">147.20</div>
          <div class="up"></div>
          </div>
          <div style="position: absolute; display: block; left: 0px; top: 0px; transform: translate3d(8.02536px, -0.551776px, 0px); transform-style: preserve-3d; backface-visibility: hidden;" class="price x-small layer" data-depth="0.30" id="l8">
          MGNT&nbsp;&nbsp;<div class="value">7.06</div>
          <div class="up"></div>
          </div>
          <div style="position: absolute; display: block; left: 0px; top: 0px; transform: translate3d(13.3756px, -0.919626px, 0px); transform-style: preserve-3d; backface-visibility: hidden;" class="price x-small layer" data-depth="0.50" id="r1">
          SBERP&nbsp;&nbsp;<div class="value group1">6.94</div>
          <div class="up"></div>
          </div>
          <div style="position: absolute; display: block; left: 0px; top: 0px; transform: translate3d(21.401px, -1.4714px, 0px); transform-style: preserve-3d; backface-visibility: hidden;" class="price medium layer" data-depth="0.80" id="r2">
          SBER&nbsp;&nbsp;<div class="value group2">108.52</div>
          <div class="up"></div>
          </div>
          <div style="position: absolute; display: block; left: 0px; top: 0px; transform: translate3d(26.7512px, -1.83925px, 0px); transform-style: preserve-3d; backface-visibility: hidden;" class="price large layer" data-depth="1.00" id="r4">
          MICEX&nbsp;&nbsp;<div class="value group1">1344.98</div>
          <div class="up"></div>
          </div>
          <div style="position: absolute; display: block; left: 0px; top: 0px; transform: translate3d(13.3756px, -0.919626px, 0px); transform-style: preserve-3d; backface-visibility: hidden;" class="price x-small layer" data-depth="0.50" id="r5">
          SNGS&nbsp;&nbsp;<div class="value group3">2.70</div>
          <div class="up"></div>
          </div>
          <div style="position: absolute; display: block; left: 0px; top: 0px; transform: translate3d(18.7258px, -1.28748px, 0px); transform-style: preserve-3d; backface-visibility: hidden;" class="price small layer" data-depth="0.7" id="r6">
          MOEX&nbsp;&nbsp;<div class="value group1">105.05</div>
          <div class="up"></div>
          </div>
          <div style="position: absolute; display: block; left: 0px; top: 0px; transform: translate3d(26.7512px, -1.83925px, 0px); transform-style: preserve-3d; backface-visibility: hidden;" class="price large layer" data-depth="1.00" id="r7">
          USD&nbsp;&nbsp;<div class="value group2">67.14</div>
          <div class="up"></div>
          </div>
          <div style="position: absolute; display: block; left: 0px; top: 0px; transform: translate3d(13.3756px, -0.919626px, 0px); transform-style: preserve-3d; backface-visibility: hidden;" class="price x-small layer" data-depth="0.5" id="r8">
          VTBR&nbsp;&nbsp;<div class="value">5.28</div>
          <div class="up"></div>
          </div>
          <div style="position: absolute; display: block; left: 0px; top: 0px; transform: translate3d(13.3756px, -0.919626px, 0px); transform-style: preserve-3d; backface-visibility: hidden;" class="price x-small layer" data-depth="0.5" id="r9">
          USDTOM&nbsp;&nbsp;<div class="value">5.76</div>
          <div class="up"></div>
          </div>
        </div>
        </div>
        <div class="title-pane">
          <div class="container">
            <div class="row page-title-row">
              <div class="col-xs-14 antialias">Соревнование торговых роботов
              </div>
            </div>
            <div class="row page-sub2title-row">
              <div class="col-xs-14 antialias">на самых популярных финансовых инструментах Московской биржи</div>
            </div>
            <div class="row page-subtitle-row">
              <div class="col-xs-14 antialias">1 мая - 30 июня</div>
            </div>
            <div class="row">
              <div class="col-xs-14">
                <a href="{% url 'registration_register' %}">
                <div class="new-btn white-on-red mixpanel-button clone-sample-algo-link" data-event="new homepage click" data-mixpanel="start coding top" data-sampletype="sample_mean_reversion">Принять участие</div></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <script>
        //<![CDATA[
          $(document).ready(function() {
            quanto.instances.hpm = new quanto.HomepageManager();
          })
        //]]>
      </script>
    </div>
  </div>
  <!-- Quantopian -->

  <!-- BCS Forex -->
  <div style="width: 1855px;" id="global-wrapper">
    <article id="usp">
        <div class="centered">
            <h2>BCS Quant Challenge</h2>
            <div class="usp justify">
                <div class="usp-item">
                    <span href="#page-form-1" data-href="#page-form-1" class="icon usp-icon i-1 si-jump"></span>
                    <h3>Стажировка</h3>
                    Активные участники соревнования получат преимущество при отборе на стажировку в отдел алгоритмической торговли БКС
                </div>
                <div class="usp-item">
                    <span href="#page-form-1" data-href="#page-form-1" class="icon usp-icon i-5 si-jump"></span>
                    <h3>Денежный приз</h3>
                    Общий призовой фонд <br/><b>300 000 рублей</b><br/> На денежный приз могут претендовать только участники, показавшие хорошие результаты на торговле на актуальных данных. Поэтому чем раньше вы начнете, тем больше торговых дней вам будет доступно для запуска и тем больше у вас шансов выйграть
                </div>
                <div class="usp-item">
                    <span href="#page-form-1" data-href="#page-form-1" class="icon usp-icon i-2 si-jump"></span>
                    <h3>Биржевой робот</h3>
                    Формат тестирования максимально приближен к реальной торговле, поэтому если вы добъётесь успеха в соревновании, вы всегда сможете использовать свои стратегии для торговли на Московской бирже
                </div>
            </div>
            <div class="text-align-center">
                <a href="{% url 'registration_register' %}" class="button big si-jump"><span class="text d_text">Начать прямо сейчас</span></a>
            </div>
        </div>
    </article>


    <article id="how">
      <div class="centered">
        <h2>
          С чего начать?
        </h2>
        <div class="how">
          <div class="how-item">
            <div class="how-icon-wrapper">
              <div class="how-counter">01</div>
              <span class="how-icon i2-1"></span>
            </div>
            Прочитайте документацию и напишите своего первого торгового робота на языке Python
            <div class="how-arrow"></div>
          </div>
          <div class="how-item">
            <div class="how-icon-wrapper">
              <div class="how-counter">02</div>
              <span class="icon2 how-icon i2-2"></span>
            </div>
            Тестируйте свои стратегии на исторических данных прямо в браузере или скачайте пакет локальной разработки
            <div class="how-arrow"></div>
          </div>
          <div class="how-item">
            <div class="how-icon-wrapper">
              <div class="how-counter">03</div>
              <span class="icon2 how-icon i2-3"></span>
            </div>
            Переводите лучшие стратегии в режим Online для тестирования на текущих биржевых данных
          </div>
        </div>
        <br/>
        <div class="text-align-center">
          <a href="http://bcs.quantforces.com" class="button big si-jump"><span class="text d_text">Документация</span></a>
        </div>
      </div>
    </article>

    <article id="about">
      <div class="centered">
        <h2 class="white">Официальный спонсор соревнования<br/>финансовая группа БКС</h2>

        <div class="about-subtitle">
            БКС Брокер — один из лидеров российского рынка брокерских услуг.&nbsp;<br>Компания располагает разветвленной сетью — более 100 офисов и агентских пунктов&nbsp;<br>по всей России, в Великобритании и на Кипре.</div>

        <div class="about justify">
            <div style="min-height: 318px;" class="about-item">
                <div href="#page-form-2" data-href="#page-form-2" class="about-icon-wrapper si-jump">
                    <span class="icon about-icon i-1"></span>
                </div>
                <div class="about-title"> S&amp;P Рейтинг</div>
                <div class="about-line"></div>
                <div class="about-text">
Standard &amp; Poor’s в 2012 году присвоило
высокий кредитный рейтинг операционной холдинговой компании BCS Holding
International Ltd.  </div>
            </div>
            <div style="min-height: 318px;" class="about-item">
                <div href="#page-form-2" data-href="#page-form-2" class="about-icon-wrapper si-jump">
                    <span class="icon about-icon i-2"></span>
                </div>
                <div class="about-title">AAA Рейтинг</div>
                <div class="about-line"></div>
                <div class="about-text">
                    В 2016 году НРА подтвердило индивидуальный
рейтинг надежности компании ООО «Компания БКС» на уровне ААА
(максимальная надежность).                    </div>
            </div>
            <div style="min-height: 318px;" class="about-item">
                <div href="#page-form-2" data-href="#page-form-2" class="about-icon-wrapper si-jump">
                    <span class="icon about-icon i-3"></span>
                </div>
                <div class="about-title">20 лет на рынке</div>
                <div class="about-line"></div>
                <div class="about-text">
                    Финансовая Группа БКС образована 20 июня 1995 года.                    </div>
            </div>
            <div style="min-height: 318px;" class="about-item">
              <div href="#page-form-2" data-href="#page-form-2" class="about-icon-wrapper si-jump">
                  <span class="icon about-icon i-4"></span>
              </div>
              <div class="about-title">130 000 клиентов</div>
              <div class="about-line"></div>
              <div class="about-text">
                  ООО «Компания БКС» входит в число лидеров среди
российских брокеров по числу клиентов, состоящих на брокерском
обслуживании.                    </div>
                </div>
            </div>
        </div>
    </article>
  </div>

  <script type="text/javascript" src="{% static 'bcs_client/landing_files/main.js' %}"> </script>
  {% include "bcs_client/scripts.html" %}

</body>
</html>