{% extends "bcs_client/menu.html" %}
{% load staticfiles %}

{% block title %}
  Главная
{% endblock %}

{% block content %}
  <div class="l-container">
    <div class="row">
      <div class="col s6">
        <div class="title -inner">BCS Quants
          <br/>Challenge</div>
      </div>
      <div class="col s6">
        <div class="title__helper">Перед вами платформа, которая позволяет <span class="h-bold">создавать и тестировать стратегии </span>количественной торговли, реализуемые на языке python, на реальных данных московской фондовой биржи с минимальным шагом в одну секунду</div>
      </div>
    </div>
    <div class="row">
      <div class="col s3">
        <a href="{% url 'bcs_client:getDoc' 'main' %}" style="color: #262626;">
          <div class="card">
            <div class="card__icon">
              <svg height="100px">
                <use xlink:href="#card_icon_1"></use>
              </svg>
            </div>
            <p class="card__description">Изучите документацию на платформу и правила проведения контеста</p>
            <div class="card__footer"><div class="h-link -red">Документация</div></div>
          </div>
        </a>
      </div>
      <div class="col s3">
        <a href="{% url 'bcs_client:getDoc' 'tutorial' %}" style="color: #262626;">
          <div class="card">
            <div class="card__icon">
              <svg height="100px">
                <use xlink:href="#card_icon_2"></use>
              </svg>
            </div>
            <p class="card__description">Прочитайте инструкции по написанию стратегий и посмотрите примеры</p>
            <div class="card__footer"><div class="h-link -red">Как создать стратегию</div></div>
          </div>
        </a>
      </div>
      <div class="col s3">
        <a href="{% url 'bcs_client:getForm' %}" style="color: #262626;">
          <div class="card">
            <div class="card__icon">
              <svg height="100px">
                <use xlink:href="#card_icon_3"></use>
              </svg>
            </div>
            <p class="card__description">Напишите свою стратегию</p>
            <div class="card__footer"><div class="h-link -red">Создать стратегию</div></div>
          </div>
        </a>
      </div>
      <div class="col s3">
        <a href="{% url 'bcs_client:showAttempts' %}" style="color: #262626;">
          <div class="card">
            <div class="card__icon">
              <svg height="100px">
                <use xlink:href="#card_icon_4"></use>
              </svg>
            </div>
            <p class="card__description">Изучите историю тестов и сравните свои стратегии на тестовых и контрольных выборках</p>
            <div class="card__footer"><div class="h-link -red">Статистика по стратегиям</div></div>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col s4">
        <a href="{% url 'bcs_client:rating' %}" style="color: #262626;">
          <div class="card -horizontal">
            <div class="card__icon">
              <svg height="100px">
                <use xlink:href="#card_icon_5"></use>
              </svg>
            </div>
            <p class="card__description">Следите за своим рейтингом и рейтингом других участников </p>
            <div class="card__footer"><div class="h-link -red">Рейтинг</div></div>
          </div>
        </a>
      </div>
      <div class="col s4">
        <a href="{% url 'bcs_client:profile' %}" style="color: #262626;">
          <div class="card -horizontal">
            <div class="card__icon">
              <svg height="100px">
                <use xlink:href="#card_icon_6"></use>
              </svg>
            </div>
            <p class="card__description">Добавьте информацию о себе и свое резюме в профиле </p>
            <div class="card__footer"><div class="h-link -red">Настройки профиля</div></div>
          </div>
        </a>
      </div>
      <div class="col s4">
        <a href="https://vk.com/bcsquants" style="color: #262626;">
          <div class="card -horizontal">
            <div class="card__icon">
              <svg height="100px">
                <use xlink:href="#card_icon_7"></use>
              </svg>
            </div>
            <p class="card__description">Присоединяйтесь к нашему сообществу VK<!--  и Facebook --></p>
            <div class="card__footer">
              <!-- <svg>
                <use xlink:href="#fb"></use>
              </svg><a href="https://www.facebook.com/bcsquants" style="margin-right: 20px;" class="h-link -red">bcsquants</a> -->
              <svg>
                <use xlink:href="#vk"></use>
              </svg><div class="h-link -red">bcsquants</div></div>
          </div>
        </a>
      </div>
    </div>
  </div>


<!-- <div style="margin-left: 100px; margin-top: 20px;">
  The first rule of Quant Club<br/>
  <b>Send link to everybody</b><br/><br/>

  <a href="http://quantforces.com/bcs/landing" target="_blank">Лэндинг</a><br/>
  <a href="http://quantforces.com/bcs" target="_blank">Соревнование</a><br/>
  <a href="http://quantforces.com/admin" target="_blank">Админка</a><br/>
  <a href="http://bcs.quantforces.com" target="_blank">Документация</a><br/>
  <a href="https://github.com/QuantForces/bcs" target="_blank">Локальная разработка</a><br/>
  <a href="https://yadi.sk/d/abx_xYOnqCiq8" target="_blank">Тестовые данные</a><br/>
  <a href="https://bitbucket.org/deamoon/bcs_backtest/issues" target="_blank">Трекер задач</a><br/>
  <a href="https://bitbucket.org/deamoon/bcs_backtest" target="_blank">Репозиторий с кодом backtest</a><br/>
</div> -->


{% endblock %}