{% extends "bcs_client/base.html" %}

{% load staticfiles %}

{% block header_action %}
  <div class="col s8 h-text-right">
    <nav class="menu">
      <a href="{% url 'bcs_client:getForm' %}" class="menu__item {% if keyPage == 'getForm' %}-selected{% endif %}">
        <span class="menu__item-text -plus">Создать стратегию</span>
      </a>
      <a href="{% url 'bcs_client:showAttempts' %}" class="menu__item {% if keyPage == 'showAttempts' %}-selected{% endif %}">
        <span class="menu__item-text">Мои стратегии{% if request.user.profile.numberOnlineAttempts %}<span class="menu__item-helper">{{ request.user.profile.numberOnlineAttempts }}</span></span>{% endif %}</a>
      <a href="{% url 'bcs_client:rating' %}" class="menu__item {% if keyPage == 'rating' %}-selected{% endif %}">
        <span class="menu__item-text">Рейтинг</span>
      </a>
      <a href="{% url 'bcs_client:getDocMain' %}" class="menu__item {% if keyPage == 'doc' %}-selected{% endif %}">
        <span class="menu__item-text">Информация</span>
      </a>
      <a href="{% url 'bcs_client:profile' %}" class="menu__item {% if keyPage == 'profile' %}-selected{% endif %}">
        <svg height="50px" class="menu__account-icon">
          <use xlink:href="#account"></use>
        </svg>
      </a>
    </nav>
  </div>
{% endblock %}