{% extends "bcs_client/menu.html" %}
{% load staticfiles %}

{% block title %}
  Профиль
{% endblock %}

{% block content %}
  <div class="l-container">
    <div class="row">
      <div class="col s12">
        <div class="title -inner">Настройки аккаунта</div>
      </div>
    </div>
    <form action="{% url 'bcs_client:profile' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="form_type" value="change_password">
      {% if error_message %}
        <div class="row">
          <div class="col s12">
            <div class="card-panel red-text">{{ error_message }}</div>
          </div>
        </div>
      {% endif %}
      {% if success_message %}
        <div class="row">
          <div class="col s12">
            <div class="card-panel green-text">{{ success_message }}</div>
          </div>
        </div>
      {% endif %}
      <div class="row">
        <div class="input-field col s4">
          <input type="text" id="email" name="email" value="{{ user.email }}" readonly>
          <label for="email">Email</label>
        </div>
        <div class="input-field col s4">
          <input type="password" id="password" name="password1">
          <label for="password">Новый пароль</label>
        </div>
        <div class="input-field col s4">
          <input type="password" id="password_again" class="c-input__control" name="password2">
          <label for="password_again">Пароль ещё раз</label>
        </div>
        <button class="c-btn -red"><span class="c-btn__text">Изменить пароль</span></button>
      </div>
    </form>
    <form action="{% url 'bcs_client:profile' %}" enctype="multipart/form-data" method="post">
      {% csrf_token %}
      <input type="hidden" name="form_type" value="change_profile">
      <div class="row">
        <div class="col s12">
          <div class="title -inner">Личная информация</div>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s4">
          <input type="text" id="name" value="{{ profile.first_name }}" name="first_name" readonly>
          <label for="name">Имя</label>
        </div>
        <!-- <div class="input-field col s4">
          <input type="text" id="surname" value="{{ profile.last_name }}" name="last_name">
          <label for="surname">Фамилия</label>
        </div> -->
        <!-- <div class="input-field col s4">
          <input type="text" id="middle_name" value="{{ profile.middle_name }}">
          <label for="middle_name">Отчество</label>
        </div> -->
      </div>
      <!-- <div class="row">
        <div class="col s4">
          <label for="dob">Дата рождения</label>
          <input type="date" id="dob" class="datepicker">
        </div>
        <div class="input-field col s4">
          <input type="text" id="sex">
          <label for="sex">Пол</label>
        </div>
      </div> -->
      <!-- <div class="row">
        <div class="col s12">
          <div class="subtitle">Образование</div>
        </div>
      </div> -->
      <!-- <div class="row">
        <div class="input-field col s4">
          <select>
            <option value="" selected="selected" disabled="disabled">Выберите город</option>
            <option value="Москва">Москва</option>
            <option value="Санкт-Петербург">Санкт-Петербург</option>
          </select>
          <label>Город</label>
        </div>
        <div class="input-field col s4">
          <select>
            <option value="" selected="selected" disabled="disabled">Выберите ВУЗ</option>
            <option value="МГУ">МГУ</option>
            <option value="СПбГУ">СПбГУ</option>
          </select>
          <label>ВУЗ</label>
        </div>
        <div class="input-field col s4">
          <select>
            <option value="" selected="selected" disabled="disabled">Выберите факульет</option>
            <option value="Физический">Физический</option>
            <option value="Исторический">Исторический</option>
          </select>
          <label>Факультет</label>
        </div>
      </div> -->
      <!-- <div class="row">
        <div class="input-field col s4">
          <select>
            <option value="" selected="selected" disabled="disabled">Выберите специальность</option>
            <option value="Физик-ядерщик">Физик-ядерщик</option>
            <option value="Историк">Историк</option>
          </select>
          <label>Специальность</label>
        </div>
        <div class="input-field col s4">
          <select>
            <option value="" selected="selected" disabled="disabled">Выберите форму обучения</option>
            <option value="Очная">Очная</option>
            <option value="Заочная">Заочная</option>
          </select>
          <label>Форма обучения</label>
        </div>
        <div class="input-field col s4">
          <select>
            <option value="" selected="selected" disabled="disabled">Выберите год окончания</option>
            <option value="2012">2012</option>
            <option value="2013">2013</option>
          </select>
          <label>Год окончания</label>
        </div>
      </div> -->
      <div class="row">
        <div class="col s12">
          <div class="subtitle">Резюме</div>
        </div>
      </div>
      {% if error_profile_message %}
        <div class="row">
          <div class="col s12">
            <div class="card-panel red-text">{{ error_profile_message }}</div>
          </div>
        </div>
      {% endif %}
      <div class="row">
        <div class="col s5">
          <p class="account__upload-description h-muted">Возможность получения приглашения на одну из вакансий в инвестиционный банк БКС</p>
          <div class="file-upload">
            <input type="file" id="cvUpload" name='cv'>
            <div class="file-upload__icon-wrapper">
              <div class="file-upload__icon-container">
                <svg class="file-upload__icon">
                  <use xlink:href="#upload"></use>
                </svg>
              </div>
            </div>
            <div class="file-upload__details">
              <div class="file-upload__title h-bold">Загрузить {% if profile.cv %}<b>другое</b>{% endif %} резюме</div>
              <div class="file-upload__helper h-muted" id="cvName">1 файл pdf или doc(x) размером до 5 МБ</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <div class="subtitle">Настройка уведомлений</div>
        </div>
      </div>
      <div class="row">
        <div class="col s4">
          <div class="switch">
            <input name="isSubscribe" type="checkbox" class="filled-in" id="filled-in-box" {% if profile.isSubscribe %}checked="checked"{% endif %} />
            <label for="filled-in-box"><span class="h-default">Получать уведомления на Email</span></label>
            <!-- <label>
              <input type="checkbox" {% if profile.isSubscribe %}checked="checked"{% endif %}><span class="lever"></span><span class="h-default">Получать уведомления на Email</span>
            </label> -->
          </div>
        </div>
      </div>
      <div style="margin-top: 60px;" class="row">
        <div class="col s12">
          <button class="c-btn -red"><span class="c-btn__text">Сохранить изменения</span></button>
    </form>

          <form style="margin: 10px;" method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button type="submit" class="c-btn -red -hollow -row"><span class="c-btn__text">Выйти</span></button>
          </form>

        </div>
      </div>
  </div>

  <script type="text/javascript">
    {% if profile.cv %}
      $("#cvName").text('Ваше резюме загружено, спасибо');
    {% endif %}

    $("#cvUpload").change(function() {
        var filename = $('input[type=file]').val().split('\\').pop();
        $("#cvName").text(filename);
    });
    {% if profile.isSubscribe %}
      $('select').val("1");
      $('select').material_select();
    {% else %}
      $('select').val("0");
      $('select').material_select();
    {% endif %}

  </script>
{% endblock %}