{% extends "bcs_client/menu.html" %}
{% load staticfiles %}

{% block title %}
  Рейтинг
{% endblock %}

{% block head %}
  <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
  <link href="{% static 'staticpage/css/table.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <script>
    $(document).ready(function() {
      $.fn.dataTable.ext.errMode = 'none';
      options = {
        "ajax": "{% url 'bcs_client:rating' %}?json=1",
        "order": [],
        "lengthChange": false,
        "searching": false,
        "info": false,
        "pagingType": "numbers",
      }
      var table = $('#rating_table').DataTable(options);
      table.page.len(50);
    });
  </script>

  <div class="l-container">
    <div class="row">
      <div class="col s12">
        <div class="title -inner">Рейтинг</div>
        {% if userResult.2 == 0 %}
          <div style="font-size: 20px;color: red;">
            У вас нет ни одной стратегии в онлайн, поэтому ваш рейтинг нулевой
          </div>
        {% endif %}
        <div class="subtitle">Ваша позиция</div>
        <table class="c-table">
          <thead>
            <tr>
              {% for key in tableKey %}
                <th>{{ key }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            <tr class="-selected">
              {% if userResult %}
                <td>{{ userResult.0 }}</td>
                <td>{{ userResult.1 }} {% if not userProfile.cv %}. Не забудьте <span style="font-weight: bold;"><a href="{% url 'bcs_client:profile' %}">загрузить резюме</a></span> в личном кабинете!{% endif %}</td>
                <td class="h-muted">{{ userResult.2 }}</td>
                <td class="h-muted">{{ userResult.3 }}</td>
                <td class="h-muted">{{ userResult.4 }}</td>
              {% else %}
                <td>Кажется вы ещё не участвуете в соревновании, <a href="{% url 'account_login' %}">авторизуйтесь</a> или <a href="{% url 'account_signup' %}">зарегистрируйтесь</a>. Не забудьте <span style="font-weight: bold;">загрузить резюме</span> в личном кабинете!</td>
              {% endif %}
            </tr>
          </tbody>
        </table>
        <div class="subtitle">Все участники</div>

        <table id="rating_table" class="" cellspacing="0" width="100%" >
          <thead>
            <tr>
              {% for col in tableKey %}
                <th>{{ col }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tfoot>
            <tr>
              {% for col in tableKey %}
                <th>{{ col }}</th>
              {% endfor %}
            </tr>
          </tfoot>
        </table>

        <!-- <table class="c-table">
          <thead>
            <thead>
              <tr>
                <th>Место</th>
                <th>Участник</th>
                <th>Всего стратегий</th>
                <th>Рейтинг по контрольной выборке</th>
                <th>Рейтинг по онлайн стратегиям</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>9</td>
                <td>Иван Иванов</td>
                <td class="h-muted">198</td>
                <td class="h-muted">2</td>
                <td class="h-muted">4</td>
              </tr>
              <tr class="-selected">
                <td>9</td>
                <td>Иван Иванов</td>
                <td class="h-muted">198</td>
                <td class="h-muted">2</td>
                <td class="h-muted">4</td>
              </tr>
              <tr>
                <td>9</td>
                <td>Иван Иванов</td>
                <td class="h-muted">198</td>
                <td class="h-muted">2</td>
                <td class="h-muted">4</td>
              </tr>
              <tr>
                <td>9</td>
                <td>Иван Иванов</td>
                <td class="h-muted">198</td>
                <td class="h-muted">2</td>
                <td class="h-muted">4</td>
              </tr>
            </tbody>
          </thead>
        </table> -->

      </div>
    </div>
  </div>
{% endblock %}