{% extends "bcs_client/menu.html" %}
{% load staticfiles %}

{% block title %}
  Стратегия {{ attempt.name }}
{% endblock %}

{% block head %}
  <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
  <link href="{% static 'staticpage/css/table.css' %}" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'sandbox/codemirror/codemirror.css' %}">
  <link rel="stylesheet" href="{% static 'sandbox/codemirror/monokai.css' %}">
  <link rel="stylesheet" href="{% static 'sandbox/codemirror/addon/foldgutter.css' %}">
  <link rel="stylesheet" href="{% static 'sandbox/codemirror/addon/dialog.css' %}">
  <link rel="stylesheet" href="{% static 'sandbox/codemirror/addon/show-hint.css' %}">
  <script src="{% static 'sandbox/codemirror/codemirror.js' %}"></script>
  <script src="{% static 'sandbox/codemirror/matchbrackets.js' %}"></script>
  <script src="{% static 'sandbox/codemirror/python.js' %}"></script>
  <script src="{% static 'sandbox/codemirror/sublime.js' %}"></script>
  <script src="{% static 'sandbox/codemirror/addon/searchcursor.js' %}"></script>
  <script src="{% static 'sandbox/codemirror/addon/search.js' %}"></script>
  <script src="{% static 'sandbox/codemirror/addon/dialog.js' %}"></script>
  <script src="{% static 'sandbox/codemirror/addon/closebrackets.js' %}"></script>
  <script src="{% static 'sandbox/codemirror/addon/comment.js' %}"></script>
  <script src="{% static 'sandbox/codemirror/addon/hardwrap.js' %}"></script>
  <script src="{% static 'sandbox/codemirror/addon/foldcode.js' %}"></script>
  <script src="{% static 'sandbox/codemirror/addon/foldgutter.js' %}"></script>
  <script src="{% static 'sandbox/codemirror/addon/brace-fold.js' %}"></script>
  <script src="{% static 'sandbox/codemirror/addon/indent-fold.js' %}"></script>
  <style type="text/css">.CodeMirror {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    height: 490px;
    font-size: 11pt;
  }
  </style>

  <script type="text/javascript" src="{% static 'tradingview/azaza/charting_library.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'tradingview/azaza/datafeed/udf/datafeed.js' %}"></script>

  <script type="text/javascript" src="//vk.com/js/api/openapi.js?136"></script>

{% endblock %}

{% block content %}
  <script>
    $(document).ready(function() {
      {% if attempt.status == 'O' or attempt.status == 'S' %}
        $.fn.dataTable.ext.errMode = 'none';
        var timerId = 0;

        var table = $('#result_table').DataTable( {
          "ajax": "{% url 'bcs_client:getAttempt' attempt.id %}?json=1",
          "order": [],
          "lengthChange": false,
          "searching": false,
          "info": false,
          "paging": false,
          "language": {
            "emptyTable": "Стратегия тестируется, ожидайте результатов ..."
          }
        });

        timerId = setInterval( function () {
          {% if attempt.status == 'S' %}
            var doReload = true;
            if (doReload) {
              $.get("{% url 'bcs_client:getAttemptInfo' attempt.id %}", function(data) {
                if (data.status == "S") {
                  table.ajax.reload(null, false);
                } else {
                  doReload = false;
                  location.reload();
                }
              });
            }
          {% endif %}
        }, 5000 );

      {% endif %}
    });
  </script>

  <script type="text/javascript">
    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
        return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }

    var currentTicker = 'SBER';
    var currentInterval = '5';
    var havePL = false;
    function addChart(ticker) {
      if (currentTicker && currentTicker == ticker) {
        $('#chart').hide();
        havePL = false;
        currentTicker = null;
      } else {
        currentTicker = ticker;
        // window.tvWidget.onChartReady(function() {window.tvWidget.setSymbol(currentTicker || 'SBER', 5);});
        $('#chart').insertAfter( $('#' + 'link_' + ticker).closest('tr') );
        $('#chart').show();
      }
    }

    timerId = setInterval( function () {
      try {
        var studies = window.tvWidget.chart().getAllStudies();
        havePL = false;
        for (var i = 0; i < studies.length; ++i) {
            if (studies[i].name == 'P&L') {
                havePL = true;
                break;
            }
        }
        if (!havePL) {
            // window.tvWidget.chart().createStudy('P&L', false, false); // P&L Graph chart, TODO
            havePL = true;
        }

        currentInterval = window.tvWidget.symbolInterval().interval;
        if (window.tvWidget.options.symbol != currentTicker) {
            window.tvWidget.setSymbol(currentTicker || 'SBER', currentInterval);
        }
      } catch (err) {
        //
      }
    }, 1000 );

    // $('#chart').show('fast', function() {
    //   window.tvWidget.onChartReady(function() {
    //     window.tvWidget.chart().onIntervalChanged().subscribe(null, function(interval, obj) {
    //         alert(interval);
    //     });
    //   });
    // });

    TradingView.onready(function()
    {
      var widget = window.tvWidget = new TradingView.widget({
        width: 1200,
        height: 600,
        // fullscreen: true,
        symbol: currentTicker,
        interval: currentInterval,
        container_id: "tv_chart_container",
        //  BEWARE: no trailing slash is expected in feed URL
        // datafeed: new Datafeeds.UDFCompatibleDatafeed("https://demo_feed.tradingview.com"),
        datafeed: new Datafeeds.UDFCompatibleDatafeed("{% url 'bcs_client:getAttempt' attempt.id %}chart", 60000), // 60 sec update
        library_path: "azaza/",
        locale: getParameterByName('lang') || "ru",
        //  Regression Trend-related functionality is not implemented yet, so it's hidden for a while
        drawings_access: { type: 'black', tools: [ { name: "Regression Trend" } ] },
        disabled_features: ["use_localstorage_for_settings"],
        // enabled_features: ["move_logo_to_main_pane"],
        // enabled_features: ["study_templates"],
        charts_storage_url: 'https://bcsquants.com/tradingview/saveload',
                  charts_storage_api_version: "1.1",
        client_id: 'bcsquants.com',
        user_id: 'public_user_id',
        overrides: {
            "symbolWatermarkProperties.color": "rgba(0, 0, 0, 0)"
        },
        indicators_file_name: 'indicators.js'
      });

      // window.tvWidget.onChartReady(function() {
      //     window.tvWidget.chart().createStudy('P&L', false, false);
      // });

      $('#chart').hide();

      // widget.chart().

      //
    });
  </script>

  <div class="l-container">
    <div class="row">
      <div class="col s12">
        <div class="title -inner">{{ attempt.name }}</div>
      </div>
    </div>
    <div class="row">
      <div class="col s6">
          {% if attempt.deleted %}
            <div style="color: red; font-size: 30px;">Стратегия была удалена</div>
          {% else %}
            {% if attempt.status == 'O' and attempt.mode == 'B' %}
              <span class="strategy__status">Ожидает перевода в онлайн</span>
            {% endif %}
          {% endif %}
      </div>
      {% if attempt.status == 'O' and attempt.mode == 'B' and freeOnlineCount >= 0 %}
        <div class="col offset-s2 s2 h-text-right right-align">
          <!-- <a href="#modal2" class="c-btn -hollow -row modal-trigger">
            <span class="c-btn__text">Выбрать инструмент</span>
          </a> -->

          <span class="input-field -row">
            {% if errorSendTicker %}
              <p style="color: red;">{{errorSendTicker}}</p>
            {% endif %}
            <form id="addOnline" action="{% url 'bcs_client:addOnline' %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="attempt_id" value="{{ attempt.id }}">
              <select name="ticker" id="selectTicker">
                <option value="" disabled selected>Выбрать инструмент</option>
                {% for ticker in tickers %}
                  <option value="{{ ticker }}">{{ ticker }}</option>
                {% endfor %}
              </select>
            </form>
          </span>
        </div>
        <div class="col s2 right-align">
          <button href="#modal1" class="c-btn -red modal-trigger -row" id="buttonTicker" style="margin-top: 9px;">
            <span class="c-btn__text">перевести в онлайн</span>
          </button>
        </div>
     {% else %}
        {% if attempt.status == 'O' and attempt.mode == 'B' and freeOnlineCount < 0 %}
          <div class="col offset-s2 s2 h-text-right right-align"></div>
          <div class="col s2 right-align" style="color: red;">
            У вас закончились online попытки
          </div>
       {% endif %}
     {% endif %}
    </div>

    {% if attempt.status == 'O' %}
      <div class="row">
          <div class="col s9">
              {% if attempt.mode == 'B' %}
                <div class="strategy__points">
                  <div class="strategy__points-title h-muted">Контрольное качество</div>
                  <div class="strategy__points-value">{{ commonRes.controlResult }}</div>
                </div>
                <div class="strategy__points">
                  <div class="strategy__points-title h-muted">Тестовое качество</div>
                  <div class="strategy__points-value">{{ commonRes.testResult }}</div>
                </div>
                <div class="strategy__points">
                  <div class="strategy__points-title h-muted">Средний P&L</div>
                  <div class="strategy__points-value">{{ commonRes.sumProcent }}%</div>
                </div>
              {% else %}
                <div class="strategy__points">
                  <div class="strategy__points-title h-muted">Инструмент</div>
                  <div class="strategy__points-value">{{ attempt.onlineTicker }}</div>
                </div>
                <div class="strategy__points">
                  <div class="strategy__points-title h-muted">Онлайн результат</div>
                  <div class="strategy__points-value">{{ onlineResult }}</div>
                </div>
                <div class="strategy__points">
                    <div class="strategy__points-title h-muted">P&L</div>
                    <div class="strategy__points-value">{{ commonRes.sumProcent }}%</div>
                </div>
              {% endif %}
          </div>
          <!-- <div style="line-height: 65px;" class="col s3 h-text-right"><a style="vertical-align: bottom;" class="c-btn -hollow"><span class="c-btn__text">Отправить заново</span></a></div> -->
      </div>
    {% endif %}
    <div class="row" style="margin-top: 30px;">
      <div class="col s12">
        {% if attempt.status == 'O' or attempt.status == 'S' %}
          <table id="result_table" class="cell-border" cellspacing="0" width="100%" >
            <thead>
              <tr>
                {% for col in tableKey %}
                  <th class="tooltipped" data-position="top" data-delay="25" data-tooltip="{{ col.1 }}">{{ col.0 }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tfoot>
              <tr>
                {% for col in tableKey %}
                  <th class="tooltipped" data-position="bottom" data-delay="25" data-tooltip="{{ col.1 }}">{{ col.0 }}</th>
                {% endfor %}
              </tr>
            </tfoot>
          </table>
        {% else %}
          <div class="error-trace">
            <div class="error-trace__title">Чтобы перейти к результатам, устраните ошибки ниже:</div>
            {% if attempt.error_message %}
              <div class="error-trace__text">{{ attempt.error_message|linebreaks }}</div>
            {% else %}
              <div class="error-trace__text">Неизвестная ошибка</div>
            {% endif %}
          </div>
          {% include "bcs_client/vk.html" %}
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <form id="form_code" action="{% url 'bcs_client:sendAlgo' %}" method="post">
          {% csrf_token %}
          <input type="hidden" id="name" name="name" value="{{ attempt.name }}">
          <input type="hidden" id="language" name="language" value="python3">
          <div class="row">
            <div class="editor">
              <textarea id="code" name="code">{{ attempt.code }}</textarea>
            </div>
          </div>
          <div class="row">
            <div class="col s12 h-text-right"><button id="btn_code" type="submit" class="btn btn-default">Пересчитать стратегию</button></div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col s12" >
        <table><tr id="chart"><td colspan="{{ tableKey|length }}" style="padding: 0px 0px;">
          <div id="tv_chart_container"></div>
        </td></tr></table>
      </div>
    </div>
  </div>

  <div id="modal1" style="width: 500px;" class="modal">
      <div class="modal-content">
          <div class="subtitle">Вы уверены, что хотите перевести стратегию в онлайн?</div>
          <p style="margin-top: 50px;">Это действие нельзя будет отменить. После этого у вас останется {{ freeOnlineCount }} {% if freeOnlineCount >= 5 or freeOnlineCount == 0 %} открытых слотов {% elif freeOnlineCount == 1 %} открытый слот {% else %} открытых слота {% endif %} для онлайн теста</p>
          <div style="margin-top: 75px;" class="modal-footer">
              <button href="#" class="c-btn -red -hollow h-left modal-close"><span class="c-btn__text">Отмена</span></button>

                <button href="#" class="c-btn -red h-right" id="buttonSendOnline"><span class="c-btn__text">Перевести в онлайн</span></button>
              </form>
          </div>
      </div>
  </div>

  <script type="text/javascript">
    var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
        mode: {
          name: "python",
          singleLineStringErrors: false
        },
        lineNumbers: true,
        indentUnit: 4,
        matchBrackets: true,
        keyMap: 'sublime',
        theme: "monokai",
        autoCloseBrackets: true,
        showCursorWhenSelecting: true,

        foldGutter: true,
        gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
        lineWrapping: true,
    });

    editor.addKeyMap({
        "Tab": function (cm) {
            if (cm.somethingSelected()) {
                var sel = editor.getSelection("\n");
                // Indent only if there are multiple lines selected, or if the selection spans a full line
                if (sel.length > 0 && (sel.indexOf("\n") > -1 || sel.length === cm.getLine(cm.getCursor().line).length)) {
                    cm.indentSelection("add");
                    return;
                }
            }

            if (cm.options.indentWithTabs)
                cm.execCommand("insertTab");
            else
                cm.execCommand("insertSoftTab");
        },
        "Shift-Tab": function (cm) {
            cm.indentSelection("subtract");
        }
    });

    $(document).ready(function(){
        $("#buttonSendOnline").click(function() {
            $("#addOnline").submit();
        });

        $('.tooltipped').each(function(index, element) { // html in tooltips
            var span = $('#' + $(element).attr('data-tooltip-id') + '>span:first-child');
            span.before($(element).attr('data-tooltip'));
            span.remove();
        });

    });


  </script>

{% endblock %}