{% extends "bcs_client/menu.html" %}
{% load staticfiles %}

{% block head %}
  <style>
    .name {
      padding-top: 10px;
      font-size: 25px;
    }
    .profi {
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 18px;
    }
  </style>
{% endblock %}

{% block title %}
  Команда BcsQuants
{% endblock %}

{% block content %}
  <div class="l-container">
    <div class="row">
      <div class="col s12">
        <div class="title -inner">Команда</div>
      </div>
      <div class="row">
        По всем вопросам и предложениям с нами можно связаться по адресу <b>support@bcsquants.com</b>
      </div>
      <div class="row">
        <div class="col s4">
          <img src="https://bcsquants.com/filer/sharing/1484831283/6/" width="300px">
          <div class="name">
            Ивановский Дмитрий
          </div>
          <div class="profi">
            Архитектор и разработчик платформы
          </div>
          <div class="cv">
            <a href="http://deamoon.github.io/cv.pdf"><img src="https://bcsquants.com/filer/sharing/1484836457/9/" width="30px"/></a>
          </div>
        </div>
        <div class="col s4">
          <img src="https://bcsquants.com/filer/sharing/1484831283/7/" width="300px">
          <div class="name">Евгений Прохоров</div>
          <div class="profi">
            Куратор проекта
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}