<!-- VK Widget -->
<div id="vk_community_messages"></div>
<script type="text/javascript">
    VK.Widgets.CommunityMessages("vk_community_messages", 131749987, {
      // onCanNotWrite: function() {
      //   VK.Widgets.CommunityMessages.destroy("vk_community_messages");
      // }
    });
</script>