<h1 id="%D1%81%D1%82%D1%80%D0%B0%D1%82%D0%B5%D0%B3%D0%B8%D1%8F">Стратегия</h1>
<p>Торговая стратегия – это алгоритм совершения сделок на бирже (покупка или продажа фиксированного лота на различных инструментах биржи). Финансовые инструменты - это ценные бумаги, денежные обязательства, фьючерсы, опционы и т.п., продажа или передача которых обеспечивает получение денежных средств. В текущем соревновании в качестве инструментов использованы одна валютная пара (рубль/доллар), 3 фьючерса (золото, серебро и нефть), 2 российских индекса (ММВБ и РТС), а также акции 10 крупнейших российских компаний, торгующиеся на Московской бирже.</p>
<p>В настоящий момент доступна реализация торговых стратегий на языке python3, по умолчанию также можно использовать библиотеку numpy.</p>
<p>Каждая написанная стратегия может быть отправлена на тестирование на реальных данных биржи. Результатом тестирования является торговая стратегия на тестовых данных (они открыты и их можно изучить), на контрольных данных (они используются для предварительной оценки качества стратегии), а также на онлайн данных (учитываются только данные биржи, поступившие после запуска стратегии в онлайн режим). Каждый игрок получает очки соревнования за финансовый результат стратегии на онлайн данных.</p>
<p>Простейшая стратегия состоит из двух функций: init (инициализация параметров, данная функция вызывается один раз в начале тестирования стратегии) и tick (посылка ордеров на покупку и продажу, запускается каждый раз, когда поступают новые данные).</p>
<p>Данные поступают в стратегию в виде последовательности тиков (свечей), каждый тик агрегирует данные по ценам за период времени равный длине тика. В платформе доступны следующие размеры тиков: 1 минута (m1) и 5 минут (m5). Размер тика можно задавать в функции init с помощью параметра self._tickSize.</p>
<p>Каждый тик содержит следующую информацию (8 значений):</p>
<ul>
<li>start - время начала свечи;</li>
<li>end - время конца свечи;</li>
<li>open - цена открытия;</li>
<li>high - максимальная цена внутри свечи;</li>
<li>low - минимальная цена внутри свечи;</li>
<li>close - цена закрытия;</li>
<li>volume - объём сделок;</li>
<li>number - количество сделок.</li>
</ul>
<p>Простейшие стратегии могут оперировать только ценами закрытия, но для полноты анализа желательно использовать и другие данные, в том числе объемы торгов.</p>
<h1 id="%D0%B7%D0%B0%D1%8F%D0%B2%D0%BA%D0%B8">Заявки</h1>
<p>Основное назначение торговой стратегии - посылка ордеров на покупку или продажу фиксированного лота финансового инструмента. Для этого в функции tick необходимо вызвать функцию order, получающую в качестве параметров направление сделки и параметры выхода из позиции:</p>
<pre><code class="lang-python">order(&#39;buy&#39;, takeProfit = 0.02, stopLoss = 0.01, holdPeriod = 5)
</code></pre>
<p>где:</p>
<ul>
<li>buy или sell - означают направление сделки по ордеру, BUY соответствует покупке лота инструмента, SELL - продаже;</li>
<li>takeProfit - параметр выхода из позиции по достижению определенного уровня прибыли, выражается в долях. Например, при takeProfit = 0.02 условие выхода срабатывает, когда исходя из текущей цены инструмента прибыль по открытой позиции составила 2% или больше;</li>
<li>stopLoss - параметр выходы из позиции по достижению определенного уровня убытка, выражается в долях. Например, при stopLoss = 0.01 условие выхода срабатывает, когда исходя из текущей цены инструмента убыток по открытой позиции составил 1% или больше;</li>
<li>holdPeriod - параметр выхода из позиции по времени, выражается в количестве тиков. Например, при использовании пятиминутных тиков (&#39;m5&#39;), holdPeriod = 5 означает, что открытая позиция закроется автоматически через 25 минут, если не сработает ни одно из других условий выхода из позиции.</li>
</ul>
<h2 id="%D0%BF%D1%80%D0%BE%D1%86%D0%B5%D1%81%D1%81-%D1%82%D0%B5%D1%81%D1%82%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D1%8F-%D1%81%D1%82%D1%80%D0%B0%D1%82%D0%B5%D0%B3%D0%B8%D0%B8">Процесс тестирования стратегии</h2>
<p>Тестирование стратегий проходит независимо по каждому из 16 финансовых инструментов (акций и фьючерсов), которые входят в перечень самых ликвидных на Московской бирже. Также тестирование проходит независимо для тестовой и контрольной выборок.</p>
<p>Простейшая стратегия состоит из двух функций.</p>
<pre><code class="lang-python">def init(self):
    pass

def tick(self, data):
    pass
</code></pre>
<p>Функция init вызывается один раз для каждого инструмента, ей передается пустой класс. Далее на каждый тик биржевой информации вызывается функция tick, ей передается тот же класс self и data - вся доступная на данный момент времени информация.</p>
<p>Алгоритм тестирования стратегии следующий:</p>
<ul>
<li>запускается функция init, которая инициализирует параметры стратегии;</li>
<li>приходит первая последовательность тиков, которая состоит всего из одного (первого) тика (на последующих шагах, последовательность тиков содержит 2 тика, 3 тика и так далее);</li>
<li>запускается функция tick, которая обрабатывает доступную на текущий момент последовательность тиков и посылает ордер buy, ордер sell или ничего не посылает;</li>
<li>новые ордера открываются при условии, что нет уже запущенных ордеров, то есть функция tick может посылать ордер, который не исполнится в случае если для предыдущего ордера не выполнено ни одно из условий закрытия (не достигнут takeProfit, stopLoss или holdingPeriod)</li>
</ul>
<p>По умолчанию при каждом вызове функции tick вы получаете массив тиковых данных с начала тестового периода по текущий момент времени. Для онлайн данных начало – момент постановки стратегии в онлайн-режим, для тестовой и контрольной выборки начало – это фиксированный момент времени, определенный соответственно как начало тестовой или контрольной выборки.</p>
<p>Это удобно, когда вы работаете на минутных и пятиминутных данных, но может привести к проблемам с вычислительной сложностью алгоритмов при оперировании секундными данными, так как в таком случае массив, передаваемый в функцию tick на каждом шаге, может достигать объема в несколько миллионов значений. Для оптимизации ваших стратегий и в случае если стратегия оперирует лишь конечным числом последних значений цены, вы можете использовать окно произвольного размера, получая на каждом шаге только то количество тиков, которое вам необходимо.</p>
<p>Для этого необходимо определить в функции init переменную self._window</p>
<p>Класс self также может использоваться вами для определения и хранения любых параметров стратегии, хранения счетчиков и флагов, изменяемых в функции tick на шагах стратегии. Пример простой стратегии, оперирующей двумя последними значениями цены, приведен ниже.</p>
<h3 id="%D1%81%D1%82%D1%80%D0%B0%D1%82%D0%B5%D0%B3%D0%B8%D1%8F-%D0%BF%D1%80%D0%BE%D1%81%D1%82%D0%B0%D1%8F">Стратегия Простая</h3>
<pre><code class="lang-python">def init(self):
    self._tickSize = &#39;m5&#39;
    self._window = 2
    self.alpha = 0.01 # 1 процент
    self.holdPeriod = 12 # 1 час 

def tick(self, data):
    predPrice = data[&#39;close&#39;][0] # предпоследняя цена
    currentPrice = data[&#39;close&#39;][1] # последняя цена

    if currentPrice &gt;= (1 + self.alpha) * predPrice:
        order(&#39;buy&#39;, takeProfit=self.alpha, stopLoss=self.alpha/2, holdPeriod=self.holdPeriod)

    if currentPrice &lt;= (1 - self.alpha) * predPrice:
        order(&#39;sell&#39;, takeProfit=self.alpha, stopLoss=self.alpha/2, holdPeriod=self.holdPeriod)
</code></pre>
<p>Идея этой стратегии: рассматриваются 2 последние свечи по 5 минут. Если цена закрытия последней свечи увеличилась более, чем на 1 процент относительно цены закрытия предыдущей свечи, то отправляем ордер на покупку, аналогично для продажи.</p>
<h2 id="%D0%B0%D0%BB%D0%B3%D0%BE%D1%80%D0%B8%D1%82%D0%BC-%D1%80%D0%B0%D1%81%D1%87%D0%B5%D1%82%D0%B0-%D1%80%D0%B5%D0%B7%D1%83%D0%BB%D1%8C%D1%82%D0%B0%D1%82%D0%B0-%D1%82%D0%BE%D1%80%D0%B3%D0%BE%D0%B2%D0%BE%D0%B9-%D1%81%D1%82%D1%80%D0%B0%D1%82%D0%B5%D0%B3%D0%B8%D0%B8">Алгоритм расчета результата торговой стратегии:</h2>
<ul>
<li>бэкенд-платформа тестирования торговых стратегий получает на каждом шаге данные от биржи и ордера от стратегии участника;</li>
<li>изначально открытых ордеров нет, поэтому как только приходит первый ордер от стратегии участника, платформа совершает сделку в направлении ордера одним лотом. При этом в качестве цены покупки (в случае ордера BUY) или продажи (в случае ордера SELL) фиксируется цена, равная цене закрытия следующего тика, за тем, на этапе обработки которого стратегией был сгенерирован ордер;</li>
<li>на следующих шагах для запущенных ордеров (на одном инструменте одномоментно может быть запущен только один ордер) проверяются условия закрытия (достигнут takeProfit, stopLoss или holdingPeriod),  если одно из условий выполнено, происходит сделка в направлении обратном открытому ордеру. При этом в качестве цены этой сделки также используется цена закрытия следующего тика за тем, на котором выполнилось условие выхода из позиции. Далее рассчитывается прибыль (убыток) от закрытия позиции. Прибыль или убыток от сделки  рассчитывается как разница в процентах между ценой продажи (закрытия позиции) и ценой покупки (открытия позиции) для ордера BUY или же ценой покупки (закрытия позиции) и ценой продажи (открытия позиции) для ордера SELL;</li>
<li>при окончательном расчете прибыли/убытка учитывается также комиссия Московской биржи за каждую сделку (для нашей платформы комиссия фиксирована и равна 0,02% от объема позиции за вход в позицию и 0.02% за выход из позиции);</li>
<li>если нет активных ордеров и пришел новый ордер от стратегии, платформа совершает сделку в направлении ордера одним лотом, если есть активный ордер - новый ордер не отторговывается.</li>
</ul>
<h2 id="%D1%80%D0%B5%D0%B7%D1%83%D0%BB%D1%8C%D1%82%D0%B0%D1%82%D1%8B-%D1%81%D1%82%D1%80%D0%B0%D1%82%D0%B5%D0%B3%D0%B8%D0%B8">Результаты стратегии</h2>
<p>В качестве результатов стратегии платформа предоставляет пользователю таблицу, содержащую данные о том, как отработала стратегия на тестовой и контрольной выборках. Для тестовой выборки по каждому из инструментов доступны 2 файла с данными: tick.csv и order.csv.</p>
<p>Файл tick.csv содержит все посылаемые стратегией ордера, по колонкам записаны соответственно направление сделки (1 для BUY и -1 для SELL), параметры выхода из позиции (takeProfit, stopLoss и holdingPeriod), а также время начала тика, на котором сгенерирован ордер.</p>
<p>Файл order.csv содержит только прошедшие сделки по ордерам стратегии. Напомним, что платформа игнорирует новые ордера, пока не выполнено условие выхода по уже активной позиции. Таблица order содержит по колонкам: время входа в позицию, направление ордера, цену открытия позиции, прибыль/убыток (в долях), сработавшее условие выхода из позиции (&quot;1&quot; для выхода по takeProfit, &quot;-1&quot; для выхода по stopLoss и &quot;0&quot; для выхода по holdingPeriod), время выхода из позиции.</p>
<p>Кроме данных в файлах в таблице результатов доступны следующие данные по результатам стратегии на тестовой выборке:</p>
<ul>
<li>Инструмент - название финансового инструмента, на котором получен данный результат, всего представлено 16 инструментов Московской биржи;</li>
<li>P&amp;L - прибыль или убыток (если значение меньше 0) стратегии на всей тестовой выборке, в процентах;</li>
<li>Тестовый результат - это виртуальное количество очков рейтинга, которые бы получила стратегия, если бы была запущена в онлайн на тестовой выборке (результат учитывает финальную прибыль стратегии, а также просадки стратегии и стандартное отклонение прибыли);</li>
<li>Стандартное отклонение - мера устойчивости величины прибыли во времени на протяжении тестирования;</li>
<li>Количество сделок - количество совершенных сделок, открытие и закрытие позиции учитываются как одна сделка;</li>
<li>Выход по TP - прибыль по сделкам, закрывшимся по параметру takeProfit;</li>
<li>Выход по HP - прибыль или убыток по сделкам, закрывшимся по параметру holdingPeriod;</li>
<li>Выход по SL - убыток по сделкам, закрывшимся по параметру stopLoss;</li>
<li>Тестовое качество - общая мера качества стратегии (является функцией от соотношения прибыльных и убыточных сделок, суммарного P&amp;L, средней прибыли и среднего убытка по сделкам и количества сделок).</li>
</ul>
<p>Кроме результатов тестирования на тестовой выборки доступно также качество стратегии, рассчитанное по контрольным данным - Контр. качество, кроме качества на контроле приводится и контрольный результат (виртуальное количество очков рейтинга, которые бы получила стратегия, если бы была запущена в онлайн на контрольной выборке). По тестовому качеству и контрольному качеству стратегии вводится ограничение для посылки стратегий в онлайн-режим (качество стратегии на обеих выборках должно быть лучше, чем пороговое значение).</p>
<h2 id="%D0%BE%D0%BD%D0%BB%D0%B0%D0%B9%D0%BD-%D1%82%D0%B5%D1%81%D1%82%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5-%D1%81%D1%82%D1%80%D0%B0%D1%82%D0%B5%D0%B3%D0%B8%D0%B9">Онлайн-тестирование стратегий</h2>
<p>Основным результатом участников соревнования становится прибыль, заработанная их стратегиями в режиме онлайн, то есть на данных текущих торгов Московской биржи. Онлайн результат, как и тестовый, учитывает финальную прибыль стратегии, а также просадки стратегии и стандартное отклонение прибыли.</p>
<p>Для стратегий участника, показавших достаточно высокий результат на контрольных данных, доступна постановка стратегии в онлайн-режим тестирования. Для постановки стратегии в онлайн необходимо выбрать один из 16 инструментов, на котором будет работать стратегия, и подтвердить отправку на тестирование.</p>
<p>Стратегии, поставленные в онлайн, начинают приносить участникам прибыль с момента постановки в онлайн-режим до момента окончания соревнования. Таким образом, для качественных стратегий, имеет значение момент постановки в онлайн, чем раньше это произошло, тем дольше стратегия сможет работать на живых данных и приносить прибыль.</p>
<p>Результаты по онлайн-тесту обновляются раз в сутки и появляются на странице отслеживания стратегий онлайн участника.</p>
<p>Количество стратегий, запущенных в онлайн одним участником ограниченно 10. Таким образом, у участника имеется 10 слотов для онлайн теста, которые он заполняет по мере нахождения качественных стратегий. В каждом слоте участник выбирает стратегию и инструмент, на котором она будет работать. В итоге, к концу соревнования 10 слотов могут быть заполнены десятью разными стратегиями на десяти разных инструментах, а могут быть заполненными одной и той же стратегией на одном и том же инструменте. Снять стратегию с онлайн-режима, чтобы освободить слот - невозможно. Поэтому необходимо экономно и мудро подходить к использованию слотов для поиска наилучших стратегий.</p>

