<h1 id="%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D0%B5">Данные</h1>
<p>Для соревнования были выбраны 16 самых ликвидных инструментов Московской биржи (представленная информация не является рекламой ценных бумаг):</p>
<ul>
<li>ALRS  - ПАО АЛРОСА, акции обыкновенные, номер государственной регистрации 1-03-40046-N, www.alrosa.ru;</li>
<li>SNGS - ОАО Сургутнефтегаз, акции обыкновенные, номер государственной регистрации 1-01-00155-A, www.surgutneftegas.ru;</li>
<li>MGNT - ПАО Магнит, акции обыкновенные, номер государственной регистрации 1-03-40046-N, ir.magnit.com;</li>
<li>ROSN - ПАО НК Роснефть, акции обыкновенные, номер государственной регистрации 1-01-60525-P, www.rosneft.ru;</li>
<li>MOEX - ПАО Московская Биржа, акции обыкновенные, номер государственной регистрации 1-05-08443-H, www.moex.com;</li>
<li>VTBR - ПАО Банк ВТБ, акции обыкновенные, номер государственной регистрации 10401000B, www.vtb.ru;</li>
<li>LKOH - ПАО НК ЛУКОЙЛ, акции обыкновенные, номер государственной регистрации 1-01-00077-A, www.lukoil.com;</li>
<li>GAZP - ПАО Газпром, акции обыкновенные, номер государственной регистрации 1-02-00028-A, www.gazprom.ru;</li>
<li>SBERP - ПАО Сбербанк, акции привилегированные, номер государственной регистрации 20301481B, www.sberbank.com;</li>
<li>SBER - ПАО Сбербанк, акции обыкновенные, номер государственной регистрации 10301481В, www.sberbank.com;</li>
<li>USD000UTSTOM - USDRUB_TOM - USD/РУБ - курс валюты доллар/рубль;</li>
<li>RTSI - Индекс РТС RTSI;</li>
<li>MICEXINDEXCF - Индекс ММВБ MICEXINDEXCF;</li>
<li>GDX - Фьючерсный контракт на золото;</li>
<li>SIX - Фьючерсный контракт на курс доллар США - российский рубль;</li>
<li>BRX - Фьючерсный контракт на нефть Brent.</li>
</ul>
<h2 id="%D1%84%D0%BE%D1%80%D0%BC%D0%B0%D1%82-%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D1%85">Формат данных</h2>
<p>Данные представлены тиками или что то же самое свечами. Данные делятся на тестовые, контрольные и онлайн. Тестовые данные включают ценовые данные по финансовым инструментам с 5 января 2015 10:00:00 по 31 августа 2016 18:40:00. Чтобы работать с данными напрямую смотрите <a href="https://bcsquants.com/doc/localtest">Локальный бэктест</a> -&gt; Данные.</p>
<p>Чтобы не хранить все малейшие изменения цены, основная биржевая информация агрегируется в тики. Внтури размера тика,например каждую минуту, рассчитывается цена открытия и закрытия, минимальное и максимальное значение, объем и количество сделок на этой минуте</p>
<p>Каждая строка файла данных называется тиком. Каждый файл содержит 7 колонок:</p>
<ul>
<li>time - время начала свечи;</li>
<li>open - цена открытия;</li>
<li>high - максимальная цена внутри свечи;</li>
<li>low - минимальная цена внутри свечи;</li>
<li>close - цена закрытия;</li>
<li>volume - объём сделок;</li>
<li>count - количество сделок.</li>
</ul>
<p>На графиках эта информация отображается на японских свечках. Если цена закрытия больше цены открытия, свечка зеленая, иначе красная.</p>
<p><img src="https://bcsquants.com/filer/sharing/1484915354/10/" alt=""></p>
<p>Тестовые данные служат для исторического тестирования, проверки корректности стратегии и оптимизации параметров.</p>
<p>Контрольные данные неизвестны и служат для проверки качества стратегии</p>
<p>Онлайн-данные - это новые биржевые данные, на которых идет расчет рейтинговых очков каждого участника.</p>
<p>Помимо минутных свечей при написании торговых стратегий вы можете пользоваться также агрегированными свечами в 5 минут. Агрегированные данные содержат меньше тиков и расчет результатов стратегии на них идет быстрее.</p>

