<h1 id="%D1%88%D0%B0%D0%B1%D0%BB%D0%BE%D0%BD%D1%8B-%D1%82%D0%BE%D1%80%D0%B3%D0%BE%D0%B2%D1%8B%D1%85-%D1%81%D1%82%D1%80%D0%B0%D1%82%D0%B5%D0%B3%D0%B8%D0%B9">Шаблоны торговых стратегий</h1>
<p>Ниже представлены шаблоны самых простых торговых идей, которые помогут вам изучить, как устроена наша платформа. Просто скопируйте представленные ниже примеры в <a href="https://bcsquants.com/send/">окно отправки стратегии</a> и посмотрите, как торгует та или иная стратегия.</p>
<p>Детально параметры стратегий и исходный код рассматриваются в разделе документации <a href="https://bcsquants.com/doc/attempt/">Стратегия</a>.</p>
<h3 id="%D1%81%D1%82%D1%80%D0%B0%D1%82%D0%B5%D0%B3%D0%B8%D1%8F-%D0%BA%D1%83%D0%BF%D0%B8-%D0%B8-%D0%B4%D0%B5%D1%80%D0%B6%D0%B8">Стратегия Купи и Держи</h3>
<pre><code class="lang-python">def init(self):
    self._tickSize = &#39;m5&#39;
    self.alpha = 1000
    self.holdPeriod = 1000*1000*1000*1000
    self.doneOrder = False

def tick(self, data):
    if not self.doneOrder:
        order(&#39;buy&#39;, takeProfit=self.alpha, stopLoss=self.alpha/2, holdPeriod=self.holdPeriod)
        self.doneOrder = True
</code></pre>
<p>Классика инвестирования, результатом данной стратегии является рост цены актива за рассматриваемый период. Хорошо использовать данный результат как ориентир при написании собственных стратегий, лучше ли ваш алгоритм простой покупки инструмента?</p>
<p>Кроме всего прочего, вы можете попытаться сразу улучшить качество данного алгоритма, увеличив количество сделок в этой стратегии. Для этого достаточно ограничить параметр takeProfit и убрать ограничение на повторную отправку ордера (удалить строчку self.doneOrder = True).</p>
<h3 id="%D1%81%D1%82%D1%80%D0%B0%D1%82%D0%B5%D0%B3%D0%B8%D1%8F-%D0%BC%D0%BE%D0%BC%D0%B5%D0%BD%D1%82">Стратегия Момент</h3>
<pre><code class="lang-python">import numpy as np

def getReturn(array):
    return (array[1:] - array[:-1]) / array[:-1]

def init(self):
    self.size = 100
    self.alpha = 0.02
    self._window = self.size
    self._tickSize = &#39;m5&#39;

def tick(self, data):
    price = data[&#39;close&#39;][-1]
    window = data[&#39;close&#39;]

    if np.sum(getReturn(window)) &gt; self.alpha and price &gt; np.average(window):
        order(&#39;buy&#39;, takeProfit=self.alpha, stopLoss=self.alpha/2, holdPeriod=self.size*3)
</code></pre>
<p>В данной стратегии используется функции getReturn, вычисляющая изменение цены в текущем окне. Если цена в настоящий момент растет, стратегия заходит в позицию.</p>
<h3 id="%D1%81%D1%82%D1%80%D0%B0%D1%82%D0%B5%D0%B3%D0%B8%D1%8F-%D1%82%D1%80%D0%B5%D0%BD%D0%B4">Стратегия Тренд</h3>
<pre><code class="lang-python">def init(self):
    self._tickSize = &#39;m5&#39;
    self._window = 6 * 12 # 6 hours    
    self.alpha = 0.01
    self.order = {
        &#39;takeProfit&#39;: 4 * self.alpha, # 4%
        &#39;stopLoss&#39;: 2 * self.alpha, # 2%
        &#39;holdPeriod&#39;: 1 * self._window, # 12 hours
    }

def tick(self, data):
    window = data[&#39;close&#39;]
    priceStart = window[0] # the first close price
    priceEnd = window[-1] # the last close price
    returnPrice = (priceEnd - priceStart) / priceStart

    if returnPrice &gt; self.alpha:
        order(&#39;buy&#39;, **self.order) # the same as
      # order(&#39;buy&#39;, takeProfit=self.order[&#39;takeProfit&#39;], 
      #              stopLoss=self.order[&#39;stopLoss&#39;], 
      #              holdPeriod=self.order[&#39;holdPeriod&#39;])

    if returnPrice &lt; -self.alpha:
        order(&#39;sell&#39;, **self.order)
</code></pre>
<p>Стратегия заходит в позицию в соответствии с направлением тренда движения цены.</p>
<h3 id="%D1%81%D1%82%D1%80%D0%B0%D1%82%D0%B5%D0%B3%D0%B8%D1%8F-%D1%88%D0%B0%D1%80%D0%BF">Стратегия Шарп</h3>
<pre><code class="lang-python">import numpy as np 

def init(self): 
    self._tickSize = &#39;m5&#39; 
    self._window = 3 * 9 * 12 # примерно 3 торговых дня 
    self.alpha = 0.002 
    self.order = { 
        &#39;takeProfit&#39;: 0.02, 
        &#39;stopLoss&#39;: 0.01, 
        &#39;holdPeriod&#39;: self._window // 3, # примерно 1 торговый день 
    } 

def getSharp(window): 
    priceReturn = (window[1:] - window[:-1]) / window[1:] 
    std = np.std(priceReturn) 
    return np.average(priceReturn) / std if std else 0 

def tick(self, data): 
    window = data[&#39;close&#39;] 
    sharp = getSharp(window) 

    if sharp &lt; -self.alpha: 
        order(&#39;sell&#39;, **self.order) 

    if sharp &gt; self.alpha: 
        order(&#39;buy&#39;, **self.order)
</code></pre>
<p>Стратегия использует коэффициент Шарпа для определения момента входа в позицию. Данный коэффициент — один из базовых показателей эффективности инвестиционного актива, который вычисляется как отношение средней доходности к среднему отклонению стоимости актива.</p>
<h3 id="%D1%81%D1%82%D1%80%D0%B0%D1%82%D0%B5%D0%B3%D0%B8%D1%8F-%D0%B2%D0%BE%D0%B7%D0%B2%D1%80%D0%B0%D1%82-%D0%BA-%D1%81%D1%80%D0%B5%D0%B4%D0%BD%D0%B5%D0%BC%D1%83">Стратегия Возврат к среднему</h3>
<pre><code class="lang-python">import numpy as np 

def init(self): 
    self._tickSize = &#39;m5&#39; 
    self._window = 2 * 5 * 9 * 12 # 2 недели 
    self.alpha = 0.05 
    self.order = { 
    &#39;takeProfit&#39;: 0.02, 
    &#39;stopLoss&#39;: 0.01, 
    &#39;holdPeriod&#39;: 3 * 9 * 12, # 3 дня 
} 

def getMinMax(window): 
    return np.min(window), np.max(window) 

def tick(self, data): 
    window = data[&#39;close&#39;] 
    minPrice, maxPrice = getMinMax(window) 
    gap = (maxPrice-minPrice)/minPrice 
    std = 0.6*gap 
    price = window[-1] 

    if (price - minPrice) / minPrice &gt;= std: 
        order(&#39;sell&#39;, **self.order) 
    elif (maxPrice - price) / price &gt;= std: 
        order(&#39;buy&#39;, **self.order)
</code></pre>
<p>Если цена значительно отклонилась от среднего вниз, стратегия посылает ордер на покупку инструмента, и наоборот, при значительном отклонении цены вверх, осуществляется продажа.</p>

