<h1 id="%D0%BE%D1%82%D0%B2%D0%B5%D1%82%D1%8B-%D0%BD%D0%B0-%D0%B2%D0%BE%D0%BF%D1%80%D0%BE%D1%81%D1%8B">Ответы на вопросы</h1>
<ul>
<li>Как в вашей платформе при тестировании загрузить свою модель? Допустим я учу бустинг из 1000 деревьев, как мне на вашем сервере это использовать? Как файл - дамп модели бинарный, загрузить на ваш сервак?</li>
</ul>
<p>Мы предлагаем поступить вам проще. Используйте pickle, чтобы сохранить вашу модель в бинарную строку, а затем просто вставьте её в ваш код. Смотрите пример</p>
<pre><code class="lang-py">from sklearn import svm
from sklearn import datasets
clf = svm.SVC()
iris = datasets.load_iris()
X, y = iris.data, iris.target
clf.fit(X, y) # создаем модель 

import pickle
s = pickle.dumps(clf) # вот эту строку вставляем в код

######################################################

s = b&#39;\x80\x03csklearn.svm.classes\nSVC\nq\x00)...&#39;
clf2 = pickle.loads(s)
clf2.predict(X)
</code></pre>
<ul>
<li>Почему минимальный холдинг период 300 секунд? Почему у вас такие ограничения по времени исполнения стратегии? Как мне увеличить TIMEOUT моей стратегии?</li>
</ul>
<p>Здесь все просто, пользователь по ошибке может написать стратегию, которая торгует на каждый тик, это забивает место на диске, это замедляет тестирование. У нас есть локальный бэктест, вы можете там удалить это ограничение и проверить стратегию. Если результаты будут лучше, мы в состоянии отменить это ограничение для вас, просто напишите нам в чат и мы обсудим это. Так же вполне возможно, что весь формат бэктеста не подходит под ваши стратегии, тогда предлагается сотрудничать с нами индивидуально, смотрите в разделе <a href="https://bcsquants.com/doc/partner/">Сотрудничество</a></p>
<ul>
<li>Результаты локального бэктеста отличаются от результатов на сайте?</li>
</ul>
<p>Небольшие различия в результатах могут возникнуть из-за того, что версия на сайте не полностью совпадает с локальной версией, но различия должны быть не значительны и не влиять на поиск лучших идей. Так же чтобы избежать накруток, не все метрики, показываемые на сайте рассчитываются локально. Локальный бэктест - это всего лишь один файл, написанный в максимально простом python стиле, его изучение поможет вам лучше понять методику тестирования. Если у вас есть собственные версии бэктестов, которые работают с теми же самыми данными и вы хотели бы поделиться ими с сообществом, напишите на почту <strong>support@bcsquants.com</strong>. Мы обязательно опубликуем ваш бэктест с указанием авторства</p>
<ul>
<li>Почему данные по USDRUB_TOM (валюта доллар/рубль с рачетом завтра) до 18:40? Почему не до 24 00? Он же до 12 по мск торгуется на бирже</li>
</ul>
<p>Вы правы, но основные торги идут в рабочее время, было решено сделать его одинаковым, это сильно упростит вам написание стратегий, использующих корреляции 2-х инструментов</p>
<ul>
<li>Мне не хватает какой-то функциональности, что мне делать?</li>
</ul>
<p>Мы стараемся идти на встречу каждому участнику индивидуально, но платформа не разработана, чтобы обеспечить любые желания участников. Вы можете предложить новый функционал, но мы не гарантируем, что он будет реализован. Что бы вы не создавать много запросов одного и того же функционала, здесь приведен список, который находится сейас на рассмотрении, не стоит нам писать запросы из этого списка:</p>
<ol>
<li>Возможность загружать файлы на сервер и использовать их из кода стратегии</li>
<li>Работать более чем с одним финансовым инструментом в каждый момент времени, например для рассчета корелляций</li>
<li>Закрывать ордер по следующему моменту времени, а не по цене закрытия следующего тика, который для 5 минутных тиков создает 5-минутное опоздание</li>
<li>Возможность изменять параметры ордера от времени</li>
<li>Сделать &quot;скользящие&quot; ордеры</li>
<li><p>Вохможность закрыть текущий ордер раньше его выхода по условиям takeProfit, stopLoss, holdPeriod</p>
</li>
<li><p>Я нашел ошибку в платформе, куда сообщить?</p>
</li>
</ol>
<p>Система тестирования является распределенной и работает в облаке, ошибки возможны как со стороны пользователей, так и со стороны организаторов. В наших интересах провести честное соревнование. Опишите ошибку в чате или пришлите на почту <strong>support@bcsquants.com</strong>. Мы будем очень благодарны</p>

