<h1 id="%D0%BB%D0%BE%D0%BA%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D0%B5-%D1%82%D0%B5%D1%81%D1%82%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5">Локальное тестирование</h1>
<p>Мы настоятельно рекомендуем освоить локальное тестирование ваших стратегий, это позволит вам значительно ускорить поиск и проверку ваших идей. Даже если вы новичок в python, процесс совершенно несложный. Инструкция рассчитана на пользователей Windows. Если у вас возникли проблемы, пишите нам в чат ВК(нижний правый угол).</p>
<ul>
<li><p><strong>Установка зависимостей</strong>. Если вы пользователь Windows, то самым лучшим способом работы с Python является среда Jupyter Notebook. Её вы можете установить, скачав пакет <a href="https://www.continuum.io/downloads">Anaconda для Python 3</a>. Приложение Jupyter Notebook появится среди установленных приложений, вы сможете найти его в поиске приложений Windows. Если вы используете другую операционную систему, вы можете так же установить <em>Anaconda</em> или использовать менеджер пакетов <em>pip</em></p>
</li>
<li><p><strong>Скачиваем модуль.</strong> Мы рекомендуем создать специальную папку на вашем компьютере, например по адресу <em>C:\Users\USER_NAME\Documents\bcsquants. </em> Скачайте файл <a href="https://bcsquants.com/filer/sharing/1487762568/16/"><strong>bcsquants.py</strong></a> и поместите его в в папку <em> Documents\bcsquants</em></p>
</li>
<li><p><strong>Скачиваем данные</strong>. Скачайте <a href="https://yadi.sk/d/BvChmsnI3ENbWe">данные (55 MB)</a> и распакуйте архив в папку <em>Documents\bcsquants</em>, так чтобы папка <em>data</em> была на том же уровне что и <em>bcsquants.py</em></p>
</li>
<li><p><strong>Осваиваем Jupyter Notebook</strong></p>
</li>
</ul>
<p>Запустите приложение Jupyter Notebook из меню пуск или командой <strong>jupyter notebook</strong> в консоли. По умолчанию вы увидите в брузере вашу домашнюю директорию, перейдите в папку <em>Documents\bcsquants</em>. Создайте там рабочий .ipynb файл командой New-&gt;Python [conda root] или New-&gt;Python 3. Вставьте в первую ячейку рабочего файла следующий код:</p>
<pre><code class="lang-py">def init(self):
    self._tickSize = &#39;m5&#39;
    self._window = 2
    self.alpha = 0.01 # 1 процент
    self.holdPeriod = 12 # 1 час 

def tick(self, data):
    predPrice = data[&#39;close&#39;][0] # предпоследняя цена
    currentPrice = data[&#39;close&#39;][1] # последняя цена

    if currentPrice &gt;= (1 + self.alpha) * predPrice:
        order(&#39;buy&#39;, takeProfit=self.alpha, stopLoss=self.alpha, holdPeriod=self.holdPeriod)

    if currentPrice &lt;= (1 - self.alpha) * predPrice:
        order(&#39;sell&#39;, takeProfit=self.alpha, stopLoss=self.alpha, holdPeriod=self.holdPeriod)

###############################################################################################
# Вставьте стратегию выше, смотри примеры https://bcsquants.com/doc/example

import bcsquants
from bcsquants import order

# Наведите курсор на середину названия функции getBacktestResult и нажмите shift+Tab, чтобы увидеть сигнатуру
result = bcsquants.getBacktestResult(init, tick)
bcsquants.showBacktestResult(result)
</code></pre>
<p>Нажмите на кнопку Play или Ctrl+Enter. Вы увидите таблицу с результатами бэктеста</p>
<p>Нажмите Insert -&gt; Insert Cell Below и вставьте следующий код</p>
<pre><code class="lang-py">% pylab
bcsquants.plotChart(result, &#39;BRX&#39;)
</code></pre>
<p>Запустите ячейку. Должно открыться отдельное окно с графиком. Масштабирование в нем осуществляется нажатием на крест сверху слева и правой кнопкой мыши.</p>
<ul>
<li><strong>Пишем стратегии</strong>. Изучайте результаты ваших стратегий, просматривайте графики и участвуйте в соревновании. Не забудьте, что основной приз получат участники, которые покажут лучшие результаты на Online данных, а это значит чем раньше вы отправите ваши стратегии, тем больше у вас будет доступных данных. Более подробно о правилах смотрите в документации</li>
</ul>
<h3 id="%D0%B4%D0%B0%D0%BD%D0%BD%D1%8B%D0%B5">Данные</h3>
<p>Тестовые данные представлены в формате .npy, <a href="https://yadi.sk/d/BvChmsnI3ENbWe">данные (55 MB)</a></p>
<p>Вы можете работать с ними из python3</p>
<pre><code class="lang-py">import numpy as np
np.load(&#39;close.npy&#39;)
# array([ 76.3 ,  76.15,  76.26, ...,  91.9 ,  91.82,  91.89])
np.load(&#39;time.npy&#39;, encoding=&#39;bytes&#39;)
# array([datetime.datetime(2016, 9, 1, 10, 0), ...], dtype=object)
</code></pre>
<p>Если вы хотите изучить данные не из python, можете скачать те же самые данные в формате CSV, <a href="https://yadi.sk/d/FEKhXKt43ENbQC">данные CSV (54 MB)</a></p>
<h3 id="%D0%BE%D0%B3%D1%80%D0%B0%D0%BD%D0%B8%D1%87%D0%B5%D0%BD%D0%B8%D1%8F">Ограничения</h3>
<p>Время выполнения стратегии ограничено 5 минутами на одном инструменте, суммарно не более 5 * 16 = 80 минут на всё выполнение. Не рекомендуется писать стратегии, достигающие лимиты, иначе лимиты будут понижены</p>
<p>Память ограничена мягким лимитом в 3 GB</p>
<h3 id="%D0%B7%D0%B0%D0%B2%D0%B8%D1%81%D0%B8%D0%BC%D0%BE%D1%81%D1%82%D0%B8">Зависимости</h3>
<p>Данные библиотеки доступны в бэктесте и могут пригодиться при локальной разработке, если вы ставили Anaconda, то все они установятся автоматически</p>
<ul>
<li>python 3.6</li>
<li>numpy 1.11.2</li>
<li>scipy 0.18.1</li>
<li>scikit-learn 0.18.1</li>
<li>matplotlib 1.5.3</li>
<li>pandas 0.19.1</li>
<li>statsmodels 0.8.0</li>
<li>sympy 1.0</li>
<li>и их зависимости</li>
</ul>
<p>Дополнительно в нашем бэктесте доступны библиотеки:</p>
<ul>
<li>talib 0.4.0 - <a href="https://github.com/mrjbq7/ta-lib">https://github.com/mrjbq7/ta-lib</a></li>
<li>tensorflow 1.0.1</li>
<li>Theano 0.8.2</li>
<li>xgboost 0.6</li>
<li>keras 2.0.3 (default backend tensorflow)</li>
<li>fbprophet 0.1.1</li>
<li>pystan 2.14.0</li>
</ul>
<p>Вам нужно будет ставить их самостоятельно</p>
<p>Если вам не хватает библиотек, просто напишите нам в чат (в нижнем правом углу экрана) или на почту <strong>support@bcsquants.com</strong></p>

