<h1 id="bcs-quant-challenge-2016">BCS Quant Challenge 2016</h1>
<p> Добро пожаловать на документацию по соревнованию <a href="http://QuantForces.com/bcs">BCS Quant Challenge 2016</a> на платформе <a href="http://QuantForces.com">QuantForces</a></p>
<h1 id="%D0%BE-%D1%81%D0%BE%D1%80%D0%B5%D0%B2%D0%BD%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B8">О соревновании</h1>
<p>Cоревнование по алгоритмической торговле компании БКС – это соревнование по разработке торговых роботов, которые, используя актуальные биржевые данные (цены акций и фьючерсов), совершают сделки по покупке и продаже на заданном наборе инструментов. Перед участниками стоит задача написания торговой стратегии, обеспечивающей максимальное качество.  </p>
<p>Участникам соревнования доступен интерфейсс написания торговых стратегий на языке python (версии 3).</p>
<p>Торговая стратегия – это алгоритм совершения сделок на бирже (покупка или продажа фиксированного лота на различных инструментах биржи).</p>
<p>Каждая написанная стратегия может быть отправлена на тестирование на реальных данных биржи. Результатом тестирования является торговля стратегии на тестовых данных (они открыты и их можно изучить), на контрольных данных (они используются для предварительной оценки качества стратегии), а также на онлайн данных (учитываются только данные биржи, поступившие после запуска стратегии в онлайн режим). Каждый игрок получает очки соревнования за положительный результат на онлайн данных.</p>
<h1 id="%D1%87%D1%82%D0%BE-%D0%B4%D0%BE%D0%B1%D0%B0%D0%B2%D0%B8%D1%82%D1%8C">Что добавить</h1>
<ol>
<li>Не очень понятно про разделение данных на 3 вида</li>
<li>Написать про обратную связь и группу</li>
<li>Инструкция как установить питон и где почитать про него</li>
<li>Локальное тестирование стратегии</li>
<li>Нужен туториал, краткая инструкция, для тех кому хочется сначала попробовать, а потом читать документацию</li>
<li>Нужен пример, как дорабатывать стратегию от неприбыльной к прибыльной, как анализировать и на что смотреть</li>
<li>Проверяем документацию</li>
</ol>

