<h1 id="%D1%81%D0%BE%D1%82%D1%80%D1%83%D0%B4%D0%BD%D0%B8%D1%87%D0%B5%D1%81%D1%82%D0%B2%D0%BE">Сотрудничество</h1>
<h2 id="%D0%BA%D0%BE%D0%B3%D0%BE-%D0%BC%D1%8B-%D0%B8%D1%89%D0%B5%D0%BC">Кого мы ищем</h2>
<p>Для тех, кто уже имеет успешный опыт написания алгоритмических стратегий и есть подтвержденные результаты торговли, предлагаем сотрудничество с инвестиционным банком БКС Глобал Маркетс <a href="http://bcsgm.com/en">http://bcsgm.com/en</a>. Рассматриваются как отдельные алготрейдеры, так и состоявшиеся команды.</p>
<p>В рамках сотрудничества BCS Global Markets может предоставить:</p>
<ul>
<li>экспертизу в алгоритмической торговле</li>
<li>специальные условия по комиссиям (брокерские комиссии, маржинальные ставки)</li>
<li>решения для инфраструктуры (прямые подключения, выделенные линии, сервера, исторические данные и тп.)</li>
<li>оборотный капитал</li>
</ul>
<p>Заявку просьба прислать на адрес <strong>info@bcsquants.com</strong> с темой письма “сотрудничество”.</p>
<h2 id="%D0%BE-%D0%BA%D0%BE%D0%BC%D0%BF%D0%B0%D0%BD%D0%B8%D0%B8">О компании</h2>
<p><strong>Информация о БКС Глобал Маркетс</strong></p>
<p>БКС Глобал Маркетс инвестиционно-банковское подразделение ФГ БКС*, которое предоставляет брокерские, прайм-брокерские, а также инвестиционно-банковские услуги профессиональным институциональным инвесторам. Компания объединяет принципы глубокого понимания рынка и самых современных брокерских технологий.</p>
<p><strong>Информация о ФГ БКС</strong></p>
<p>Финансовая группа БКС предоставляет широкий спектр услуг для институциональных и розничных клиентов. Действующая с 1995 года компания осуществляет брокерские, инвестиционно-банковские услуги кастодиальную и консалтинговую деятельность. Реализация разумной стратегии развития, а также использование инновационных технологий и привлечение квалифицированных специалистов сделали БКС одной из ведущих инвестиционно-брокерской компанией России. В компании работают более 2000 сотрудников в более чем 50 офисах и представительствах.</p>
<p>* Банковские услуги оказывает АО «БКС Банк» Генеральная лицензия ЦБ РФ №101 от 15.12.2014 г. Брокерские услуги - ООО «Компания БКС», лицензия №154-04434-100000 от 10.01.2001 на осуществление брокерской деятельности. Выдана ФСФР. Без ограничения срока действия.</p>

