<h1 id="%D0%B7%D0%BD%D0%B0%D0%BA%D0%BE%D0%BC%D1%81%D1%82%D0%B2%D0%BE-%D1%81-python">Знакомство с Python</h1>
<p>В первую очередь вам надо знать, что для участия в соревновании нет необходимости досконально владеть возможностями языка программирования python, но нужно знать основы.</p>
<p>Данный раздел во многом отвечает на вопрос, как изучить python с нуля за ограниченное количество времени.</p>
<p>Для работы с платформой соревнования вам не нужен предустановленный python на вашем компьютере, достаточно ввести код стратегии в окне отправки стратегии и отправить ее на тестирование, чтобы увидеть результат.</p>
<p>Однако для отладки и написания сложных стратегий все-таки полезно иметь возможность проводить расчеты и тестирование <a href="https://bcsquants.com/doc/localtest/">локально</a> на вашем компьютере.</p>
<p>Для работы с python мы рекомендуем среду Jupyter Notebook, она позволяет пошагово выполнять расчеты, тестировать, хранить и выводить результаты. Для работы над стратегиями в Jupyter Notebook желательно убедиться, что у вас установлена библиотека numpy. Рекомендуем скачать Anaconda Python (<a href="https://www.continuum.io/downloads">https://www.continuum.io/downloads</a>), так как этот дистрибутив содержит все необходимые библиотеки и поддержку среды Jupyter Notebook.</p>
<p>Для участников, которые хотят быстро овладеть возможностями языка python и приступить к написанию торговых стратегий, можно рекомендовать экспресс-курс от Rick Muller: A Crash Course in Python for Scientists (<a href="http://nbviewer.jupyter.org/gist/rpmuller/5920182">http://nbviewer.jupyter.org/gist/rpmuller/5920182</a>), язык курса - английский. Также можно рекомендовать онлайн-книгу Dive Into Python 3 (<a href="http://www.diveintopython3.net">http://www.diveintopython3.net</a>). Кроме этого для быстрого старта можно посмотреть <a href="http://cs231n.github.io/python-numpy-tutorial/">Python Numpy Tutorial</a></p>
<p>Наиболее полно возможности языка python освещены в официальной документации (<a href="https://www.python.org/doc/">https://www.python.org/doc/</a>) также на английском языке.</p>
<p>Также для полного изучения языка подходит курс от Code Academy: <a href="https://www.codecademy.com/ru/learn/python">https://www.codecademy.com/ru/learn/python</a></p>
<p>Для изучения Python на русском языке можно посмотреть следующие ресурсы:</p>
<ol>
<li>Вики-учебник по Python 3.1: <a href="https://ru.wikibooks.org/wiki/Python/Учебник_Python_3.1">https://ru.wikibooks.org/wiki/Python/Учебник_Python_3.1</a></li>
<li>Ресурс для изучения Python с нуля: <a href="https://pythonworld.ru">https://pythonworld.ru</a></li>
<li>Интерактивный учебник Python: <a href="http://pythontutor.ru">http://pythontutor.ru</a></li>
<li>Онлайн курс для начинающих изучение Python на русском языке: <a href="https://stepik.org/course/Программирование-на-Python-67">https://stepik.org/course/Программирование-на-Python-67</a></li>
</ol>

