<h1 id="%D1%80%D0%B0%D1%81%D1%87%D0%B5%D1%82-%D1%80%D0%B5%D0%B9%D1%82%D0%B8%D0%BD%D0%B3%D0%B0-%D1%83%D1%87%D0%B0%D1%81%D1%82%D0%BD%D0%B8%D0%BA%D0%B0">Расчет рейтинга участника</h1>
<p>Качеством стратегии на одном инструменте является метрика качества стратегии, являющаяся функцией от количества сделок, отношение числа прибыльных сделок к общему числу сделок, средней прибыли/убытку за сделку, а также общей прибыли стратегии за тестируемый период времени.</p>
<p>Качество стратегии на полном наборе инструментов рассчитывается как среднее двух величин: среднего результата по всем инструментам и среднего результата на трех лучших инструментах.</p>
<p>Данные формулы используются для расчета качества стратегии на тестовых и контрольных данных. Для перевода стратегии в онлайн-режим необходимо, чтобы ее качество на контрольных и тестовых данных одновременно было больше порогового значения - единицы. Для онлайн данных выбирается конкретный инструмент, поэтому в роли качества стратегии выступает качество стратегии на этом инструменте, а в роли призовых очков для составления рейтинга участников соревнования и выбора победителей  выступают баллы за прибыль - поле &quot;результат&quot; в таблице (для расчета баллов результата учитываются процент прибыли, ее стандартное отклонение, а также просадки стратегии), результат - это баллы прибыли, принесенные стратегией на выбранном инструменте с момента начала онлайн-тестирования.</p>
<h1 id="%D0%BF%D0%BE%D1%80%D1%8F%D0%B4%D0%BE%D0%BA-%D0%BE%D0%BF%D1%80%D0%B5%D0%B4%D0%B5%D0%BB%D0%B5%D0%BD%D0%B8%D1%8F-%D0%BF%D0%BE%D0%B1%D0%B5%D0%B4%D0%B8%D1%82%D0%B5%D0%BB%D0%B5%D0%B9-%D0%B8-%D0%BF%D1%80%D0%B8%D0%B7%D0%B5%D1%80%D0%BE%D0%B2">Порядок определения победителей и призеров</h1>
<p>В качестве призовых очков (баллов рейтинга) каждого участника выступает сумма онлайн-результатов, которые обеспечили стратегии участника, запущенные в онлайн-тестирование на момент окончания соревнования. При этом на призы могут претендовать только участники, онлайн-результат которых в рейтинге имеет положительное значение. Окончательный выбор победителей будет осуществлён после окончания соревнования и будет основан на результатах онлайн рейтинга и внутренних метриках качества стратегий, используемых в компании.</p>
<p>Призовой фонд Соревнования составляет 500 000 рублей. Призовой фонд распределяется следующим образом: первое место в рейтинге участников на момент окончания Соревнования получает 200 000 рублей, 2 место – 140 000 рублей,  3 место – 80 000 рублей, 4 место – 50 тысяч рублей, 5 место – 30 000 рублей.</p>
<p>Все награждаемые участники являются призерами соревнования и претендуют на собеседование в департамент квантитативного трейдинга дирекции инвестиционно-банковского бизнеса компании БКС.</p>
<p>Таким образом, перед участниками стоит задача написать качественную стратегию и грамотно распорядиться слотами для онлайн тестирования.</p>

