<h1 id="bcs-quants-challenge">BCS Quants Challenge</h1>
<p>Добро пожаловать на документацию по соревнованию <a href="https://bcsquants.com">BCS Quants Challenge</a></p>
<p>Для вашего удобства вы можете скачать документацию в одном из форматов: <a href="https://www.gitbook.com/download/pdf/book/deamoon/bcsquants_doc">PDF</a>, <a href="https://www.gitbook.com/download/mobi/book/deamoon/bcsquants_doc">Mobi</a>, <a href="https://www.gitbook.com/download/epub/book/deamoon/bcsquants_doc">ePub</a></p>
<h1 id="%D0%BE-%D1%81%D0%BE%D1%80%D0%B5%D0%B2%D0%BD%D0%BE%D0%B2%D0%B0%D0%BD%D0%B8%D0%B8">О соревновании</h1>
<p>Соревнование по алгоритмической торговле компании BCS Global Markets – это соревнование по разработке торговых роботов, которые, используя реальные биржевые данные, совершают сделки по покупке и продаже на заданном наборе финансовых инструментов(акции, фьючерсы). Перед участниками стоит задача написания торговых стратегий, способных в перспективе зарабатывать деньги торговлей на бирже.</p>
<p>Соревнование пройдёт <strong>14 марта - 31 мая.</strong></p>
<p>Для быстрого старта начните с <a href="https://bcsquants.com/doc/tutorial">туториала участника</a>.</p>
<p>Участникам соревнования прямо в браузере доступен интерфейс написания торговых стратегий на языке python (версии 3), возможность тестирования стратегии на исторических данных, просмотр финансовых результатов и графиков, отправка стратегии в режим онлайн (тестирование на актуальных текущих данных). Участники, уже знакомые с языком python, могут воспользоваться <a href="https://bcsquants.com/doc/localtest/">локальным тестированием</a>.</p>
<p>В соревновании доступны данные по 16 самым ликвидным инструментам биржевой торговли. Сами данные разбиты на 3 части.</p>
<ul>
<li><strong>Тестовая выборка. </strong>5<em> января 2015 - 31 августа 2016</em>. При тестировании стратегии на тестовой выборке доступна полная статистика торговли, включая интерактивные графики. </li>
<li><strong>Контрольная выборка. </strong> 1<em> сентября 2016 - текущее число</em>. При тестировании на контрольной выборке доступно только одно число, отражающее качество стратегии. Качество - это функция от прибыльности стратегии, количества сделок, доли положительных сделок и т.п.</li>
<li><strong>Онлайн выборка. </strong><em>Дата отправки стратегии в онлайн - текущее число</em>. По онлайн данным начисляются очки рейтинга (в зависимости от прибыльности стратегии на текущих данных). Для онлайн тестирования доступны 10 слотов под стратегии. После отправки стратегии в онлайн, количество свободных слотов уменьшается на один. Удалить или редактировать стратегию, отправленную в онлайн, нельзя.</li>
</ul>
<p>Каждый участник за соревнование может отправить неограниченное количество стратегий для исторического тестирования на тестовой и контрольной выборке. Результат будет показан по всем 16 инструментам. В онлайн можно отправить только <strong>10 стратегий </strong>и при этом каждая стратегия может работать только с одним выбранным инструментом.</p>
<p>Каждый рабочий день в 19:00 по Московскому времени все стратегии, отправленные в онлайн, будут перетестированы на последнем дне с обновлением рейтинга участников. Рейтинг участников формируется по результатам прибыльности стратегий, переведенных в онлайн режим. <strong>Поэтому чем раньше участники отправят в онлайн свои стратегии, тем больше у них будет дней для онлайн тестирования</strong>, а значит и больше шансов победить в соревновании, подробнее в разделе <a href="https://bcsquants.com/doc/rating/">Рейтинги и победители</a>.</p>
<p>Чтобы победить в соревновании участник должен найти оптимальный баланс между качеством стратегии и временем отправки в онлайн. Чем больше времени вы потратите на улучшение стратегии, тем меньше времени останется на онлайн тестирование. Преимущество есть у тех, кто будет пользоваться <a href="https://bcsquants.com/doc/localtest/">локальным тестированием</a>, так как это ускоряет процесс поиска торговых идей. Так же не менее важным навыком является уровень владения <a href="https://bcsquants.com/doc/python/">языком python</a>. Впрочем, даже если вы никогда с ним не встречались, вы будете приятно удивлены насколько им легко пользоваться в нашем соревновании.</p>
<h1 id="%D0%B0%D1%83%D0%B4%D0%B8%D1%82%D0%BE%D1%80%D0%B8%D1%8F">Аудитория</h1>
<p>Мы ищем талантливых людей, способных придумывать и реализовывать торговые идеи. Если вы уже принимали участие в соревнованиях по машинному обучению или программированию, то вы не встретите ничего сложного. Вам не нужно иметь специальное финансовое образование. Торговые стратегии нужно программировать, для написания простых стратегий вам хватит базовых знаний из школьной программы, для написания сложных рекомендуем пользоваться <a href="https://bcsquants.com/doc/localtest/">локальным тестированием</a>.</p>
<p>Для тех, кто уже разрабатывает стратегии и кому по каким-то причинам не интересен представленный формат соревнования, мы предлагаем ознакомиться с возможностями <a href="https://bcsquants.com/doc/partner/">сотрудничества<strong>.</strong></a></p>
<h1 id="%D0%BF%D0%BE%D0%B4%D0%B4%D0%B5%D1%80%D0%B6%D0%BA%D0%B0">Поддержка</h1>
<p>Мы регулярно выкладываем полезные материалы в <a href="http://vk.com/bcsquants">группу Вконтакте</a>, там вы сможете прочитать статьи, которые помогут вам лучше понимать финансовые рынки. Там же будут появляться объявления по ходу соревнования.</p>
<p>Если у вас возникли вопросы, пишите нам в чат группы (в нижнем правом углу) или на почту <strong>support@bcsquants.com. </strong>Это прямой доступ к организаторам соревнования, не упускайте эту возможность.</p>
<h1 id="%D0%BD%D0%B0%D0%BF%D1%83%D1%82%D1%81%D1%82%D0%B2%D0%B8%D0%B5">Напутствие</h1>
<p>Мир финансовых рынков очень разнообразен, и подходы в торговле могут быть самые разные. Торговля с использованием исторических данных цен на минутных тиках - это отличная возможность познакомиться с финансами и понять действительно ли вам это интересно. Мы создали игровую площадку, чтобы помочь всем тем, кто когда либо слышал о торговых роботах, попробовать свои силы в написании торговых стратегий, сравнить свои результаты с другими участниками и побороться за призовой фонд. Мы уверены, что попытка разобраться в алгоритмической торговле - это хорошая инвестиция, независимо от того, какой путь вы выберете дальше.</p>
<hr>
<p>В предвкушении соревнования, <a href="https://bcsquants.com/team/"><em>команда BcsQuants</em></a>.</p>

