<h1 id="summary">Summary</h1>
<ul>
<li><a href="README.md">Добро пожаловать</a></li>
<li><a href="tutorial.md">Туториал</a></li>
<li><a href="attempt.md">Стратегия</a></li>
<li><a href="data.md">Данные</a></li>
<li><a href="example.md">Шаблоны торговых стратегий</a></li>
<li><a href="rating.md">Рейтинги и победители</a></li>
<li><a href="python.md">Знакомство с Python</a></li>
<li><a href="localtest.md">Локальное тестирование</a></li>
<li><a href="partner.md">Сотрудничество</a></li>
<li><a href="faq.md">Ответы на вопросы</a></li>
</ul>

