<h1 id="%D1%82%D1%83%D1%82%D0%BE%D1%80%D0%B8%D0%B0%D0%BB">Туториал</h1>
<p>Торговая стратегия – это алгоритм совершения сделок на бирже (покупка или продажа фиксированного лота на различных инструментах биржи). Для написания стратегии вам доступен язык программирования python и популярные библиотеки, подробнее смотрите в разделе <a href="https://bcsquants.com/doc/localtest/">Локальное тестирование</a> -&gt; Зависимости.</p>
<p>Для отправки стратегии, зайдите в <a href="https://bcsquants.com/send/">Создать стратегию</a>.</p>
<p><img src="https://bcsquants.com/filer/sharing/1484666345/3/" alt=""></p>
<p>Коротко разберем, что из себя представляет стратегия. Для более подробного описания читайте раздел <a href="https://bcsquants.com/doc/attempt/">Стратегия</a>.</p>
<p>Вы видите две python-функции <strong>init(self)</strong> и <strong>tick(self, data)</strong>.</p>
<p>В функции <strong>init(self)</strong> вы создаете новые поля и сохраняете их в переменную <strong>self.</strong> Такие поля как <strong>alpha</strong> и <strong>holdPeriod</strong> являются пользовательскими. Поля, начинающиеся с нижнего подчеркивания являются параметрами бэктеста. На данный момент доступны 2 параметра:</p>
<p><strong>_tickSize</strong> - размер <strong>тика</strong>, может принимать одно из значений <strong>[&#39;m5&#39;, &#39;m1&#39;]</strong>. Где &#39;m5&#39; означает 5 минут, а &#39;m1&#39; - 1 минута. Это поле определяет сколько данных получит ваша стратегия, соответственно если вы выберете m1, то получите в 5 раз больше данных, чем если выберете m5.</p>
<p><strong>_window</strong> - длина окна <strong>в тиках. </strong>Понятие окна напрямую связано с переменной <strong>data.</strong></p>
<p>В функции <strong>tick(self, data) </strong>происходит основная работа. Эта функция вызывается в основном цикле бэктеста при итерации по историческим данным. <strong>self</strong> в функции <strong>tick</strong>, тот же самый что и в функции <strong>init</strong>. Исторические данные доступны в переменной <strong>data </strong>- словарь с ключами<strong> [&#39;time&#39;, &#39;open&#39;, &#39;high&#39;, &#39;low&#39;, &#39;close&#39;, &#39;volume&#39;, &#39;count&#39;] </strong>и значениями <strong>numpy array. </strong>Для тех, кто пока не знаком с библиотекой <strong>numpy</strong>, можно считать, что это просто стандартный <strong>python list</strong> со сверхспособностями (например, вычисление среднего по списку функцией <strong>mean</strong>), посмотреть какие возможности предоставляет numpy array можно на <a href="https://docs.scipy.org/doc/numpy-dev/user/quickstart.html#universal-functions">странице документации</a>. Словарь содержит следующие ключи:</p>
<ul>
<li>time - numpy array datetime, время начала тика;</li>
<li>open - numpy array float, цена открытия тика;</li>
<li>high - numpy array float, максимальная цена тика;</li>
<li>low - numpy array float, минимальная цена тика;</li>
<li>close - numpy array float, цена закрытия тика;</li>
<li>volume - numpy array int, объём тика;</li>
<li>count - numpy array int, количество сделок тика.</li>
</ul>
<p>Подробнее о тиках смотрите в разделе <a href="https://bcsquants.com/doc/data/">Данные</a> -&gt; Тики.</p>
<p>Чтобы обратиться к списку цен закрытия используйте <strong>data[&#39;close&#39;]</strong>. Длина всех списков в <strong>data</strong> всегда одинаковая.  Если вы определили длину окна <strong>self._window,</strong> то длина списков всегда будет равна длине окна (то есть тестирование начнется не с первого тика, а с размера окна). Если вы присвоите <strong>None</strong> в длину окна или совсем удалите эту настройку, то длина списков будет расширяться от единицы до длины истории, то есть в любой момент времени вам будет доступна вся известная на данный момент история, начиная с одного тика.</p>
<p>В каждый момент вызова функции <strong>tick</strong>, вы можете отправить заявку, используя функцию <strong>order(direct, takeProfit, stopLoss, holdPeriod). </strong>Параметры функции<strong> order:</strong></p>
<ul>
<li>direct - python str, принимает значение из [&#39;buy&#39;, &#39;sell&#39;], определяет покупает робот или продаёт;</li>
<li>takeProfit - python float, параметр выхода из позиции по достижению определенного уровня прибыли, выражается в долях, а не процентах, то есть для задания уровня прибыли 2%, надо определить takeProfit = 0.02;</li>
<li>stopLoss - python float, нижняя граница заявки, определяется в долях, а не в процентах, то есть 1% = 0.01;</li>
<li>holdPeriod - python int, размер в <strong>тиках </strong>продолжительности заявки.</li>
</ul>
<p>Подробнее о формате заявок смотрите в <a href="https://bcsquants.com/doc/attempt/">Стратегия</a> -&gt; Заявки.</p>
<p>Немного поняв, что происходит, перейдём дальше. Нажмите отправить стратегию и вы попадете на экран финансового результата стратегии.</p>
<p><img src="https://bcsquants.com/filer/sharing/1484666581/4/" alt=""></p>
<p>Это экран, на котором вы будете проводить большую часть времени, здесь вы можете анализировать поведение вашей торговой стратегии на истории. Давайте по порядку познакомимся с основными понятиями в таблице и на графике.</p>
<p>Прежде всего напомним, что исторические данные разделены на тестовые и контрольные дни, об этом написано на <a href="https://bcsquants.com/doc/">главной странице</a> документации. Перечислим все столбцы таблицы результатов:</p>
<ul>
<li>Инструмент - название финансового инструмента;</li>
<li>Контрольное качество - качество стратегии на контрольных данных, функция от прибыли, количества сделок, доли прибыльных сделок и т.п.</li>
</ul>
<p><strong>Все поля ниже считаются только по тестовым данным:</strong></p>
<ul>
<li>Инструмент - название финансового инструмента, на котором получен данный результат, всего представлено 16 инструментов Московской биржи;</li>
<li>P&amp;L - прибыль или убыток (если значение меньше 0) стратегии на всей тестовой выборке, в процентах;</li>
<li><p>Тестовый результат - это виртуальное количество очков рейтинга, которые бы получила стратегия, если бы была запущена в онлайн не тестовой выборке;</p>
</li>
<li><p>Стандартное отклонение - мера устойчивости величины прибыли во времени на протяжении тестирования;</p>
</li>
<li><p>Количество сделок - количество совершенных сделок, открытие и закрытие позиции учитываются как одна сделка;</p>
</li>
<li><p>Выход по TP - прибыль по сделкам, закрывшимся по параметру takeProfit;</p>
</li>
<li><p>Выход по HP - прибыль или убыток по сделкам, закрывшимся по параметру holdingPeriod;</p>
</li>
<li><p>Выход по SL - убыток по сделкам, закрывшимся по параметру stopLoss;</p>
</li>
<li><p>Тестовое качество - общая мера качества стратегии (является функцией от соотношения прибыльных и убыточных сделок, суммарного P&amp;L, средней прибыли и среднего убытка по сделкам и количества сделок).</p>
</li>
<li><p>Заявки - CSV файл с заявками;</p>
</li>
<li><p>Сделки - CSV файл со сделками.</p>
</li>
</ul>
<p>Одна ваша стратегия запускается независимо на каждом из 16 инструментов.</p>
<p>Задача бэктеста запустить вашу стратегию, получить от неё заявки (вызовы функции order) и перевести их в сделки. Правило перевода из заявок в сделки следующее:</p>
<p><strong>Если на данный момент сделка не открыта и приходит заявка, зайти на рынок по этой заявке по цене закрытия следующего тика. Если сделка открыта и приходит заявка, проигнорировать заявку. Закрыть сделку по цене закрытия следующего тика, когда выполнено одно из условий заявки, по которой открыта сделка, то есть takeProfit, stopLoss или holdPeriod и вычесть комиссию из прибыли по сделке.</strong></p>
<p>Удобнее всего анализировать сделки на графике. Кликнув на название инструмента, открывается график истории и P&amp;L. Моменты входа в сделку отмечаются <strong>желтым</strong> кружком с соответствующей буквой <strong>B - buy</strong> или <strong>S - sell</strong>. Прибыльные сделки отмечаются зеленым кружком(сделки вышедшие по takeProfit и прибыльные по holdPeriod), убыточные красным (сделки вышедшие по stopLoss и убыточные по holdPeriod). Приняты следующие буквенные обозначения: <strong>P - takeProfit</strong>, <strong>L - stopLoss</strong>, <strong>H - holdPeriod.</strong></p>
<h1 id="%D1%87%D1%82%D0%BE-%D0%B4%D0%B0%D0%BB%D1%8C%D1%88%D0%B5">Что дальше?</h1>
<ol>
<li>Попробуйте изменить параметры стратегии, размер окна, величины takeProfit и посмотреть, как это отражается на результатах. <strong>Помните, что мы не рекомендуем отправлять вычислительно сложные стратегии без предварительного тестирования на </strong><a href="https://bcsquants.com/doc/localtest/"><strong>локальном бэктесте</strong></a><strong>. </strong></li>
<li>В примере используется стандартное скользящее среднее, это самый известный технический индикатор. Вы можете найти описание многих других индикаторов в <a href="http://vk.com/bcsquants">нашей группе</a> и в Интернете. Предварительно посмотреть некоторые индикаторы можно на графике, нажав на кнопку Индикаторы <img src="https://bcsquants.com/filer/sharing/1484827830/5/" alt=""></li>
<li>Воплощайте разные идеи, читайте документацию. Не забудьте, что у вас только <strong>10 посылок в онлайн</strong> и вам нужно грамотно ими распорядиться за период соревнования. Мы всегда готовы помочь вам, просто пишите нам на почту <strong>support@bcsquants.com</strong> или в чат.</li>
</ol>

