<h1 id="%D0%B7%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5-%D1%82%D0%B5%D1%81%D1%82%D0%B8%D1%80%D0%BE%D0%B2%D1%89%D0%B8%D0%BA%D0%B0%D0%BC">Задание тестировщикам</h1>
<p>Добро пожаловать на закрытое тестирование платформы QuantForces. Вы можете помочь проекту, выполнив указанные ниже шаги частично или полностью. Все участники, приславшие свои отчеты, будут отмечены на специальной странице сайта. Возможно когда-нибудь мы станем большими и пара часов потраченная сегодня окажется для вас очень выгодной инвестицией. Представьте, что например сейчас бы оказались в соавторах kaggle или codeforces.</p>
<p>Прежде чем начать, хочу предупредить, что мы находимся на стадии альфа тестирования, когда вы будете получать развернутый Exception, интерфейсы не зафиксированы, и сами мы еще не поняли, а что собственно нужно было сделать. Но у нас есть, что показать. От тестировщика ожидается инициативность и любые предложение и замечания рассматриваются. С нами можно связаться лично, написав на адрес admin@quantforces.com, также не забывайте про возможность комментирования на этой странице.</p>
<p>Задание:</p>
<ol>
<li>Посмотрите наш <a href="http://quantforces.com">лэндинг</a> и проникнитесь духом этого соревнования</li>
<li>Зарегистрируйтесь и авторизуйтесь</li>
<li>Прочитйте всю документацию, начиная со страницы <a href="http://bcs.quantforces.com">документация</a></li>
<li>Отправьте тестовую стратегию в систему из примеров документации</li>
<li>Отправьте 10 разных стратегий в систему. У каждой стратегии есть id, его видно в адресе страницы. Сформируйте список пар (id, комментарий), в комментарии напишите ваши замечания. Например, стратегия показывает странный результат в параметре numDeals, если всё хорошо просто напишите OK</li>
<li>Пришлите письмо на адрес admin@quantforces.com с ответами на следующие вопросы:<ol>
<li>Коротко о себе, какой опыт в торговле и программировании. Если учитесь то где и на каком курсе?</li>
<li>После прочтения документации и запуска тестового примера у вас было ощущение, что вы ничего не поняли и если бы вы не знали этого и этого, то никогда бы не разобрались?</li>
<li>Считаете ли вы, что достаточно языка python для разработки стратегий или было бы гораздо круче добавить еще парочку? Если да, то каких?</li>
<li>Вы внимательно прочитали документацию? Какие места на ваш взгляд плохо освещены? Какие темы из финансов или программирования стратегий стоит расписать подробнее?</li>
<li>Если бы вы были автором документации то, какой пример стратегии на ваш взгляд сделал бы ваше усвоение платформы быстрее?</li>
<li>Всё ли было понятно с описанием логики стратегии, вы сразу врубились во все эти тэйк профиты и холды(если не знали раньше)? Думаете 5-классник сможет запрогать нам робота?</li>
<li>Как вам сообщения об ошибках, насколько они легко помогают найти проблему в программе? Что бы вы улучшили?</li>
<li>Расскажите о своей мотивации. Будете ли вы участвовать в соревновании?</li>
<li>Как у вас с python? Какие библиотеки посоветуете поставить для запуска стратегий?</li>
</ol>
</li>
</ol>

