<p>Торговая стратегия – это алгоритм совершения сделок на бирже (покупка или продажа фиксированного лота на различных инструментах биржи). Для написания стратегии вам доступен язык программирования python и популярные библиотеки, подробнее в разделе <a href="https://bcsquants.com/doc/localtest/">Локальное тестирование</a> -&gt; Зависимости</p>
<p>Для отправки стратегии, зайдите в <a href="https://bcsquants.com/send/">Создать стратегию</a></p>
<p><img src="https://bcsquants.com/filer/sharing/1484666345/3/" alt=""></p>
<p>Коротко разберем, что из себя представляет стратегия, для более подробного описания читайте раздел <a href="https://bcsquants.com/doc/attempt/">Стратегия</a></p>
<p>Вы видите 2 python функции <strong>init(self)</strong> и <strong>tick(self, data)</strong>.</p>
<p>В функции <strong>init(self)</strong> вы создаете новые поля и сохраняете их в переменную <strong>self.</strong> Такие поля как <strong>alpha</strong> и <strong>holdPeriod</strong> являются пользовательскими. Поля, начинающиеся с нижнего подчеркивания являеются настройками бэктеста. На данный момент доступны 2 настройки:</p>
<p><strong>_tickSize</strong> - размер <strong>тика</strong>, может принимать одно из значений <strong>[&#39;&#39;m5&#39;, &#39;m1&#39;, &#39;s5&#39;, &#39;s1]</strong>. Где &#39;m5&#39; означает 5 минут, а &#39;s1&#39; 1 секунда. Это поле определяет сколько данных получит ваша стратегия, соответственно если вы выберете s1, то получите в 60*5=300 раз больше данных, чем если выберете m5. Мы не рекомендуем использовать s1, пока вы не проверили вашу стратегию на локальном тестировании, так как время одного полного тестирования может начинаться от 20 минут. Стратегии с m5 вы можете без проблем тестировать в браузере.</p>
<p><strong>_window</strong> - длина окна <strong>в тиках. </strong>Понятие окна напрямую связано с переменной <strong>data</strong></p>
<p>В функции <strong>tick(self, data) </strong>происходит основная работа. Эта функция вызывается в основном цикле бэктеста при итерации по историческим данным. <strong>self</strong> в функции <strong>tick</strong>, тот же самый что и в функции <strong>init</strong>. Исторические данные доступны в переменной <strong>data </strong>- словарь с ключами<strong> [&#39;time&#39;, &#39;open&#39;, &#39;high&#39;, &#39;low&#39;, &#39;close&#39;, &#39;volume&#39;, &#39;count&#39;] </strong>и значениями <strong>numpy array. </strong>Для тех, кто пока не знаком с библиотекой <strong>numpy</strong>, можно считать, что это просто стандартный <strong>python list</strong> со сверхспособностями(например вычисление среднего по спику функцией <strong>mean</strong>)</p>
<ul>
<li>time - numpy array datetime, время начала тика</li>
<li>open - numpy array float, цена открытия тика</li>
<li>high - numpy array float, максимальная цена тика</li>
<li>low - numpy array float, минимальная цена тика</li>
<li>close - numpy array float, цена закрытия тика</li>
<li>volume - numpy array int, объём тика</li>
<li>count - numpy array int, количество сделок тика</li>
</ul>
<p>Подробнее о тиках смотрите в <a href="https://bcsquants.com/doc/data/">Данные</a> -&gt; Тики</p>
<p>Чтобы обратиться к списку цен закрытия используйте <strong>data[&#39;close&#39;]</strong>. Длина всех списков в <strong>data</strong> всегда одинаковая.  Если вы определили длину окна <strong>self._window,</strong> то длина списков всегда будет равна длине окна(то есть тестирование начнется не с первого тика, а с размера окна). Если вы присвоите <strong>None</strong> в длину окна или совсем удалите эту настройку, то длина списков будет расширяться от одного до длины истории, то есть в любой момент времени вам будет доступна вся известная на данный момент история начиная с одного тика.</p>
<p>В каждый момент вызова функции <strong>tick</strong>, вы можете отправить сигнал, используя фунцию <strong>order(direct, takeProfit, stopLoss, holdPeriod)</strong></p>
<ul>
<li>direct - python str, принимает значение из [&#39;buy&#39;, &#39;sell&#39;], определяет покупает робот или продаёт</li>
<li>takeProfit - python float, верхняя граница вашего сигнала</li>
<li>stopLoss - python float, нижняя граница вашего сигнала</li>
<li>holdPeriod - python int, размер в <strong>тиках </strong>продолжительности сигнала</li>
</ul>
<p>Подробнее о формате сигналов смотрите в <a href="https://bcsquants.com/doc/attempt/">Стратегия</a> -&gt; Сигналы</p>
<p>Немного поняв, что происходит перейдём дальше. Нажмите отправить стратегию и вы попадете на экран финансового результата стратегии</p>
<p><img src="https://bcsquants.com/filer/sharing/1484666581/4/" alt=""></p>
<p>Это экран на котором вы будете проводить большую часть времени, здесь вы можете анализировать поведение вашей торговой стратегии на истории, давайте по порядку познакомимся с основными понятиями в таблице и на графике</p>
<p>Прежде всего напомним, что исторические данные разделены на тестовые и контрольные дни, об этом написано на <a href="https://bcsquants.com/doc/">главной странице</a> документации. Перечислим все столбцы таблицы результатов:</p>
<ul>
<li>Тикер</li>
</ul>
<p>Одна ваша стратегия запускается независимо на каждом из 16 инструментов</p>

